Repository JacobPEvans/nix-darwin: changes, and which pre-commit hooks are due for each by the changed paths.
All: nix-fmt-check, nix-statix, nix-deadnix, validate-claude-settings, validate-permission-wildcards, file-size-check, lychee, validate-auto-claude-scripts, validate-orchestrator-prompt, validate-npm-urls, validate-brew-before-npm, validate-nix-before-all, validate-package-freshness

nix-fmt-check:
  name: Nix formatting (nixfmt-rfc-style)
  entry: 'bash -c ''nixfmt --check "$@" || (echo "Run: nix fmt"; exit 1)'' --'
  language: system

nix-statix:
  name: Nix linting (statix)
  entry: statix check
  language: system
  pass_filenames: false

nix-deadnix:
  name: Nix dead code (deadnix)
  entry: deadnix -L --fail
  language: system
  pass_filenames: false

validate-claude-settings:
  name: Validate Claude settings
  entry: nix shell nixpkgs#check-jsonschema -c check-jsonschema --schemafile https://json.schemastore.org/claude-code-settings.json
  language: system

validate-permission-wildcards:
  name: Check for invalid :*:* permission patterns
  ...

file-size-check:
  name: File size check (6KB warn, 12KB fail)
  entry: scripts/workflows/check-file-sizes.sh
  language: system
  pass_filenames: false

lychee:
  name: Lychee link checker
  entry: lychee
  language: system
  pass_filenames: true

validate-auto-claude-scripts:
  name: Validate auto-claude shell scripts
  entry: bash -c 'find modules/home-manager/ai-cli/claude -name "auto-claude*.sh" -exec zsh -n {} \; || exit 1'
  language: system
  pass_filenames: false

validate-orchestrator-prompt:
  name: Validate orchestrator prompt
  entry: bash -c 'f="modules/home-manager/ai-cli/claude/orchestrator-prompt.txt"; test -s "$f" && grep -q "CORE LOOP" "$f" && grep -q "IDENTITY" "$f"'
  language: system
  pass_filenames: false

validate-npm-urls:
  name: Validate npm package URLs
  entry: scripts/validate-npm-urls.sh
  language: system
  pass_filenames: false

validate-brew-before-npm:
  name: Check homebrew before npm/bunx (hierarchy)
  entry: scripts/validate-brew-before-npm.sh
  language: system
  pass_filenames: false

validate-nix-before-all:
  name: Check nixpkgs before all others (hierarchy)
  entry: scripts/validate-nix-before-all.sh
  language: system
  pass_filenames: false

validate-package-freshness:
  name: Validate package freshness (staleness check)
  entry: scripts/validate-package-freshness.sh
  language: system
  pass_filenames: false

chore(deps): update all flake inputs
  flake.lock
Due: validate-package-freshness

chore(deps): bump nix-ai for ccstatusline and buildEnv fixes (#1076)
  flake.lock
Due: validate-package-freshness

feat(homebrew): add openwebstart cask for iDRAC6 vKVM access
  modules/darwin/homebrew.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check, validate-nix-before-all

fix(homebrew): remove contradictory greedy comment for openwebstart
  modules/darwin/homebrew.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check, validate-nix-before-all

fix(launchd): disable orbstack-background agent and remove procps shadow
  MANIFEST.md
  hosts/macbook-m4/default.nix
  modules/darwin/common.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check, lychee

chore: remove cspell spell checker
  CHANGELOG.md
Due: file-size-check, lychee

docs: add WHY comment to background.enable = false
  hosts/macbook-m4/default.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

chore: remove cspell spell checker (#1084)
  CHANGELOG.md
Due: file-size-check, lychee

fix(nixpkgs): disable pgvector check phase to unblock darwin builds
  modules/darwin/common.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix(nixpkgs): use _ for unused overlay arg (statix)
  modules/darwin/common.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix(nixpkgs): use overridePythonAttrs to properly excise pgvector check inputs
  modules/darwin/common.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix(nixpkgs): also disable accelerate check phase on darwin
  modules/darwin/common.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

refactor: extract pgvector+accelerate overlay to dedicated file
  modules/darwin/common.nix
  overlays/python-darwin-test-fixes.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

feat(homebrew): add firefox cask and add to dock
  MANIFEST.md
  modules/darwin/dock/persistent-apps.nix
  modules/darwin/homebrew.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check, lychee, validate-nix-before-all

fix(review): apply gemini suggestions — remove redundant trailing comment, add TCC rationale to MANIFEST
  MANIFEST.md
  modules/darwin/homebrew.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check, lychee, validate-nix-before-all

fix(checks): make module-eval compatible with nix flake check --no-build
  lib/checks.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix(ci): opt out of --all-systems for nix-validate
  .github/workflows/ci-gate.yml
  .github/workflows/ci-validate.yml
Due: none

fix(ci): opt out of --all-systems for nix-validate (#1093)
  .github/workflows/ci-gate.yml
  .github/workflows/ci-validate.yml
Due: none

fix(deps): update jacobpevans-cc-plugins to 3.4.2 (git-guard -C fix)
  flake.lock
Due: validate-package-freshness

fix(deps): update jacobpevans-cc-plugins to 3.4.2 (git-guard -C fix) (#1096)
  flake.lock
Due: validate-package-freshness

fix(flake): scope checks to x86_64-linux; restore --all-systems default
  .github/workflows/ci-gate.yml
  .github/workflows/ci-validate.yml
  flake.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix(flake): scope checks to x86_64-linux; restore --all-systems default (#1101)
  .github/workflows/ci-gate.yml
  .github/workflows/ci-validate.yml
  flake.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

feat(ci): migrate Linux CI to self-hosted RunsOn runners
  .github/workflows/_claude-settings.yml
  .github/workflows/ci-gate.yml
  .github/workflows/ci-package-staleness.yml
Due: none

chore(deps): bump nix-ai + nix-home to pick up hash and test-skip fixes
  flake.lock
Due: validate-package-freshness

fix(ci): guard self-hosted runners from fork PRs
  .github/workflows/ci-gate.yml
  .github/workflows/ci-package-staleness.yml
Due: none

chore(deps): full flake input update (nix-ai, nix-home, nixpkgs) (#1106)
  flake.lock
Due: validate-package-freshness

feat(ci): migrate Linux CI to self-hosted RunsOn runners (#1104)
  .github/workflows/_claude-settings.yml
  .github/workflows/ci-gate.yml
  .github/workflows/ci-package-staleness.yml
Due: none

Path conditions:
  nix-fmt-check: any of: \.nix$, but not: ^worktrees/
  nix-statix: any of: \.nix$, but not: ^worktrees/
  nix-deadnix: any of: \.nix$, but not: ^worktrees/
  validate-claude-settings: any of: \.claude/settings(\.local)?\.json$ and \.json$
  validate-permission-wildcards: any of: modules/home-manager/ai-cli/(common/(formatters|permissions)|claude-config)\.nix$
  file-size-check: any of: \.(md|nix)$
  lychee: any of: \.(md|html)$
  validate-auto-claude-scripts: any of: ^modules/home-manager/ai-cli/claude/auto-claude.*\.sh$
  validate-orchestrator-prompt: any of: ^modules/home-manager/ai-cli/claude/orchestrator-prompt\.txt$
  validate-npm-urls: any of: ^modules/home-manager/ai-cli/ai-tools\.nix$
  validate-brew-before-npm: any of: ^modules/home-manager/ai-cli/ai-tools\.nix$
  validate-nix-before-all: any of: ^modules/darwin/homebrew\.nix$
  validate-package-freshness: any of: ^flake\.lock$
