Repository JacobPEvans/nix-darwin: changes, and which pre-commit hooks are due for each by the changed paths.
All: nix-flake-check, validate-claude-settings, file-size-check, validate-auto-claude-scripts, validate-orchestrator-prompt, update-flake-inputs

nix-flake-check:
  name: Nix quality checks (format + lint + deadnix)
  entry: nix flake check --no-build --print-build-logs
  language: system
  pass_filenames: false

validate-claude-settings:
  name: Validate Claude settings
  entry: check-jsonschema --schemafile https://json.schemastore.org/claude-code-settings.json
  language: system

file-size-check:
  name: File size check (6KB warn, 12KB fail)
  entry: scripts/workflows/check-file-sizes.sh
  args:
  - CLAUDE ANTHROPIC-ECOSYSTEM TROUBLESHOOTING
  - RUNBOOK copilot-permissions-allow copilot-permissions-ask copilot-permissions-deny gemini-permissions-allow gemini-permissions-deny
  language: system
  ...

validate-auto-claude-scripts:
  name: Validate auto-claude shell scripts
  entry: bash -c 'shopt -s nullglob; rc=0; for f in modules/home-manager/ai-cli/claude/auto-claude*.sh; do zsh -n "$f" || rc=1; done; exit $rc'
  language: system
  pass_filenames: false

validate-orchestrator-prompt:
  name: Validate orchestrator prompt
  entry: bash -c 'f="modules/home-manager/ai-cli/claude/orchestrator-prompt.txt"; test -s "$f" && grep -q "CORE LOOP" "$f" && grep -q "IDENTITY" "$f"'
  language: system
  pass_filenames: false

update-flake-inputs:
  name: Update flake inputs (nixpkgs, ai-assistant-instructions, agent-os, nix-config-main)
  entry: nix flake lock --update-input nixpkgs --update-input ai-assistant-instructions --update-input agent-os --update-input nix-config-main
  language: system
  pass_filenames: false

fix: address PR review feedback
  modules/home-manager/ai-cli/common/formatters.nix
  modules/home-manager/ai-cli/common/permissions.nix
  modules/home-manager/ai-cli/gemini.nix
Due: nix-flake-check, file-size-check, update-flake-inputs

chore(deps): update ai-assistant-instructions flake input
  flake.lock
Due: none

fix(gemini): use tools.allowed instead of tools.core for auto-approval (#180)
  AGENTS.md
  docs/PERMISSIONS.md
  modules/home-manager/ai-cli/claude-config.nix
  modules/home-manager/ai-cli/common/default.nix
  modules/home-manager/ai-cli/common/formatters.nix
  modules/home-manager/ai-cli/common/permissions.nix
  modules/home-manager/ai-cli/gemini.nix
  modules/home-manager/common.nix
  modules/home-manager/git/config.nix
  modules/home-manager/permissions/gemini-permissions-allow.nix
  modules/home-manager/permissions/gemini-permissions-ask.nix
Due: nix-flake-check, file-size-check, update-flake-inputs

feat(ai-cli): migrate Claude permissions to unified system
  modules/home-manager/ai-cli/claude-config.nix
  modules/home-manager/ai-cli/claude.nix
  modules/home-manager/ai-cli/common/allow.nix
  modules/home-manager/ai-cli/common/formatters.nix
  modules/home-manager/ai-cli/common/permissions.nix
  modules/home-manager/common.nix
  modules/home-manager/git/config.nix
  modules/home-manager/permissions/claude-permissions-allow.nix
  modules/home-manager/permissions/claude-permissions-ask.nix
  modules/home-manager/permissions/claude-permissions-deny.nix
Due: nix-flake-check, file-size-check, update-flake-inputs

feat(review): add AI code review instructions for Copilot and Gemini
  .github/instructions/DO-NOT-REVIEW.md
  .github/instructions/code-review-general.instructions.md
  .github/instructions/documentation.instructions.md
  .github/instructions/nix-specific.instructions.md
  GEMINI.md
Due: file-size-check

fix(activation): replace exit 0 with proper control flow
  modules/home-manager/nix-config-symlink.nix
Due: nix-flake-check, file-size-check, update-flake-inputs

fix: Add explicit logging for shell config sourcing failures (#170)
  modules/home-manager/ai-cli/claude/auto-claude.sh
Due: validate-auto-claude-scripts

fix(docs): update command references for ai-assistant-instructions PR #209 (#181)
  AGENTS.md
  agent-os/specs/claude-plugin-migration/spec.md
  agent-os/specs/claude-plugin-migration/tasks.md
  docs/ANTHROPIC-ECOSYSTEM.md
  flake.lock
  modules/home-manager/ai-cli/claude/orchestrator-prompt.txt
  modules/home-manager/nix-config-symlink.nix
Due: nix-flake-check, file-size-check, validate-orchestrator-prompt, update-flake-inputs

fix: handle filenames with spaces in check-file-sizes.sh (#168)
  scripts/workflows/check-file-sizes.sh
Due: none

fix(monitoring): consolidate home attributes to avoid statix warning
  modules/monitoring/default.nix
Due: nix-flake-check, file-size-check, update-flake-inputs

feat: enable bare repo + worktree workflow
  modules/home-manager/git/config.nix
Due: nix-flake-check, file-size-check, update-flake-inputs

feat: add custom file extension associations for .spl and .crbl archives (#127)
  modules/darwin/common.nix
  modules/darwin/file-associations.nix
Due: nix-flake-check, file-size-check, update-flake-inputs

feat: enable system-level OrbStack installation via nix-darwin module
  hosts/macbook-m4/default.nix
  hosts/macbook-m4/home.nix
  modules/darwin/apps/orbstack.nix
  modules/darwin/common.nix
Due: nix-flake-check, file-size-check, update-flake-inputs

feat: enhance Claude statusline with worktree detection (#108)
  modules/home-manager/ai-cli/claude/statusline/powerline.nix
Due: nix-flake-check, file-size-check, update-flake-inputs

fix: Remove bypassPermissions from auto-claude for security (#154)
  modules/home-manager/ai-cli/claude/auto-claude.sh
  modules/home-manager/ai-cli/claude/orchestrator-prompt.txt
Due: validate-auto-claude-scripts, validate-orchestrator-prompt

refactor: split large permission file into category-specific modules
  modules/home-manager/ai-cli/common/allow.nix
  modules/home-manager/ai-cli/common/allow/cloud.nix
  modules/home-manager/ai-cli/common/allow/containers.nix
  modules/home-manager/ai-cli/common/allow/git.nix
  modules/home-manager/ai-cli/common/allow/languages.nix
  modules/home-manager/ai-cli/common/allow/nix.nix
  modules/home-manager/ai-cli/common/allow/system.nix
  modules/home-manager/ai-cli/common/allow/tools.nix
Due: nix-flake-check, file-size-check, update-flake-inputs

fix: correct regex pattern in auto-claude-ctl.sh schedule command
  modules/home-manager/ai-cli/claude/auto-claude-ctl.sh
Due: validate-auto-claude-scripts

feat(ai-cli): add basic OpenCode support
  modules/darwin/common.nix
  modules/home-manager/ai-cli/opencode.nix
  modules/home-manager/common.nix
  modules/home-manager/permissions/opencode-permissions-allow.nix
  modules/home-manager/permissions/opencode-permissions-deny.nix
Due: nix-flake-check, file-size-check, update-flake-inputs

docs: document shell aliases including ll@ for extended attributes (#193)
  RUNBOOK.md
Due: file-size-check

feat: add automatic Nix garbage collection schedule
  modules/darwin/common.nix
  modules/linux/common.nix
Due: nix-flake-check, file-size-check, update-flake-inputs

feat: enhance git worktree workflow with helper functions and aliases
  modules/home-manager/git/aliases.nix
  modules/home-manager/zsh/git-functions.zsh
Due: nix-flake-check, file-size-check, update-flake-inputs

fix: use inherit for theme and defaultModel (statix)
  modules/home-manager/ai-cli/opencode/settings.nix
Due: nix-flake-check, file-size-check, update-flake-inputs

feat: add .spl and .crbl extension mappings for tar.gz archives
  docs/FILE-EXTENSIONS.md
  docs/README.md
  hosts/macbook-m4/default.nix
  modules/darwin/common.nix
  modules/darwin/file-extensions.nix
Due: nix-flake-check, file-size-check, update-flake-inputs

fix(darwin): use environment.etc for auto-optimise-store setting
  modules/darwin/common.nix
Due: nix-flake-check, file-size-check, update-flake-inputs

fix: use remote URL detection for more robust repo identification
  .claude/hooks/pre-git-push.py
Due: none

fix: make regex pattern more specific while preserving capture groups
  modules/home-manager/ai-cli/claude/auto-claude-ctl.sh
Due: validate-auto-claude-scripts

fix: Remove bypassPermissions from auto-claude for security (#154) (#190)
  modules/home-manager/ai-cli/claude/auto-claude.sh
  modules/home-manager/ai-cli/claude/orchestrator-prompt.txt
Due: validate-auto-claude-scripts, validate-orchestrator-prompt

fix: remove incorrect core.bare global setting
  modules/home-manager/git/config.nix
Due: nix-flake-check, file-size-check, update-flake-inputs

docs(orbstack): improve package.enable description clarity
  modules/darwin/apps/orbstack.nix
Due: nix-flake-check, file-size-check, update-flake-inputs

fix: scope pre-git-push hook to nix-config repo only (#186)
  .claude/hooks/pre-git-push.py
Due: none

fix: address PR #188 review feedback
  TROUBLESHOOTING.md
  modules/home-manager/ai-cli/claude/get-api-key.sh
Due: file-size-check

feat: always show branch and worktree in Claude status line (#197)
  modules/home-manager/ai-cli/claude/statusline/powerline.nix
Due: nix-flake-check, file-size-check, update-flake-inputs

feat: add automatic Nix garbage collection schedule (#196)
  modules/darwin/common.nix
  modules/linux/common.nix
Due: nix-flake-check, file-size-check, update-flake-inputs

feat: enhance Claude statusline with worktree detection (#191)
  modules/home-manager/ai-cli/claude/statusline/powerline.nix
Due: nix-flake-check, file-size-check, update-flake-inputs

feat: enable system-level OrbStack installation via nix-darwin module (#189)
  hosts/macbook-m4/default.nix
  hosts/macbook-m4/home.nix
  modules/darwin/apps/orbstack.nix
  modules/darwin/common.nix
Due: nix-flake-check, file-size-check, update-flake-inputs

fix: improve BWS token validation and error handling (#188)
  TROUBLESHOOTING.md
  modules/home-manager/ai-cli/claude/get-api-key.sh
Due: file-size-check

fix: apply nixfmt formatting to file-associations.nix
  modules/darwin/file-associations.nix
Due: nix-flake-check, file-size-check, update-flake-inputs

Path conditions:
  nix-flake-check: any of: \.nix$, but not: ^worktrees/
  validate-claude-settings: any of: \.claude/settings(\.local)?\.json$ and \.json$
  file-size-check: any of: \.(md|nix)$
  validate-auto-claude-scripts: any of: ^modules/home-manager/ai-cli/claude/auto-claude.*\.sh$
  validate-orchestrator-prompt: any of: ^modules/home-manager/ai-cli/claude/orchestrator-prompt\.txt$
  update-flake-inputs: any of: \.nix$
