Repository JacobPEvans/nix-darwin: changes, and which pre-commit hooks are due for each by the changed paths.
All: nix-fmt-check, nix-statix, nix-deadnix, validate-claude-settings, validate-permission-wildcards, file-size-check, lychee, validate-auto-claude-scripts, validate-orchestrator-prompt, validate-npm-urls, validate-brew-before-npm, validate-nix-before-all, validate-package-freshness

Path conditions:
  nix-fmt-check: any of: \.nix$, but not: ^worktrees/
  nix-statix: any of: \.nix$, but not: ^worktrees/
  nix-deadnix: any of: \.nix$, but not: ^worktrees/
  validate-claude-settings: any of: \.claude/settings(\.local)?\.json$ and \.json$
  validate-permission-wildcards: any of: modules/home-manager/ai-cli/(common/(formatters|permissions)|claude-config)\.nix$
  file-size-check: any of: \.(md|nix)$
  lychee: any of: \.(md|html)$
  validate-auto-claude-scripts: any of: ^modules/home-manager/ai-cli/claude/auto-claude.*\.sh$
  validate-orchestrator-prompt: any of: ^modules/home-manager/ai-cli/claude/orchestrator-prompt\.txt$
  validate-npm-urls: any of: ^modules/home-manager/ai-cli/ai-tools\.nix$
  validate-brew-before-npm: any of: ^modules/home-manager/ai-cli/ai-tools\.nix$
  validate-nix-before-all: any of: ^modules/darwin/homebrew\.nix$
  validate-package-freshness: any of: ^flake\.lock$

fix(ci): guard against nixpkgs binary cache misses
  .github/workflows/_nix-build.yml
  renovate.json5
  scripts/workflows/check-nixpkgs-channel.sh
Due: none

fix(ci): disable fallback source builds in Nix
  .github/workflows/_nix-build.yml
Due: none

fix(ci): tune Nix daemon settings for cache-only builds
  .github/workflows/_nix-build.yml
Due: none

fix(ci): add gh-aw-pin-refresh workflow and recompile lock files
  .github/aw/imports/JacobPEvans/.github/bcee2f9f6fbef38821717bfd2c44e55392068e9b/.github_workflows_shared_repo-health-audit-config.md
  .github/aw/imports/githubnext/agentics/51c8f6ad4357d2ecc06e47120031b3d75e80227d/workflows_ai-moderator.md
  .github/aw/imports/githubnext/agentics/51c8f6ad4357d2ecc06e47120031b3d75e80227d/workflows_ci-doctor.md
  .github/aw/imports/githubnext/agentics/51c8f6ad4357d2ecc06e47120031b3d75e80227d/workflows_daily-malicious-code-scan.md
  .github/aw/imports/githubnext/agentics/51c8f6ad4357d2ecc06e47120031b3d75e80227d/workflows_link-checker.md
  .github/aw/imports/githubnext/agentics/51c8f6ad4357d2ecc06e47120031b3d75e80227d/workflows_sub-issue-closer.md
  .github/workflows/agentics-maintenance.yml
  .github/workflows/ai-moderator.lock.yml
  .github/workflows/ci-doctor.lock.yml
  .github/workflows/daily-malicious-code-scan.lock.yml
  .github/workflows/gh-aw-pin-refresh.yml
  .github/workflows/link-checker.lock.yml
  .github/workflows/repo-health-audit.lock.yml
  .github/workflows/sub-issue-closer.lock.yml
Due: file-size-check, lychee

fix: remove stale gh-aw import cache from previous upstream version
  .github/aw/imports/githubnext/agentics/aae6af93b4035df74630817afa13c528d6b74fe6/workflows_ai-moderator.md
  .github/aw/imports/githubnext/agentics/aae6af93b4035df74630817afa13c528d6b74fe6/workflows_ci-doctor.md
  .github/aw/imports/githubnext/agentics/aae6af93b4035df74630817afa13c528d6b74fe6/workflows_daily-malicious-code-scan.md
  .github/aw/imports/githubnext/agentics/aae6af93b4035df74630817afa13c528d6b74fe6/workflows_link-checker.md
  .github/aw/imports/githubnext/agentics/aae6af93b4035df74630817afa13c528d6b74fe6/workflows_sub-issue-closer.md
Due: file-size-check, lychee

fix(deps): update ClaudeBar to 0.4.59
  .github/workflows/deps-update-flake.yml
  packages/claudebar.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix(deps): update ClaudeBar to 0.4.59 (#1038)
  .github/workflows/deps-update-flake.yml
  packages/claudebar.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix(ci): extract nixpkgs channel name dynamically and add curl timeout
  scripts/workflows/check-nixpkgs-channel.sh
Due: none

fix(ci): fix jq null-match error and narrow channel pattern to -darwin
  scripts/workflows/check-nixpkgs-channel.sh
Due: none

fix(ci): guard against nixpkgs binary cache misses (#1034)
  .github/workflows/_nix-build.yml
  renovate.json5
  scripts/workflows/check-nixpkgs-channel.sh
Due: none

refactor(cribl): use native Nix packaging and declarative launchd
  .gitignore
  flake.nix
  hosts/macbook-m4/default.nix
  modules/darwin/apps/cribl-edge.nix
  modules/darwin/apps/orbstack.nix
  modules/darwin/apps/scripts/cribl-edge-activate.sh
  packages/cribl-edge.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

style: apply nixfmt-rfc-style to cribl files
  modules/darwin/apps/cribl-edge.nix
  packages/cribl-edge.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

refactor(cribl): address review feedback; tighten packaging
  modules/darwin/apps/cribl-edge.nix
  modules/darwin/apps/orbstack.nix
  modules/darwin/apps/scripts/cribl-edge-activate.sh
  modules/darwin/apps/scripts/cribl-edge-start.sh
  packages/cribl-edge.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

refactor(cribl): replace install script with native Nix packaging
  .gitignore
  flake.nix
  hosts/macbook-m4/default.nix
  modules/darwin/apps/cribl-edge.nix
  modules/darwin/apps/orbstack.nix
  modules/darwin/apps/scripts/cribl-edge-activate.sh
  modules/darwin/apps/scripts/cribl-edge-start.sh
  packages/cribl-edge.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix(ci): fix silent deps-update failures + add Slack failure notifications
  .github/workflows/ci-fail-issue.yml
  .github/workflows/deps-update-flake.yml
  .github/workflows/notify-ci-fail.yml
Due: none

fix(ci): remove branches filter so CI Gate on PRs also triggers notifications
  .github/workflows/notify-ci-fail.yml
Due: none

chore(deps): bump nix-ai to pull in claude-latest and AI aliases
  flake.lock
Due: validate-package-freshness

revert(ci): drop CI failure Slack notifications
  .github/workflows/ci-fail-issue.yml
  .github/workflows/notify-ci-fail.yml
Due: none

fix(ci): fix silent deps-update failures (runner OS bug) (#1047)
  .github/workflows/deps-update-flake.yml
Due: none

fix(ci): inline shared health-audit config to break runtime-import dep (#185)
  .github/workflows/repo-health-audit.md
Due: file-size-check, lychee

feat(darwin): :sparkles: apple-silicon-tunables for AI inference workloads
  hosts/macbook-m4/default.nix
  modules/darwin/apple-silicon-tunables.nix
  modules/darwin/common.nix
  modules/darwin/scripts/apple-silicon-tunables.sh
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

style(darwin): :art: nixfmt apple-silicon-tunables.nix
  modules/darwin/apple-silicon-tunables.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix(darwin): :lock: shell-escape inputs + warn on missing tunables targets
  modules/darwin/apple-silicon-tunables.nix
  modules/darwin/scripts/apple-silicon-tunables.sh
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

feat(darwin): :sparkles: apple-silicon-tunables for AI inference workloads (#1056)
  hosts/macbook-m4/default.nix
  modules/darwin/apple-silicon-tunables.nix
  modules/darwin/common.nix
  modules/darwin/scripts/apple-silicon-tunables.sh
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

feat(macbook-m4): :sparkles: enable programs.mlx
  hosts/macbook-m4/home.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

style(macbook-m4): sort programs blocks alphabetically (claude → mlx → zsh)
  hosts/macbook-m4/home.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

feat(macbook-m4): enable programs.mlx (#1061)
  hosts/macbook-m4/home.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix(claude): remove dead auto-claude references
  .claude/hooks/pre-git-push.py
  CONTRIBUTING.md
  MANIFEST.md
  TROUBLESHOOTING.md
  lib/checks.nix
  lib/user-config.nix
  modules/darwin/common.nix
  tests/shell/test_auto_claude_args.bats
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check, lychee

fix(ci): migrate GitHub App credentials to canonical generic names
  .github/workflows/deps-update-flake.yml
  .github/workflows/gh-aw-pin-refresh.yml
  .github/workflows/release-please.yml
Due: none

docs(commands): replace auto-claude worktree-cleanup notes
  .claude/commands/flake-rebuild.md
  .claude/commands/quick-add-package.md
Due: file-size-check, lychee

fix(claude): remove dead auto-claude references
  .claude/commands/flake-rebuild.md
  .claude/commands/quick-add-package.md
  .claude/hooks/pre-git-push.py
  CONTRIBUTING.md
  MANIFEST.md
  TROUBLESHOOTING.md
  lib/checks.nix
  lib/user-config.nix
  modules/darwin/common.nix
  tests/shell/test_auto_claude_args.bats
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check, lychee

fix(ci): remove deprecated app-id secret passthrough
  .github/workflows/deps-update-flake.yml
  .github/workflows/gh-aw-pin-refresh.yml
  .github/workflows/release-please.yml
Due: none

chore(deps): update nix-home to 806e7bc (kvazaar test-skip fix)
  flake.lock
Due: validate-package-freshness

chore(deps): update nix-home to 806e7bc (kvazaar test-skip fix) (#1067)
  flake.lock
Due: validate-package-freshness

fix(renovate): correct cribl-edge customManager file path and schema
  packages/cribl-edge.nix
  renovate.json5
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

feat(homebrew): consume nix-ai's lib.brewFormulae for per-agent formulae
  flake.nix
  modules/darwin/homebrew.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check, validate-nix-before-all

fix(homebrew): dedupe agentBrewFormulae concat (review feedback)
  modules/darwin/homebrew.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check, validate-nix-before-all

chore(deps): bump nix-ai to fix ccstatusline regression and buildEnv conflicts
  flake.lock
Due: validate-package-freshness
