Repository JacobPEvans/nix-darwin: changes, and which pre-commit hooks are due for each by the changed paths.
All: nix-fmt-check, nix-statix, nix-deadnix, validate-claude-settings, file-size-check, validate-auto-claude-scripts, validate-orchestrator-prompt

Path conditions:
  nix-fmt-check: any of: \.nix$, but not: ^worktrees/
  nix-statix: any of: \.nix$, but not: ^worktrees/
  nix-deadnix: any of: \.nix$, but not: ^worktrees/
  validate-claude-settings: any of: \.claude/settings(\.local)?\.json$ and \.json$
  file-size-check: any of: \.(md|nix)$
  validate-auto-claude-scripts: any of: ^modules/home-manager/ai-cli/claude/auto-claude.*\.sh$
  validate-orchestrator-prompt: any of: ^modules/home-manager/ai-cli/claude/orchestrator-prompt\.txt$

feat: add wispr-flow voice dictation app (#493)
  modules/darwin/homebrew.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix(mcp): remove empty env blocks to prevent credential injection
  modules/home-manager/ai-cli/mcp/README.md
  modules/home-manager/ai-cli/mcp/default.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix(mcp): use commit hash instead of branch name in fetchFromGitHub
  modules/home-manager/ai-cli/mcp/default.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix(mcp): add correct hash for modelcontextprotocol/servers repo
  modules/home-manager/ai-cli/mcp/default.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix(mcp): correct Docker MCP server and add Context7
  modules/home-manager/ai-cli/mcp/README.md
  modules/home-manager/ai-cli/mcp/default.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

refactor(mcp): use bunx instead of hardcoded Nix store paths
  modules/home-manager/ai-cli/mcp/default.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

feat(mcp): Add Nix-native MCP servers with Docker and Context7 (#494)
  docs/ANTHROPIC-ECOSYSTEM.md
  hosts/macbook-m4/home.nix
  modules/darwin/common.nix
  modules/darwin/dock/persistent-apps.nix
  modules/home-manager/ai-cli/claude-config.nix
  modules/home-manager/ai-cli/claude/plugins/experimental.nix
  modules/home-manager/ai-cli/mcp/README.md
  modules/home-manager/ai-cli/mcp/default.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

feat(mcp): integrate PAL MCP and remove dead code
  docs/ANTHROPIC-ECOSYSTEM.md
  modules/ai-orchestration/agents/default.nix
  modules/ai-orchestration/benchmark/default.nix
  modules/ai-orchestration/default.nix
  modules/ai-orchestration/litellm/default.nix
  modules/ai-orchestration/pal-mcp/default.nix
  modules/ai-orchestration/skills/default.nix
  modules/home-manager/ai-cli/claude-patterns.nix
  modules/home-manager/ai-cli/claude-skills.nix
  modules/home-manager/ai-cli/mcp/default.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

docs(ai-tools): add goose-cli via homebrew with latest version (#496)
  modules/darwin/homebrew.nix
  modules/home-manager/ai-cli/ai-tools.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix(mcp): address PAL MCP review feedback and improve configuration
  docs/ANTHROPIC-ECOSYSTEM.md
  modules/home-manager/ai-cli/mcp/default.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

feat(mcp): integrate PAL MCP and remove dead code (#497)
  docs/ANTHROPIC-ECOSYSTEM.md
  modules/ai-orchestration/agents/default.nix
  modules/ai-orchestration/benchmark/default.nix
  modules/ai-orchestration/default.nix
  modules/ai-orchestration/litellm/default.nix
  modules/ai-orchestration/pal-mcp/default.nix
  modules/ai-orchestration/skills/default.nix
  modules/home-manager/ai-cli/claude-patterns.nix
  modules/home-manager/ai-cli/claude-skills.nix
  modules/home-manager/ai-cli/mcp/default.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix: resolve GitHub code scanning alerts
  .github/workflows/_claude-settings.yml
  .github/workflows/_nix-validate.yml
  .github/workflows/ci-auto-claude.yml
  .github/workflows/ci-eol-check.yml
  .github/workflows/ci-file-length.yml
  .github/workflows/ci-gate.yml
  .github/workflows/ci-markdownlint.yml
  .github/workflows/ci-nix.yml
  .github/workflows/ci-validate-settings.yml
  .github/workflows/ci-validate.yml
  .github/workflows/nixos-release-check.yml
  AGENTS.md
  SECURITY.md
  agentsmd/rules/security-alert-triage.md
Due: file-size-check

docs: clarify workflow permissions guidance in SECURITY.md
  SECURITY.md
Due: file-size-check

feat: add zizmor and semgrep security scanners to pre-commit
  .github/workflows/ai-openhands.yml
  .github/zizmor.yml
  .pre-commit-config.yaml
Due: none

fix: allow nix-build to skip when no Nix files changed
  .github/workflows/ci-gate.yml
Due: none

fix: resolve GitHub code scanning alerts (#499)
  .github/workflows/_claude-settings.yml
  .github/workflows/_nix-validate.yml
  .github/workflows/ai-openhands.yml
  .github/workflows/ci-auto-claude.yml
  .github/workflows/ci-eol-check.yml
  .github/workflows/ci-file-length.yml
  .github/workflows/ci-gate.yml
  .github/workflows/ci-markdownlint.yml
  .github/workflows/ci-nix.yml
  .github/workflows/ci-validate-settings.yml
  .github/workflows/ci-validate.yml
  .github/workflows/nixos-release-check.yml
  .github/zizmor.yml
  .pre-commit-config.yaml
  AGENTS.md
  SECURITY.md
  agentsmd/rules/security-alert-triage.md
Due: file-size-check

feat: add official Claude plugins and pyright tool (#501)
  modules/common/packages.nix
  modules/home-manager/ai-cli/claude/plugins/official.nix
  scripts/validate-package-freshness.sh
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix(plugins): use true source for devops-automator, remove aggregation marketplace
  modules/home-manager/ai-cli/claude/plugins/community.nix
  modules/home-manager/ai-cli/claude/plugins/marketplaces.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

feat(plugins): add community plugins and multi-model integrations (#503)
  modules/darwin/dock/persistent-apps.nix
  modules/home-manager/ai-cli/claude/plugins/community.nix
  modules/home-manager/ai-cli/claude/plugins/development.nix
  modules/home-manager/ai-cli/claude/plugins/experimental.nix
  modules/home-manager/ai-cli/claude/plugins/marketplaces.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

revert: remove skill namespace validation hook
  .claude/hooks/validate-skill-namespace.py
  .claude/settings.json
Due: validate-claude-settings

fix: address PR review feedback on documentation
  agentsmd/rules/skill-namespace-resolution.md
Due: file-size-check

fix: resolve review feedback on namespace confusion documentation
  AGENTS.md
  agentsmd/rules/skill-namespace-resolution.md
Due: file-size-check

fix: prevent Claude from guessing incorrect skill namespaces (#504)
  AGENTS.md
  agentsmd/rules/skill-namespace-resolution.md
Due: file-size-check

fix(ci): allow jacobpevans-github-actions bot in review-deps
  .github/workflows/review-deps.yml
Due: none

refactor: DRY Python shells, remove pip, add Python 3.14
  lib/python-environments.nix
  modules/common/packages.nix
  shells/python310/flake.nix
  shells/python314/flake.nix
  shells/splunk-dev/flake.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

feat: add Python multi-version support (3.10, 3.12) with uv-based 3.9 (#506)
  lib/python-environments.nix
  modules/common/packages.nix
  shells/python310/flake.nix
  shells/python312/flake.nix
  shells/python314/flake.nix
  shells/splunk-dev/flake.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

chore: pin claude-code-plugins to stable release tag v2.1.12
  flake.lock
  flake.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

Revert "chore: pin claude-code-plugins to stable release tag v2.1.12"
  flake.lock
  flake.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

chore(deps): update flake inputs (#507)
  flake.lock
Due: none

chore: remove Splunk k8s manifests, consolidate on Cribl Cloud (#508)
  docs/MONITORING.md
  docs/monitoring/KUBERNETES.md
  docs/monitoring/OLLAMA.md
  docs/monitoring/OTEL.md
  modules/monitoring/default.nix
  modules/monitoring/k8s/README.md
  modules/monitoring/k8s/kustomization.yaml
  modules/monitoring/k8s/otel-collector/README.md
  modules/monitoring/k8s/otel-collector/configmap.yaml
  modules/monitoring/k8s/otel-collector/deployment.yaml
  modules/monitoring/k8s/splunk/configmap.yaml
  modules/monitoring/k8s/splunk/service-ui.yaml
  modules/monitoring/k8s/splunk/service.yaml
  modules/monitoring/k8s/splunk/statefulset.yaml
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

feat: include claude-code in daily AI dependency updates
  .github/workflows/deps-update-flake.yml
  AGENTS.md
  docs/FLAKE_UPDATE_STRATEGY.md
Due: file-size-check

feat: include claude-code in daily AI dependency updates (#511)
  .github/workflows/deps-update-flake.yml
  docs/FLAKE_UPDATE_STRATEGY.md
Due: file-size-check

chore: streamline Claude configuration defaults
  lib/claude-settings.nix
  modules/home-manager/ai-cli/claude-config.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

feat: enable PAL MCP with proper timeouts
  modules/home-manager/ai-cli/claude-config.nix
  modules/home-manager/ai-cli/mcp/default.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check
