Repository JacobPEvans/nix-darwin: changes, and which pre-commit hooks are due for each by the changed paths.
All: nix-fmt-check, nix-statix, nix-deadnix, validate-claude-settings, validate-permission-wildcards, file-size-check, lychee, validate-auto-claude-scripts, validate-orchestrator-prompt, validate-npm-urls, validate-brew-before-npm, validate-nix-before-all, validate-package-freshness

Path conditions:
  nix-fmt-check: any of: \.nix$, but not: ^worktrees/
  nix-statix: any of: \.nix$, but not: ^worktrees/
  nix-deadnix: any of: \.nix$, but not: ^worktrees/
  validate-claude-settings: any of: \.claude/settings(\.local)?\.json$ and \.json$
  validate-permission-wildcards: any of: modules/home-manager/ai-cli/(common/(formatters|permissions)|claude-config)\.nix$
  file-size-check: any of: \.(md|nix)$
  lychee: any of: \.(md|html)$
  validate-auto-claude-scripts: any of: ^modules/home-manager/ai-cli/claude/auto-claude.*\.sh$
  validate-orchestrator-prompt: any of: ^modules/home-manager/ai-cli/claude/orchestrator-prompt\.txt$
  validate-npm-urls: any of: ^modules/home-manager/ai-cli/ai-tools\.nix$
  validate-brew-before-npm: any of: ^modules/home-manager/ai-cli/ai-tools\.nix$
  validate-nix-before-all: any of: ^modules/darwin/homebrew\.nix$
  validate-package-freshness: any of: ^flake\.lock$

fix: sync release-please permissions and VERSION
  .github/workflows/release-please.yml
  VERSION
Due: none

chore: update nix-ai + ai-assistant-instructions (MLX-first routing)
  flake.lock
Due: validate-package-freshness

chore: update nix-ai + ai-assistant-instructions (MLX-first routing) (#864)
  flake.lock
Due: validate-package-freshness

fix: add release-please config for manifest mode
  release-please-config.json
Due: none

chore: update nix-ai (sync-ollama-models MLX append fix)
  flake.lock
Due: validate-package-freshness

chore: update nix-ai (enable MLX inference server)
  flake.lock
Due: validate-package-freshness

chore: update nix-ai (enable MLX inference server) (#868)
  flake.lock
Due: validate-package-freshness

fix: use generic placeholder in acls option example
  modules/darwin/apps/cribl-edge.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

refactor: extract let bindings for installPath and ACL permissions
  modules/darwin/apps/cribl-edge.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix: chown install directory to cribl user for service startup
  modules/darwin/apps/cribl-edge.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix: simplify cribl-edge module (review findings)
  modules/darwin/apps/cribl-edge.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix: bump homeManagerStateVersion to 25.11
  lib/user-config.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix: bump homeManagerStateVersion to 25.11 (#873)
  lib/user-config.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix: bump stateVersion to 25.11 with drift assertion (#877)
  flake.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix: update CLAUDE.md to reference three companion repos (quartet)
  AGENTS.md
Due: file-size-check, lychee

fix: update flake inputs after nix-ai and nix-home cleanup PRs
  flake.lock
Due: validate-package-freshness

fix: update nix-ai input (v0.2.6 CLI flags + checks split) (#885)
  flake.lock
Due: validate-package-freshness

fix: exempt CHANGELOG.md from file size limit (#887)
  scripts/workflows/file-size-config.sh
Due: none

refactor(flake-rebuild): simplify diagnostics workflow
  .claude/commands/flake-rebuild.md
Due: file-size-check, lychee

chore(deps): update all flake inputs
  flake.lock
Due: validate-package-freshness

feat(flake-rebuild): add issue investigation and plan generation prompt
  .claude/commands/flake-rebuild.md
Due: file-size-check, lychee

feat(flake-rebuild): add issue investigation and plan generation prompt (#895)
  .claude/commands/flake-rebuild.md
Due: file-size-check, lychee

fix(flake-rebuild): only skip PR creation when an open PR exists (#898)
  .claude/commands/flake-rebuild.md
Due: file-size-check, lychee

fix(renovate): trust ai-tools for all update types
  renovate.json5
Due: none

docs: align DEPENDENCY-MONITORING.md with renovate config changes
  docs/DEPENDENCY-MONITORING.md
Due: file-size-check, lychee

feat(homebrew): enable brew autoupdate with greedy upgrades every 30h
  modules/darwin/homebrew.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check, validate-nix-before-all

fix(homebrew): extract autoupdate interval and fix idempotent reconfiguration
  modules/darwin/homebrew.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check, validate-nix-before-all

fix(deps): update jacobpevans-cc-plugins to register pal-health plugin
  flake.lock
Due: validate-package-freshness

fix(deps): update jacobpevans-cc-plugins to register pal-health plugin (#906)
  flake.lock
Due: validate-package-freshness

docs: add rule for keeping nix-darwin synced with JacobPEvans/nix-* repos
  .claude/rules/nix-deps-sync.md
Due: file-size-check, lychee

docs: add rule for keeping nix-darwin synced with JacobPEvans/nix-* repos (#909)
  .claude/rules/nix-deps-sync.md
Due: file-size-check, lychee

fix: gitignore plugin-generated .claude/skills/ directory
  .gitignore
Due: none

fix: gitignore plugin-generated .claude/skills/ directory (#910)
  .gitignore
Due: none

fix: scope gitignore to only exclude retrospecting reports, not all skills (#912)
  .gitignore
Due: none

fix(homebrew): brew autoupdate activation script never ran
  modules/darwin/homebrew.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check, validate-nix-before-all

fix(homebrew): use single-quotes for stat format to avoid quote ambiguity
  modules/darwin/homebrew.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check, validate-nix-before-all

fix(homebrew): brew autoupdate LaunchAgent never created on darwin-rebuild
  modules/darwin/homebrew.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check, validate-nix-before-all
