Repository JacobPEvans/nix-darwin: changes, and which pre-commit hooks are due for each by the changed paths.
All: nix-fmt-check, nix-statix, nix-deadnix, validate-claude-settings, validate-permission-wildcards, file-size-check, lychee, validate-auto-claude-scripts, validate-orchestrator-prompt, validate-npm-urls, validate-brew-before-npm, validate-nix-before-all, validate-package-freshness

nix-fmt-check:
  name: Nix formatting (nixfmt-rfc-style)
  entry: 'bash -c ''nixfmt --check "$@" || (echo "Run: nix fmt"; exit 1)'' --'
  language: system

nix-statix:
  name: Nix linting (statix)
  entry: statix check
  language: system
  pass_filenames: false

nix-deadnix:
  name: Nix dead code (deadnix)
  entry: deadnix -L --fail
  language: system
  pass_filenames: false

validate-claude-settings:
  name: Validate Claude settings
  entry: nix shell nixpkgs#check-jsonschema -c check-jsonschema --schemafile https://json.schemastore.org/claude-code-settings.json
  language: system

validate-permission-wildcards:
  name: Check for invalid :*:* permission patterns
  ...

file-size-check:
  name: File size check (6KB warn, 12KB fail)
  entry: scripts/workflows/check-file-sizes.sh
  language: system
  pass_filenames: false

lychee:
  name: Lychee link checker
  entry: lychee
  language: system
  pass_filenames: true

validate-auto-claude-scripts:
  name: Validate auto-claude shell scripts
  entry: bash -c 'find modules/home-manager/ai-cli/claude -name "auto-claude*.sh" -exec zsh -n {} \; || exit 1'
  language: system
  pass_filenames: false

validate-orchestrator-prompt:
  name: Validate orchestrator prompt
  entry: bash -c 'f="modules/home-manager/ai-cli/claude/orchestrator-prompt.txt"; test -s "$f" && grep -q "CORE LOOP" "$f" && grep -q "IDENTITY" "$f"'
  language: system
  pass_filenames: false

validate-npm-urls:
  name: Validate npm package URLs
  entry: scripts/validate-npm-urls.sh
  language: system
  pass_filenames: false

validate-brew-before-npm:
  name: Check homebrew before npm/bunx (hierarchy)
  entry: scripts/validate-brew-before-npm.sh
  language: system
  pass_filenames: false

validate-nix-before-all:
  name: Check nixpkgs before all others (hierarchy)
  entry: scripts/validate-nix-before-all.sh
  language: system
  pass_filenames: false

validate-package-freshness:
  name: Validate package freshness (staleness check)
  entry: scripts/validate-package-freshness.sh
  language: system
  pass_filenames: false

fix(scripts): add tool checks and cache jq reads in version script
  scripts/workflows/check-package-versions.sh
Due: none

fix(tmux): scrub sensitive network details from comments
  hosts/macbook-m4/home.nix
  modules/common/packages.nix
  modules/home-manager/tmux.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

feat(tmux): add programs.tmux config with session persistence and mosh (#618)
  hosts/macbook-m4/home.nix
  modules/common/packages.nix
  modules/home-manager/tmux.nix
  modules/home-manager/zsh/aliases.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix: source AI CLI tools from unstable overlay for version currency (#619)
  flake.nix
  modules/darwin/common.nix
  modules/home-manager/ai-cli/ai-tools.nix
  modules/home-manager/ai-cli/codex.nix
  scripts/workflows/check-package-versions.sh
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check, validate-npm-urls, validate-brew-before-npm

fix: resolve darwin-rebuild warnings for options.json and lsregister
  hosts/macbook-m4/home.nix
  modules/darwin/file-extensions.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix: log lsregister error output on failure for debugging
  modules/darwin/file-extensions.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix: resolve darwin-rebuild warnings for options.json and lsregister (#621)
  docs/FILE-EXTENSIONS.md
  hosts/macbook-m4/home.nix
  modules/darwin/file-extensions.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check, lychee

refactor: use version tags for trusted GitHub Actions
  .github/workflows/ci-fix-claude.yml
  .github/zizmor.yml
Due: none

refactor: extract inline scripts from ci-fix-claude workflow
  .github/scripts/ci-fix/check-attempts.js
  .github/scripts/ci-fix/find-pr.js
  .github/scripts/ci-fix/get-failure-logs.js
  .github/scripts/ci-fix/post-attempt-comment.js
  .github/workflows/ci-fix-claude.yml
Due: none

feat: add CI auto-fix workflow and enable Claude review (#624)
  .github/scripts/ci-fix/check-attempts.js
  .github/scripts/ci-fix/find-pr.js
  .github/scripts/ci-fix/get-failure-logs.js
  .github/scripts/ci-fix/post-attempt-comment.js
  .github/workflows/ci-fix-claude.yml
  .github/workflows/review-code.yml
  .github/zizmor.yml
Due: none

feat: add watchexec package and create MANIFEST.md inventory
  AGENTS.md
  ARCHITECTURE.md
  MANIFEST.md
  README.md
  modules/darwin/common.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check, lychee

fix: add missing dev shells to MANIFEST.md and correct count
  MANIFEST.md
  README.md
Due: file-size-check, lychee

feat: add granola-watcher LaunchAgent for auto-migration
  docs/LAUNCHD-NAMING.md
  modules/home-manager/ai-cli/claude-config.nix
  modules/home-manager/ai-cli/claude/default.nix
  modules/home-manager/ai-cli/claude/granola-migrate.sh
  modules/home-manager/ai-cli/claude/granola-watcher.nix
  modules/home-manager/ai-cli/claude/granola-watcher/options.nix
  modules/home-manager/ai-cli/claude/plugins.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, validate-permission-wildcards, file-size-check, lychee

fix: treat action_required as acceptable check conclusion
  .github/scripts/final-pr-review/check-gate.js
Due: none

fix: address review feedback on final-pr-review workflow
  .github/scripts/final-pr-review/add-label.js
  .github/scripts/final-pr-review/check-gate.js
  .github/workflows/final-pr-review.yml
Due: none

feat: add final PR review workflow with Claude
  .github/scripts/final-pr-review/add-label.js
  .github/scripts/final-pr-review/check-gate.js
  .github/workflows/final-pr-review.yml
  .github/zizmor.yml
Due: none

feat: add final PR review workflow (#626)
  .github/scripts/final-pr-review/add-label.js
  .github/scripts/final-pr-review/check-gate.js
  .github/workflows/final-pr-review.yml
  .github/workflows/review-code.yml
  .github/zizmor.yml
Due: none

fix: address all PR review feedback (17 threads)
  modules/home-manager/ai-cli/claude-config.nix
  modules/home-manager/ai-cli/claude/granola-migrate.sh
  modules/home-manager/ai-cli/claude/granola-watcher.nix
  modules/home-manager/ai-cli/claude/granola-watcher/options.nix
  modules/home-manager/ai-cli/claude/plugins.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, validate-permission-wildcards, file-size-check

refactor: trim prompt and FILE_LIST construction
  modules/home-manager/ai-cli/claude/granola-migrate.sh
Due: none

feat: add granola-watcher LaunchAgent for auto-migration (#629)
  modules/home-manager/ai-cli/claude-config.nix
  modules/home-manager/ai-cli/claude/default.nix
  modules/home-manager/ai-cli/claude/plugins.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, validate-permission-wildcards, file-size-check

feat: add granola-watcher LaunchAgent for auto-migration (#629)
  modules/home-manager/ai-cli/claude-config.nix
  modules/home-manager/ai-cli/claude/default.nix
  modules/home-manager/ai-cli/claude/granola-migrate.sh
  modules/home-manager/ai-cli/claude/granola-watcher.nix
  modules/home-manager/ai-cli/claude/granola-watcher/options.nix
  modules/home-manager/ai-cli/claude/plugins.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, validate-permission-wildcards, file-size-check

fix: paginate workflow runs and filter by PR number
  .github/workflows/review-code.yml
Due: none

fix: prevent bot review comments from cancelling Claude review
  .github/workflows/review-code.yml
Due: none

fix: prevent bot review comments from cancelling Claude review (#630)
  .github/workflows/review-code.yml
Due: none

fix: add /opt/homebrew/bin to granola-watcher PATH (#632)
  modules/home-manager/ai-cli/claude/granola-watcher.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix(claude): restore opusplan as default model
  modules/home-manager/ai-cli/claude-config.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, validate-permission-wildcards, file-size-check

fix: remove hardcoded Doppler project/config from monitoring-deploy
  modules/monitoring/default.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

feat: switch to ai-workflows reusable workflows
  .github/scripts/ci-fix/check-attempts.js
  .github/scripts/ci-fix/find-pr.js
  .github/scripts/ci-fix/get-failure-logs.js
  .github/scripts/ci-fix/post-attempt-comment.js
  .github/scripts/final-pr-review/add-label.js
  .github/scripts/final-pr-review/check-gate.js
  .github/workflows/best-practices.yml
  .github/workflows/ci-fix-claude.yml
  .github/workflows/ci-fix.yml
  .github/workflows/claude-review.yml
  .github/workflows/code-simplifier.yml
  .github/workflows/final-pr-review.yml
  .github/workflows/issue-hygiene.yml
  .github/workflows/issue-sweeper.yml
  .github/workflows/issue-triage.yml
  .github/workflows/next-steps.yml
  .github/workflows/post-merge-docs-review.yml
  .github/workflows/post-merge-tests.yml
  .github/workflows/review-code.yml
  .github/zizmor.yml
Due: none

fix(claude): restore opusplan as default model (#633)
  modules/home-manager/ai-cli/claude-config.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, validate-permission-wildcards, file-size-check

refactor: extract k8s monitoring manifests to standalone repo (#631)
  docs/MONITORING.md
  docs/monitoring/KUBERNETES.md
  modules/monitoring/default.nix
  modules/monitoring/k8s/README.md
  modules/monitoring/k8s/cribl-edge/README.md
  modules/monitoring/k8s/cribl-edge/deployment.yaml
  modules/monitoring/k8s/cribl-edge/service-ui.yaml
  modules/monitoring/k8s/cribl-edge/service.yaml
  modules/monitoring/k8s/cribl-stream/README.md
  modules/monitoring/k8s/cribl-stream/deployment.yaml
  modules/monitoring/k8s/cribl-stream/service-ui.yaml
  modules/monitoring/k8s/cribl-stream/service.yaml
  modules/monitoring/k8s/kustomization.yaml
  modules/monitoring/k8s/namespace.yaml
  modules/monitoring/k8s/otel-collector/README.md
  modules/monitoring/k8s/otel-collector/configmap.yaml
  modules/monitoring/k8s/otel-collector/deployment.yaml
  modules/monitoring/k8s/otel-collector/service-external.yaml
  modules/monitoring/k8s/otel-collector/service.yaml
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check, lychee

feat: add SOPS_AGE_KEY_FILE and EDITOR=vim to session variables (#635)
  modules/home-manager/common.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

feat: enable full Claude Code OTEL telemetry
  docs/monitoring/OTEL.md
  hosts/macbook-m4/home.nix
  modules/monitoring/default.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check, lychee

fix: address PR review feedback on OTEL telemetry config
  docs/monitoring/OTEL.md
  modules/monitoring/default.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check, lychee

feat: switch to ai-workflows reusable workflows (#634)
  .github/scripts/ci-fix/check-attempts.js
  .github/scripts/ci-fix/find-pr.js
  .github/scripts/ci-fix/get-failure-logs.js
  .github/scripts/ci-fix/post-attempt-comment.js
  .github/scripts/final-pr-review/add-label.js
  .github/scripts/final-pr-review/check-gate.js
  .github/workflows/best-practices.yml
  .github/workflows/ci-fix-claude.yml
  .github/workflows/ci-fix.yml
  .github/workflows/claude-review.yml
  .github/workflows/code-simplifier.yml
  .github/workflows/final-pr-review.yml
  .github/workflows/issue-hygiene.yml
  .github/workflows/issue-sweeper.yml
  .github/workflows/issue-triage.yml
  .github/workflows/next-steps.yml
  .github/workflows/post-merge-docs-review.yml
  .github/workflows/post-merge-tests.yml
  .github/workflows/review-code.yml
  .github/zizmor.yml
Due: none

feat: enable full Claude Code OTEL telemetry (#637)
  docs/monitoring/OTEL.md
  hosts/macbook-m4/home.nix
  modules/monitoring/default.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check, lychee

feat: add kubernetes dev shell with validation tooling
  MANIFEST.md
  shells/README.md
  shells/containers/flake.nix
  shells/kubernetes/flake.lock
  shells/kubernetes/flake.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check, lychee

feat: add kubernetes dev shell with validation tooling (#640)
  MANIFEST.md
  shells/README.md
  shells/containers/flake.nix
  shells/kubernetes/flake.lock
  shells/kubernetes/flake.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check, lychee

Path conditions:
  nix-fmt-check: any of: \.nix$, but not: ^worktrees/
  nix-statix: any of: \.nix$, but not: ^worktrees/
  nix-deadnix: any of: \.nix$, but not: ^worktrees/
  validate-claude-settings: any of: \.claude/settings(\.local)?\.json$ and \.json$
  validate-permission-wildcards: any of: modules/home-manager/ai-cli/(common/(formatters|permissions)|claude-config)\.nix$
  file-size-check: any of: \.(md|nix)$
  lychee: any of: \.(md|html)$
  validate-auto-claude-scripts: any of: ^modules/home-manager/ai-cli/claude/auto-claude.*\.sh$
  validate-orchestrator-prompt: any of: ^modules/home-manager/ai-cli/claude/orchestrator-prompt\.txt$
  validate-npm-urls: any of: ^modules/home-manager/ai-cli/ai-tools\.nix$
  validate-brew-before-npm: any of: ^modules/home-manager/ai-cli/ai-tools\.nix$
  validate-nix-before-all: any of: ^modules/darwin/homebrew\.nix$
  validate-package-freshness: any of: ^flake\.lock$
