Repository JacobPEvans/nix-darwin: changes, and which pre-commit hooks are due for each by the changed paths.
All: nix-fmt-check, nix-statix, nix-deadnix, validate-claude-settings, validate-permission-wildcards, file-size-check, lychee, validate-auto-claude-scripts, validate-orchestrator-prompt, validate-npm-urls, validate-brew-before-npm, validate-nix-before-all, validate-package-freshness

nix-fmt-check:
  name: Nix formatting (nixfmt-rfc-style)
  entry: 'bash -c ''nixfmt --check "$@" || (echo "Run: nix fmt"; exit 1)'' --'
  language: system

nix-statix:
  name: Nix linting (statix)
  entry: statix check
  language: system
  pass_filenames: false

nix-deadnix:
  name: Nix dead code (deadnix)
  entry: deadnix -L --fail
  language: system
  pass_filenames: false

validate-claude-settings:
  name: Validate Claude settings
  entry: nix shell nixpkgs#check-jsonschema -c check-jsonschema --schemafile https://json.schemastore.org/claude-code-settings.json
  language: system

validate-permission-wildcards:
  name: Check for invalid :*:* permission patterns
  ...

file-size-check:
  name: File size check (6KB warn, 12KB fail)
  entry: scripts/workflows/check-file-sizes.sh
  language: system
  pass_filenames: false

lychee:
  name: Lychee link checker
  entry: lychee
  language: system
  pass_filenames: true

validate-auto-claude-scripts:
  name: Validate auto-claude shell scripts
  entry: bash -c 'find modules/home-manager/ai-cli/claude -name "auto-claude*.sh" -exec zsh -n {} \; || exit 1'
  language: system
  pass_filenames: false

validate-orchestrator-prompt:
  name: Validate orchestrator prompt
  entry: bash -c 'f="modules/home-manager/ai-cli/claude/orchestrator-prompt.txt"; test -s "$f" && grep -q "CORE LOOP" "$f" && grep -q "IDENTITY" "$f"'
  language: system
  pass_filenames: false

validate-npm-urls:
  name: Validate npm package URLs
  entry: scripts/validate-npm-urls.sh
  language: system
  pass_filenames: false

validate-brew-before-npm:
  name: Check homebrew before npm/bunx (hierarchy)
  entry: scripts/validate-brew-before-npm.sh
  language: system
  pass_filenames: false

validate-nix-before-all:
  name: Check nixpkgs before all others (hierarchy)
  entry: scripts/validate-nix-before-all.sh
  language: system
  pass_filenames: false

validate-package-freshness:
  name: Validate package freshness (staleness check)
  entry: scripts/validate-package-freshness.sh
  language: system
  pass_filenames: false

fix(homebrew): use /usr/bin/stat to avoid GNU stat in Nix PATH
  modules/darwin/homebrew.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check, validate-nix-before-all

fix(deps): add Renovate annotation for ClaudeBar package
  packages/claudebar.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix(deps): add Renovate annotation for ClaudeBar package (#917)
  packages/claudebar.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

docs(homebrew): explain why /usr/bin/stat is used over bare stat
  modules/darwin/homebrew.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check, validate-nix-before-all

fix(security): add 3-day stabilization to vulnerability alert PRs (#922)
  renovate.json5
Due: none

fix(security): harden CI gate and add security documentation
  .claude/commands/flake-rebuild.md
  .github/workflows/ci-gate.yml
Due: file-size-check, lychee

fix(deps): update nix-ai to fix gh-aw v0.64.0 hash mismatch
  flake.lock
Due: validate-package-freshness

fix(deps): update flake inputs and fix gh-aw hash mismatch (#924)
  flake.lock
Due: validate-package-freshness

fix(cribl-edge): address review feedback on pack deployment
  modules/darwin/apps/cribl-edge.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix(startup): disable unnecessary Apple LaunchAgents that degrade boot performance
  modules/darwin/common.nix
  modules/darwin/startup-tuning.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

feat(darwin): add streamline-login module for persistent updater disabling
  hosts/macbook-m4/default.nix
  modules/darwin/apps/default.nix
  modules/darwin/apps/streamline-login.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix: remove redundant username alias in streamline-login
  modules/darwin/apps/streamline-login.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix(startup): disable unnecessary Apple LaunchAgents that degrade boot performance (#930)
  modules/darwin/common.nix
  modules/darwin/startup-tuning.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix(startup): consolidate startup-tuning into streamline-login
  hosts/macbook-m4/default.nix
  modules/darwin/apps/streamline-login.nix
  modules/darwin/common.nix
  modules/darwin/startup-tuning.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix(streamline-login): capture launchctl stderr in WARN messages
  modules/darwin/apps/streamline-login.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix: remove references to private software from public repo
  hosts/macbook-m4/default.nix
  modules/darwin/apps/streamline-login.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix(deps): update all flake inputs and ClaudeBar to 0.4.57
  flake.lock
  packages/claudebar.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check, validate-package-freshness

fix(deps): update all flake inputs and ClaudeBar to 0.4.57 (#938)
  flake.lock
  packages/claudebar.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check, validate-package-freshness

feat(monitoring): add WindowServer health monitor LaunchDaemon
  modules/darwin/common.nix
  modules/darwin/ws-monitor.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix(monitoring): use absolute paths and fix log dir permissions
  modules/darwin/scripts/ws-monitor.sh
  modules/darwin/ws-monitor.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

feat(monitoring): add NVMe disk I/O tracking to ws-monitor
  modules/darwin/scripts/ws-monitor.sh
Due: none

feat(monitoring): add NVMe disk I/O tracking to ws-monitor (#944)
  modules/darwin/scripts/ws-monitor.sh
Due: none

docs: add D2 and mermaid-cli to MANIFEST inventory
  MANIFEST.md
  cspell.json
Due: file-size-check, lychee

fix: remove stale zizmor ignore entries for deleted workflows
  .github/zizmor.yml
Due: none

chore(deps): update all flake inputs
  flake.lock
Due: validate-package-freshness

docs: add D2 and mermaid-cli to MANIFEST inventory (#952)
  MANIFEST.md
  cspell.json
Due: file-size-check, lychee

chore(deps): update all flake inputs (#955)
  flake.lock
Due: validate-package-freshness

fix(monitoring): replace set -euo pipefail with set -u for reliable output
  modules/darwin/scripts/ws-monitor.sh
Due: none

fix: correct MANIFEST.md cask upgrade docs and Teams greedy flag
  MANIFEST.md
Due: file-size-check, lychee

fix: correct MANIFEST.md cask upgrade docs and Teams greedy flag (#958)
  MANIFEST.md
Due: file-size-check, lychee

feat: add AI merge gate (#966)
  .github/workflows/ai-merge-gate.yml
Due: none

fix: update Copilot setup source to ai-workflows
  .github/workflows/copilot-setup-steps.yml
Due: none

chore(deps): update all flake inputs (#973)
  flake.lock
Due: validate-package-freshness

feat: add libreoffice homebrew cask for document-skills
  modules/darwin/homebrew.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check, validate-nix-before-all

feat: add libreoffice homebrew cask for document-skills (#974)
  modules/darwin/homebrew.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check, validate-nix-before-all

chore(deps): bump nix-home to 1.17.0 for document-skills deps
  flake.lock
Due: validate-package-freshness

chore(flake): bump nix-ai + ai-assistant-instructions to pick up Bifrost rerouting (#977)
  flake.lock
Due: validate-package-freshness

docs(claude-launchers): clarify tier names vs keychain service names
  hosts/macbook-m4/claude-launchers.zsh
Due: none

feat: package placement audit — move whisper tools to nix-ai, group AI brews (#981)
  AGENTS.md
  MANIFEST.md
  modules/darwin/common.nix
  modules/darwin/homebrew.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check, lychee, validate-nix-before-all

fix(agents): drop "quartet" and "all four repos" language
  AGENTS.md
Due: file-size-check, lychee

Path conditions:
  nix-fmt-check: any of: \.nix$, but not: ^worktrees/
  nix-statix: any of: \.nix$, but not: ^worktrees/
  nix-deadnix: any of: \.nix$, but not: ^worktrees/
  validate-claude-settings: any of: \.claude/settings(\.local)?\.json$ and \.json$
  validate-permission-wildcards: any of: modules/home-manager/ai-cli/(common/(formatters|permissions)|claude-config)\.nix$
  file-size-check: any of: \.(md|nix)$
  lychee: any of: \.(md|html)$
  validate-auto-claude-scripts: any of: ^modules/home-manager/ai-cli/claude/auto-claude.*\.sh$
  validate-orchestrator-prompt: any of: ^modules/home-manager/ai-cli/claude/orchestrator-prompt\.txt$
  validate-npm-urls: any of: ^modules/home-manager/ai-cli/ai-tools\.nix$
  validate-brew-before-npm: any of: ^modules/home-manager/ai-cli/ai-tools\.nix$
  validate-nix-before-all: any of: ^modules/darwin/homebrew\.nix$
  validate-package-freshness: any of: ^flake\.lock$
