Repository JacobPEvans/nix-darwin: changes, and which pre-commit hooks are due for each by the changed paths.
All: nix-fmt-check, nix-statix, nix-deadnix, validate-claude-settings, validate-permission-wildcards, file-size-check, lychee, validate-auto-claude-scripts, validate-orchestrator-prompt, validate-npm-urls, validate-brew-before-npm, validate-nix-before-all, validate-package-freshness

nix-fmt-check:
  name: Nix formatting (nixfmt-rfc-style)
  entry: 'bash -c ''nixfmt --check "$@" || (echo "Run: nix fmt"; exit 1)'' --'
  language: system

nix-statix:
  name: Nix linting (statix)
  entry: statix check
  language: system
  pass_filenames: false

nix-deadnix:
  name: Nix dead code (deadnix)
  entry: deadnix -L --fail
  language: system
  pass_filenames: false

validate-claude-settings:
  name: Validate Claude settings
  entry: nix shell nixpkgs#check-jsonschema -c check-jsonschema --schemafile https://json.schemastore.org/claude-code-settings.json
  language: system

validate-permission-wildcards:
  name: Check for invalid :*:* permission patterns
  ...

file-size-check:
  name: File size check (6KB warn, 12KB fail)
  entry: scripts/workflows/check-file-sizes.sh
  language: system
  pass_filenames: false

lychee:
  name: Lychee link checker
  entry: lychee
  language: system
  pass_filenames: true

validate-auto-claude-scripts:
  name: Validate auto-claude shell scripts
  entry: bash -c 'find modules/home-manager/ai-cli/claude -name "auto-claude*.sh" -exec zsh -n {} \; || exit 1'
  language: system
  pass_filenames: false

validate-orchestrator-prompt:
  name: Validate orchestrator prompt
  entry: bash -c 'f="modules/home-manager/ai-cli/claude/orchestrator-prompt.txt"; test -s "$f" && grep -q "CORE LOOP" "$f" && grep -q "IDENTITY" "$f"'
  language: system
  pass_filenames: false

validate-npm-urls:
  name: Validate npm package URLs
  entry: scripts/validate-npm-urls.sh
  language: system
  pass_filenames: false

validate-brew-before-npm:
  name: Check homebrew before npm/bunx (hierarchy)
  entry: scripts/validate-brew-before-npm.sh
  language: system
  pass_filenames: false

validate-nix-before-all:
  name: Check nixpkgs before all others (hierarchy)
  entry: scripts/validate-nix-before-all.sh
  language: system
  pass_filenames: false

validate-package-freshness:
  name: Validate package freshness (staleness check)
  entry: scripts/validate-package-freshness.sh
  language: system
  pass_filenames: false

docs: add API key requirement comment for greptile plugin
  modules/home-manager/ai-cli/claude/plugins/external.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

feat: re-enable greptile claude plugin
  modules/home-manager/ai-cli/claude/plugins/external.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix: disable greptile plugin
  modules/home-manager/ai-cli/claude/plugins/external.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix: codex is a cask, not a brew (migrated from homebrew/core)
  MANIFEST.md
  modules/darwin/homebrew.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check, lychee, validate-nix-before-all

fix: harden withDoppler args handling and doppler-mcp usage guard
  modules/home-manager/ai-cli/ai-tools.nix
  modules/home-manager/ai-cli/mcp/default.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check, validate-npm-urls, validate-brew-before-npm

feat: add doppler-mcp wrapper for MCP server secret injection (#732)
  MANIFEST.md
  cspell.json
  modules/darwin/common.nix
  modules/darwin/homebrew.nix
  modules/home-manager/ai-cli/ai-tools.nix
  modules/home-manager/ai-cli/claude/default.nix
  modules/home-manager/ai-cli/claude/pal-models.nix
  modules/home-manager/ai-cli/mcp/README.md
  modules/home-manager/ai-cli/mcp/default.nix
  modules/home-manager/ai-cli/mcp/scripts/pal-models.jq
  modules/home-manager/zsh/aliases.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check, lychee, validate-npm-urls, validate-brew-before-npm, validate-nix-before-all

chore(deps): update all flake inputs (#738)
  flake.lock
  hosts/proxmox/flake.lock
  hosts/ubuntu-server/flake.lock
  hosts/windows-workstation/flake.lock
  scripts/update-all-flakes.sh
  shells/image-building/flake.lock
Due: validate-package-freshness

feat(copilot): add Copilot coding agent support + CI fail issue workflow
  .github/workflows/ci-fail-issue.yml
  .github/workflows/copilot-setup-steps.yml
  .github/zizmor.yml
  AGENTS.md
Due: file-size-check, lychee

feat(copilot): add Copilot coding agent support + CI fail issue workflow (#740)
  .github/workflows/ci-fail-issue.yml
  .github/workflows/copilot-setup-steps.yml
  .github/zizmor.yml
  AGENTS.md
Due: file-size-check, lychee

refactor: extract Keychain lookup into _get_keychain_secret helper
  hosts/macbook-m4/home.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

feat: auto-enable squash merge on all PRs when opened (#742)
  .github/workflows/auto-merge.yml
Due: none

fix(ci): remove workflows and hooks referencing extracted files
  .github/workflows/README.md
  .github/workflows/ci-auto-claude.yml
  .github/workflows/ci-eol-check.yml
  .github/workflows/ci-gate.yml
  .github/workflows/ci-validate-settings.yml
  .github/workflows/deps-update-flake.yml
  .github/workflows/nixos-release-check.yml
  .pre-commit-config.yaml
  cspell.json
  flake.lock
  scripts/validate-brew-before-npm.sh
  scripts/validate-npm-urls.sh
Due: file-size-check, lychee, validate-package-freshness

docs: update CLAUDE.md for three-repo architecture
  AGENTS.md
Due: file-size-check, lychee

docs: update CLAUDE.md for three-repo architecture (#744)
  AGENTS.md
Due: file-size-check, lychee

feat(claude): disable redundant MCP servers and playwright plugin globally
  hosts/macbook-m4/home.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

chore(deps): update nix-ai flake input to re-enable greptile
  flake.lock
Due: validate-package-freshness

feat(ci): add nix-ai to AI_INPUTS allowlist in deps-update-flake
  .github/workflows/deps-update-flake.yml
Due: none

fix: address PR review feedback
  ARCHITECTURE.md
  README.md
  TROUBLESHOOTING.md
Due: file-size-check, lychee

refactor(ci): use .github reusable workflows instead of local copies
  .github/workflows/_file-size.yml
  .github/workflows/_markdown-lint.yml
  .github/workflows/_nix-validate.yml
  .github/workflows/auto-merge.yml
  .github/workflows/ci-file-length.yml
  .github/workflows/ci-gate.yml
  .github/workflows/ci-markdownlint.yml
  .github/workflows/ci-validate.yml
  .github/zizmor.yml
Due: none

chore: add module-eval and shell-test checks, improve README for v1.0.0
  README.md
  flake.nix
  lib/checks.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check, lychee

fix(tests): use BATS_TEST_DIRNAME instead of empty BATS_TEST_DIR
  tests/shell/test_auto_claude_args.bats
  tests/shell/test_check_file_sizes.bats
  tests/shell/test_verify_symlinks.bats
Due: none

chore: add module-eval and shell-test checks, improve README for v1.0.0 (#756)
  README.md
  flake.nix
  lib/checks.nix
  tests/shell/test_auto_claude_args.bats
  tests/shell/test_check_file_sizes.bats
  tests/shell/test_verify_symlinks.bats
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check, lychee

feat: move module-eval check into lib/checks.nix
  flake.nix
  lib/checks.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

ci: add release-please automation
  .github/workflows/release-please.yml
  .release-please-manifest.json
  VERSION
  release-please-config.json
Due: none

fix: revert release-please to @main ref, add to zizmor exemptions
  .github/workflows/release-please.yml
  .github/zizmor.yml
Due: none

fix: add concurrency guard and complete changelog-sections
  .github/workflows/release-please.yml
  release-please-config.json
Due: none

ci: add release-please automation (#763)
  .github/workflows/release-please.yml
  .github/zizmor.yml
  .release-please-manifest.json
  VERSION
  release-please-config.json
Due: none

feat: remove nodejs and python310 from global packages (use per-repo devshells)
  modules/common/packages.nix
  modules/darwin/common.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix: update MANIFEST.md and version script to reflect nodejs/python310 removal
  MANIFEST.md
  scripts/workflows/check-package-versions.sh
Due: file-size-check, lychee

feat: remove nodejs and python310 from global packages (#765)
  MANIFEST.md
  modules/common/packages.nix
  modules/darwin/common.nix
  scripts/workflows/check-package-versions.sh
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check, lychee

feat: add gh-aw agentic workflows
  .github/workflows/ai-moderator.md
  .github/workflows/ci-doctor.md
  .github/workflows/daily-malicious-code-scan.md
  .github/workflows/sub-issue-closer.md
  cspell.json
Due: file-size-check, lychee

feat: add gh-aw agentic workflows (#766)
  .github/workflows/ai-moderator.md
  .github/workflows/ci-doctor.md
  .github/workflows/daily-malicious-code-scan.md
  .github/workflows/sub-issue-closer.md
  cspell.json
Due: file-size-check, lychee

fix: pin action SHAs in copilot-setup-steps.yml for zizmor compliance
  .github/workflows/copilot-setup-steps.yml
Due: none

fix: fix cspell.json word array format
  cspell.json
Due: none

chore(deps): update all flake inputs
  flake.lock
  hosts/proxmox/flake.lock
  hosts/ubuntu-server/flake.lock
  hosts/windows-workstation/flake.lock
Due: validate-package-freshness

chore(deps): update all flake inputs (#767)
  flake.lock
  hosts/proxmox/flake.lock
  hosts/ubuntu-server/flake.lock
  hosts/windows-workstation/flake.lock
Due: validate-package-freshness

chore: bump ai-workflows to v0.7.0
  .github/workflows/best-practices.yml
  .github/workflows/ci-fail-issue.yml
  .github/workflows/ci-fix.yml
  .github/workflows/claude-review.yml
  .github/workflows/code-simplifier.yml
  .github/workflows/final-pr-review.yml
  .github/workflows/issue-auto-resolve.yml
  .github/workflows/issue-hygiene.yml
  .github/workflows/issue-sweeper.yml
  .github/workflows/next-steps.yml
  .github/workflows/post-merge-docs-review.yml
  .github/workflows/post-merge-tests.yml
Due: none

chore: bump ai-workflows to v0.7.0 (#768)
  .github/workflows/best-practices.yml
  .github/workflows/ci-fail-issue.yml
  .github/workflows/ci-fix.yml
  .github/workflows/claude-review.yml
  .github/workflows/code-simplifier.yml
  .github/workflows/final-pr-review.yml
  .github/workflows/issue-auto-resolve.yml
  .github/workflows/issue-hygiene.yml
  .github/workflows/issue-sweeper.yml
  .github/workflows/next-steps.yml
  .github/workflows/post-merge-docs-review.yml
  .github/workflows/post-merge-tests.yml
Due: none

Path conditions:
  nix-fmt-check: any of: \.nix$, but not: ^worktrees/
  nix-statix: any of: \.nix$, but not: ^worktrees/
  nix-deadnix: any of: \.nix$, but not: ^worktrees/
  validate-claude-settings: any of: \.claude/settings(\.local)?\.json$ and \.json$
  validate-permission-wildcards: any of: modules/home-manager/ai-cli/(common/(formatters|permissions)|claude-config)\.nix$
  file-size-check: any of: \.(md|nix)$
  lychee: any of: \.(md|html)$
  validate-auto-claude-scripts: any of: ^modules/home-manager/ai-cli/claude/auto-claude.*\.sh$
  validate-orchestrator-prompt: any of: ^modules/home-manager/ai-cli/claude/orchestrator-prompt\.txt$
  validate-npm-urls: any of: ^modules/home-manager/ai-cli/ai-tools\.nix$
  validate-brew-before-npm: any of: ^modules/home-manager/ai-cli/ai-tools\.nix$
  validate-nix-before-all: any of: ^modules/darwin/homebrew\.nix$
  validate-package-freshness: any of: ^flake\.lock$
