Repository JacobPEvans/nix-darwin: changes, and which pre-commit hooks are due for each by the changed paths.
All: nix-fmt-check, nix-statix, nix-deadnix, validate-claude-settings, file-size-check, validate-auto-claude-scripts, validate-orchestrator-prompt

nix-fmt-check:
  name: Nix formatting (nixfmt-rfc-style)
  entry: 'bash -c ''nixfmt --check "$@" || (echo "Run: nix fmt"; exit 1)'' --'
  language: system

nix-statix:
  name: Nix linting (statix)
  entry: statix check
  language: system
  pass_filenames: false

nix-deadnix:
  name: Nix dead code (deadnix)
  entry: deadnix -L --fail
  language: system
  pass_filenames: false

validate-claude-settings:
  name: Validate Claude settings
  entry: check-jsonschema --schemafile https://json.schemastore.org/claude-code-settings.json
  language: system

file-size-check:
  name: File size check (6KB warn, 12KB fail)
  entry: scripts/workflows/check-file-sizes.sh
  language: system
  pass_filenames: false

validate-auto-claude-scripts:
  name: Validate auto-claude shell scripts
  entry: bash -c 'find modules/home-manager/ai-cli/claude -name "auto-claude*.sh" -exec zsh -n {} \; || exit 1'
  language: system
  pass_filenames: false

validate-orchestrator-prompt:
  name: Validate orchestrator prompt
  entry: bash -c 'f="modules/home-manager/ai-cli/claude/orchestrator-prompt.txt"; test -s "$f" && grep -q "CORE LOOP" "$f" && grep -q "IDENTITY" "$f"'
  language: system
  pass_filenames: false

fix: use word boundary matching for brew search verification
  scripts/validate-brew-before-npm.sh
Due: none

fix: use brew info instead of brew search for exact matching
  scripts/validate-brew-before-npm.sh
Due: none

fix: resolve all 6 review thread issues from copilot-pull-request-reviewer
  .github/renovate.json5
  agentsmd/rules/version-validation.md
  scripts/validate-npm-urls.sh
  scripts/validate-package-freshness.sh
Due: file-size-check

chore(deps): update flake.lock (#443)
  flake.lock
Due: none

feat: enable ralph-wiggum autonomous iteration plugin
  docs/ANTHROPIC-ECOSYSTEM.md
  modules/home-manager/ai-cli/claude/plugins/default.nix
  modules/home-manager/ai-cli/claude/plugins/experimental.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

refactor(plugins): remove 23 duplicate and large unused Claude plugins
  modules/home-manager/ai-cli/claude/plugins/community.nix
  modules/home-manager/ai-cli/claude/plugins/development.nix
  modules/home-manager/ai-cli/claude/plugins/infrastructure.nix
  modules/home-manager/ai-cli/claude/plugins/official.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

chore(ci): skip nix-build for dependency-only commits
  .github/workflows/ci-gate.yml
Due: none

fix(renovate): remove ignored root-level renovate.json5
  renovate.json5
Due: none

fix: resolve Claude Code + Nix configuration issues
  .github/renovate.json5
  flake.lock
  flake.nix
  lib/claude-settings.nix
  lib/home-manager-defaults.nix
  modules/home-manager/ai-cli/claude-config.nix
  modules/home-manager/ai-cli/claude.nix
  modules/home-manager/ai-cli/claude/plugins/marketplaces.nix
  modules/home-manager/ai-cli/claude/settings.nix
  modules/home-manager/common.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix: drastically reduce Claude Code context token usage
  AGENTS.md
  flake.nix
  modules/darwin/dock/default.nix
  modules/home-manager/ai-cli/claude-config.nix
  modules/home-manager/ai-cli/claude/plugins/community.nix
  modules/home-manager/ai-cli/claude/plugins/development.nix
  modules/home-manager/ai-cli/claude/plugins/infrastructure.nix
  modules/home-manager/ai-cli/claude/plugins/official.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix: switch to stable 25.11 (nixpkgs, darwin, home-manager)
  flake.lock
  flake.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix: address PR review feedback on configuration patterns
  .github/renovate.json5
  lib/claude-settings.nix
  modules/home-manager/ai-cli/claude-config.nix
  modules/home-manager/ai-cli/claude/settings.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix: restore plugins, upgrade claude-code, fix marketplace naming
  flake.lock
  flake.nix
  modules/darwin/common.nix
  modules/home-manager/ai-cli/claude-config.nix
  modules/home-manager/ai-cli/claude/plugins/community.nix
  modules/home-manager/ai-cli/claude/plugins/development.nix
  modules/home-manager/ai-cli/claude/plugins/infrastructure.nix
  modules/home-manager/ai-cli/claude/plugins/marketplaces.nix
  modules/home-manager/ai-cli/claude/plugins/official.nix
  modules/home-manager/ai-cli/claude/settings.nix
  modules/home-manager/common.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix: address PR review feedback on SSH configuration
  modules/home-manager/ai-cli/claude/auto-claude.sh
Due: validate-auto-claude-scripts

fix: address PR review feedback on Slack validation and code organization
  modules/home-manager/ai-cli/claude/auto-claude-notify.py
  modules/home-manager/ai-cli/claude/auto-claude.sh
Due: validate-auto-claude-scripts

fix(auto-claude): add SSH agent setup and headless authentication (#453)
  modules/home-manager/ai-cli/claude/auto-claude.nix
  modules/home-manager/ai-cli/claude/auto-claude.sh
  modules/home-manager/ai-cli/common/permissions.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check, validate-auto-claude-scripts

fix: resolve build warnings and resolve agent symlink conflict
  hosts/macbook-m4/default.nix
  modules/darwin/common.nix
  modules/home-manager/ai-cli/claude-config.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix: address PR review feedback on infrastructure-automation shell
  shells/infrastructure-automation/flake.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

feat: create infrastructure-automation shell combining packer and terraform (#459)
  shells/infrastructure-automation/flake.lock
  shells/infrastructure-automation/flake.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

refactor: replace for loops with find+while and printf+while patterns
  modules/home-manager/ai-cli/claude/orphan-cleanup.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix: resolve home-manager rebuild warnings and orphan symlinks
  modules/home-manager/ai-cli/claude/components.nix
  modules/home-manager/ai-cli/claude/default.nix
  modules/home-manager/ai-cli/claude/orphan-cleanup.nix
  modules/home-manager/ai-cli/claude/plugins.nix
  modules/home-manager/ai-cli/claude/registry.nix
  modules/home-manager/ai-cli/claude/settings.nix
  modules/home-manager/common.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix: robustly handle filenames with spaces/newlines in symlink cleanup
  modules/home-manager/ai-cli/claude/orphan-cleanup.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

chore: update darwin flake input and fix deprecated LnL7 URL
  docs/investigations/research-findings.md
  flake.lock
Due: file-size-check

refactor(auto-claude): remove deprecated schedule options
  modules/home-manager/ai-cli/claude-config.nix
  modules/home-manager/ai-cli/claude/auto-claude.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix(statusline): add early Darwin platform check
  modules/home-manager/ai-cli/claude/statusline/default.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

refactor: consolidate mcp.nix by removing empty module
  modules/home-manager/ai-cli/claude/default.nix
  modules/home-manager/ai-cli/claude/mcp.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

refactor: improve mcp configuration comment clarity
  modules/home-manager/ai-cli/claude/default.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix(plugins): correct activation script diff error handling
  modules/home-manager/ai-cli/claude/plugins.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix(statusline): correct platform detection and system reference
  modules/home-manager/ai-cli/claude/statusline/default.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix: generate excludedCommandsFormatted dynamically to avoid duplication
  lib/claude-constants.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

refactor: consolidate mcp.nix by removing empty module (#469)
  modules/home-manager/ai-cli/claude/default.nix
  modules/home-manager/ai-cli/claude/mcp.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix(plugins): improve activation script diff error handling (#470)
  modules/home-manager/ai-cli/claude/plugins.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

refactor: centralize excludedCommands in lib/claude-constants.nix (#466)
  lib/claude-constants.nix
  modules/home-manager/ai-cli/claude-config.nix
  modules/home-manager/ai-cli/claude/settings.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

Path conditions:
  nix-fmt-check: any of: \.nix$, but not: ^worktrees/
  nix-statix: any of: \.nix$, but not: ^worktrees/
  nix-deadnix: any of: \.nix$, but not: ^worktrees/
  validate-claude-settings: any of: \.claude/settings(\.local)?\.json$ and \.json$
  file-size-check: any of: \.(md|nix)$
  validate-auto-claude-scripts: any of: ^modules/home-manager/ai-cli/claude/auto-claude.*\.sh$
  validate-orchestrator-prompt: any of: ^modules/home-manager/ai-cli/claude/orchestrator-prompt\.txt$
