Repository JacobPEvans/nix-darwin: changes, and which pre-commit hooks are due for each by the changed paths.
All: nix-fmt-check, nix-statix, nix-deadnix, validate-claude-settings, validate-permission-wildcards, file-size-check, lychee, validate-auto-claude-scripts, validate-orchestrator-prompt, validate-npm-urls, validate-brew-before-npm, validate-nix-before-all, validate-package-freshness

nix-fmt-check:
  name: Nix formatting (nixfmt-rfc-style)
  entry: 'bash -c ''nixfmt --check "$@" || (echo "Run: nix fmt"; exit 1)'' --'
  language: system

nix-statix:
  name: Nix linting (statix)
  entry: statix check
  language: system
  pass_filenames: false

nix-deadnix:
  name: Nix dead code (deadnix)
  entry: deadnix -L --fail
  language: system
  pass_filenames: false

validate-claude-settings:
  name: Validate Claude settings
  entry: nix shell nixpkgs#check-jsonschema -c check-jsonschema --schemafile https://json.schemastore.org/claude-code-settings.json
  language: system

validate-permission-wildcards:
  name: Check for invalid :*:* permission patterns
  ...

file-size-check:
  name: File size check (6KB warn, 12KB fail)
  entry: scripts/workflows/check-file-sizes.sh
  language: system
  pass_filenames: false

lychee:
  name: Lychee link checker
  entry: lychee
  language: system
  pass_filenames: true

validate-auto-claude-scripts:
  name: Validate auto-claude shell scripts
  entry: bash -c 'find modules/home-manager/ai-cli/claude -name "auto-claude*.sh" -exec zsh -n {} \; || exit 1'
  language: system
  pass_filenames: false

validate-orchestrator-prompt:
  name: Validate orchestrator prompt
  entry: bash -c 'f="modules/home-manager/ai-cli/claude/orchestrator-prompt.txt"; test -s "$f" && grep -q "CORE LOOP" "$f" && grep -q "IDENTITY" "$f"'
  language: system
  pass_filenames: false

validate-npm-urls:
  name: Validate npm package URLs
  entry: scripts/validate-npm-urls.sh
  language: system
  pass_filenames: false

validate-brew-before-npm:
  name: Check homebrew before npm/bunx (hierarchy)
  entry: scripts/validate-brew-before-npm.sh
  language: system
  pass_filenames: false

validate-nix-before-all:
  name: Check nixpkgs before all others (hierarchy)
  entry: scripts/validate-nix-before-all.sh
  language: system
  pass_filenames: false

validate-package-freshness:
  name: Validate package freshness (staleness check)
  entry: scripts/validate-package-freshness.sh
  language: system
  pass_filenames: false

fix(agents): drop "quartet" and "all four repos" language (#983)
  AGENTS.md
Due: file-size-check, lychee

chore(deps): bump nix-ai + nix-home to pick up package placement audit
  flake.lock
Due: validate-package-freshness

fix(ci): add hosts/** to nix path filter in ci-gate
  .github/workflows/ci-gate.yml
Due: none

fix(ci): replace dispatch machinery with simple bump workflow
  .claude/rules/nix-deps-sync.md
  .github/scripts/validate-dispatch-payload.sh
  .github/workflows/deps-bump-jacobpevans.yml
  .github/workflows/deps-flake-dispatch.yml
Due: file-size-check, lychee

fix(ci): consolidate into parameterized deps-update-flake.yml
  .claude/rules/nix-deps-sync.md
  .github/workflows/deps-bump-jacobpevans.yml
  .github/workflows/deps-update-flake.yml
Due: file-size-check, lychee

fix(gh-aw): exclude .github/aw from markdownlint
  .markdownlint-cli2.yaml
Due: none

fix(gh-aw): quote .github/aw pattern in markdownlint ignores
  .markdownlint-cli2.yaml
Due: none

build(gh-aw): compile thin import wrappers for all gh-aw workflows (#994)
  .gitattributes
  .github/aw/actions-lock.json
  .github/aw/imports/.gitattributes
  .github/aw/imports/JacobPEvans/.github/6d6114bd2149cf9454f53bf0f522395bf81ea6f5/.github_workflows_shared_repo-health-audit-config.md
  .github/aw/imports/githubnext/agentics/aae6af93b4035df74630817afa13c528d6b74fe6/workflows_ai-moderator.md
  .github/aw/imports/githubnext/agentics/aae6af93b4035df74630817afa13c528d6b74fe6/workflows_ci-doctor.md
  .github/aw/imports/githubnext/agentics/aae6af93b4035df74630817afa13c528d6b74fe6/workflows_daily-malicious-code-scan.md
  .github/aw/imports/githubnext/agentics/aae6af93b4035df74630817afa13c528d6b74fe6/workflows_link-checker.md
  .github/aw/imports/githubnext/agentics/aae6af93b4035df74630817afa13c528d6b74fe6/workflows_sub-issue-closer.md
  .github/workflows/agentics-maintenance.yml
  .github/workflows/ai-moderator.lock.yml
  .github/workflows/ai-moderator.md
  .github/workflows/ci-doctor.lock.yml
  .github/workflows/ci-doctor.md
  .github/workflows/daily-malicious-code-scan.lock.yml
  .github/workflows/daily-malicious-code-scan.md
  .github/workflows/link-checker.lock.yml
  .github/workflows/link-checker.md
  .github/workflows/repo-health-audit.lock.yml
  .github/workflows/repo-health-audit.md
  .github/workflows/sub-issue-closer.lock.yml
  .markdownlint-cli2.jsonc
  .markdownlint-cli2.yaml
  cspell.json
Due: file-size-check, lychee

fix: recompile gh-aw workflows with v0.68.1
  .github/aw/actions-lock.json
  .github/workflows/ai-moderator.lock.yml
  .github/workflows/ci-doctor.lock.yml
  .github/workflows/daily-malicious-code-scan.lock.yml
  .github/workflows/link-checker.lock.yml
  .github/workflows/repo-health-audit.lock.yml
  .github/workflows/sub-issue-closer.lock.yml
Due: none

fix: complete gh-aw v0.68.1 recompile (agentics-maintenance + imports)
  .github/aw/actions-lock.json
  .github/aw/imports/JacobPEvans/.github/c2b00a5b5622a40bdc1420834c0c093affb7bd24/.github_workflows_shared_repo-health-audit-config.md
  .github/workflows/agentics-maintenance.yml
  .github/workflows/repo-health-audit.lock.yml
Due: file-size-check, lychee

fix: recompile gh-aw workflows with v0.68.1
  .github/aw/actions-lock.json
  .github/aw/imports/JacobPEvans/.github/c2b00a5b5622a40bdc1420834c0c093affb7bd24/.github_workflows_shared_repo-health-audit-config.md
  .github/workflows/agentics-maintenance.yml
  .github/workflows/ai-moderator.lock.yml
  .github/workflows/ci-doctor.lock.yml
  .github/workflows/daily-malicious-code-scan.lock.yml
  .github/workflows/link-checker.lock.yml
  .github/workflows/repo-health-audit.lock.yml
  .github/workflows/sub-issue-closer.lock.yml
Due: file-size-check, lychee

feat(zsh): throttle brew update/doctor to once per day, add outdated check
  hosts/macbook-m4/macos-setup.zsh
Due: none

fix(zsh): stamp after update success, no-auto-update flag, unset vars
  hosts/macbook-m4/macos-setup.zsh
Due: none

fix: remove cspell spell checker entirely
  .pre-commit-config.yaml
  cspell.json
Due: none

revert(dock): remove dock spacers
  modules/darwin/dock/default.nix
  modules/darwin/dock/spacers.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix(dock): remove dock spacers
  modules/darwin/dock/persistent-apps.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix(dock): remove dock spacers (#1016)
  modules/darwin/dock/persistent-apps.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

feat(cribl-edge): Nix-managed install, run as root, remove cribl user
  hosts/macbook-m4/default.nix
  modules/darwin/apps/cribl-edge.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix(home-manager): address review feedback on backupCommand
  SETUP.md
  TROUBLESHOOTING.md
  lib/home-manager-defaults.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check, lychee

fix(home-manager): replace backupFileExtension with backupCommand rm -rf (#1018)
  SETUP.md
  TROUBLESHOOTING.md
  lib/home-manager-defaults.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check, lychee

refactor(cribl-edge): use Cribl Cloud install script, extract shell, move secrets to Doppler
  hosts/macbook-m4/default.nix
  modules/darwin/apps/cribl-edge.nix
  modules/darwin/apps/scripts/cribl-edge-activate.sh
  modules/darwin/apps/scripts/cribl-edge-deploy-pack.sh
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

feat(cribl-edge): declarative management with Renovate tracking (#1019)
  hosts/macbook-m4/default.nix
  modules/darwin/apps/cribl-edge.nix
  modules/darwin/apps/scripts/cribl-edge-activate.sh
  modules/darwin/apps/scripts/cribl-edge-deploy-pack.sh
  renovate.json5
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix(cribl-edge): scope PATH extension to primaryUser profile only
  modules/darwin/apps/cribl-edge.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix(cribl-edge): use primaryUser for doppler access in activation (#1023)
  modules/darwin/apps/cribl-edge.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix(cribl-edge): run secret-fetch commands as primaryUser
  modules/darwin/apps/cribl-edge.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix(cribl-edge): escapeShellArg for su -c args and absolute su path
  modules/darwin/apps/cribl-edge.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix(cribl-edge): use pkgs.lib.fakeHash — lib not in scope in host module
  hosts/macbook-m4/default.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix(cribl-edge): replace cc-edge-macos-power with cc-edge-the-mac-pack-io (#1028)
  hosts/macbook-m4/default.nix
  modules/darwin/apps/cribl-edge.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

feat(cribl-edge): replace Doppler CLI with sops-nix for root secrets
  .sops.yaml
  flake.lock
  flake.nix
  hosts/macbook-m4/default.nix
  modules/darwin/apps/cribl-edge.nix
  modules/darwin/common.nix
  modules/darwin/sops.nix
  renovate.json5
  secrets/cribl-edge.yaml
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check, validate-package-freshness

fix(cribl-edge): add sudo -u to drop UID for Keychain access
  modules/darwin/apps/cribl-edge.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix(cribl-edge): address CodeQL workflow-secret-in-url and supply-chain
  modules/darwin/apps/scripts/cribl-edge-activate.sh
Due: none

docs: add sops-nix and Doppler context to CLAUDE.md and README
  .readme-validator.yaml
  README.md
Due: file-size-check, lychee

fix(cribl-edge): use absolute path /bin/launchctl
  modules/darwin/apps/cribl-edge.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix(cribl-edge): use launchctl asuser for Keychain-accessible secret fetch
  modules/darwin/apps/cribl-edge.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix(sops): use flat key names in secrets/cribl-edge.yaml
  modules/darwin/sops.nix
  secrets/cribl-edge.yaml
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix(cribl-edge): replace cc-edge-macos-power with cc-edge-the-mac-pack-io
  hosts/macbook-m4/default.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

docs: add sops-nix and Doppler context to AGENTS.md
  AGENTS.md
Due: file-size-check, lychee

fix(cribl-edge): replace Doppler CLI with sops-nix for root-safe secrets
  .readme-validator.yaml
  .sops.yaml
  AGENTS.md
  README.md
  flake.lock
  flake.nix
  hosts/macbook-m4/default.nix
  modules/darwin/apps/cribl-edge.nix
  modules/darwin/apps/scripts/cribl-edge-activate.sh
  modules/darwin/common.nix
  modules/darwin/sops.nix
  renovate.json5
  secrets/cribl-edge.yaml
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check, lychee, validate-package-freshness

Path conditions:
  nix-fmt-check: any of: \.nix$, but not: ^worktrees/
  nix-statix: any of: \.nix$, but not: ^worktrees/
  nix-deadnix: any of: \.nix$, but not: ^worktrees/
  validate-claude-settings: any of: \.claude/settings(\.local)?\.json$ and \.json$
  validate-permission-wildcards: any of: modules/home-manager/ai-cli/(common/(formatters|permissions)|claude-config)\.nix$
  file-size-check: any of: \.(md|nix)$
  lychee: any of: \.(md|html)$
  validate-auto-claude-scripts: any of: ^modules/home-manager/ai-cli/claude/auto-claude.*\.sh$
  validate-orchestrator-prompt: any of: ^modules/home-manager/ai-cli/claude/orchestrator-prompt\.txt$
  validate-npm-urls: any of: ^modules/home-manager/ai-cli/ai-tools\.nix$
  validate-brew-before-npm: any of: ^modules/home-manager/ai-cli/ai-tools\.nix$
  validate-nix-before-all: any of: ^modules/darwin/homebrew\.nix$
  validate-package-freshness: any of: ^flake\.lock$
