Repository JacobPEvans/nix-darwin: changes, and which pre-commit hooks are due for each by the changed paths.
All: nix-flake-check, validate-claude-settings, file-size-check, validate-auto-claude-scripts, validate-orchestrator-prompt, update-flake-inputs

.pre-commit-config.yaml:

# Pre-commit hooks for nix-darwin configuration
#
# Hooks run automatically via core.hooksPath (set in common.nix)
# Run manually: pre-commit run --all-files

repos:
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: check-merge-conflict
      - id: detect-private-key

  # Markdown linting (using markdownlint-cli2 which reads .markdownlint-cli2.jsonc)
  # Config file has "fix: true" to auto-fix issues
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.18.1
    hooks:
      - id: markdownlint-cli2
        files: \.md$

  # Local hooks using system-installed tools (from nix)
  - repo: local
    hooks:
      # Nix quality checks - DRY with GitHub Actions via flake checks
      # Single source of truth: checks defined in flake.nix
      # Runs: formatting (nixfmt-rfc-style), linting (statix), dead code (deadnix)
      - id: nix-flake-check
        name: Nix quality checks (format + lint + deadnix)
        entry: nix flake check --no-build --print-build-logs
        language: system
        files: \.nix$
        types: [file]
        exclude: ^worktrees/
        pass_filenames: false

      # Claude Code settings validation - check-jsonschema installed via nix
      - id: validate-claude-settings
        name: Validate Claude settings
        entry: check-jsonschema --schemafile https://json.schemastore.org/claude-code-settings.json
        language: system
        files: '\.claude/settings(\.local)?\.json$'
        types: [json]

      # File size check - DRY with GitHub Actions via shared script
      # Blocks at 12KB hard limit, warns at 6KB recommended
      # Extended (32KB): CLAUDE, ANTHROPIC-ECOSYSTEM, TROUBLESHOOTING
      # Exempt (no limit): RUNBOOK, *-permissions-*.nix files
      - id: file-size-check
        name: File size check (6KB warn, 12KB fail)
        entry: scripts/workflows/check-file-sizes.sh
        args:
          - "CLAUDE ANTHROPIC-ECOSYSTEM TROUBLESHOOTING"
          - "RUNBOOK copilot-permissions-allow copilot-permissions-ask copilot-permissions-deny gemini-permissions-allow gemini-permissions-deny"
        language: system
        files: \.(md|nix)$
        types: [file]
        pass_filenames: false

      # Auto-Claude shell script validation
      # Validates syntax of all auto-claude shell scripts
      - id: validate-auto-claude-scripts
        name: Validate auto-claude shell scripts
        entry: bash -c 'shopt -s nullglob; rc=0; for f in modules/home-manager/ai-cli/claude/auto-claude*.sh; do zsh -n "$f" || rc=1; done; exit $rc'
        language: system
        files: '^modules/home-manager/ai-cli/claude/auto-claude.*\.sh$'
        types: [file]
        pass_filenames: false

      # Orchestrator prompt validation
      # Ensures prompt file exists and contains required sections
      - id: validate-orchestrator-prompt
        name: Validate orchestrator prompt
        entry: bash -c 'f="modules/home-manager/ai-cli/claude/orchestrator-prompt.txt"; test -s "$f" && grep -q "CORE LOOP" "$f" && grep -q "IDENTITY" "$f"'
        language: system
        files: '^modules/home-manager/ai-cli/claude/orchestrator-prompt\.txt$'
        types: [file]
        pass_filenames: false

      # Flake input updates - run on .nix file changes
      # Updates critical inputs to stay current with upstream
      - id: update-flake-inputs
        name: Update flake inputs (nixpkgs, ai-assistant-instructions, agent-os, nix-config-main)
        entry: nix flake lock --update-input nixpkgs --update-input ai-assistant-instructions --update-input agent-os --update-input nix-config-main
        language: system
        files: \.nix$
        types: [file]
        pass_filenames: false

fix(opencode): remove unused let bindings
  modules/home-manager/ai-cli/opencode.nix
Due: nix-flake-check, file-size-check, update-flake-inputs

fix: remove unused userConfig variable in file-extensions.nix
  modules/darwin/file-extensions.nix
Due: nix-flake-check, file-size-check, update-flake-inputs

feat: add custom file extension associations for .spl and .crbl archives (#187)
  modules/darwin/common.nix
  modules/darwin/file-associations.nix
Due: nix-flake-check, file-size-check, update-flake-inputs

feat(ai-cli): migrate Claude permissions to unified system (#182)
  .pre-commit-config.yaml
  modules/home-manager/ai-cli/claude.nix
  modules/home-manager/ai-cli/common/allow.nix
  modules/home-manager/ai-cli/common/formatters.nix
  modules/home-manager/ai-cli/common/permissions.nix
  modules/home-manager/permissions/claude-permissions-allow.nix
  modules/home-manager/permissions/claude-permissions-ask.nix
  modules/home-manager/permissions/claude-permissions-deny.nix
Due: nix-flake-check, file-size-check, update-flake-inputs

fix(menubar): run SwiftBar actions silently and add pause options
  modules/home-manager/ai-cli/claude/auto-claude-status.py
Due: none

fix(monitoring): address PR review feedback
  flake.nix
  hosts/macbook-m4/home.nix
  modules/home-manager/ai-cli/claude/auto-claude.sh
Due: nix-flake-check, file-size-check, validate-auto-claude-scripts, update-flake-inputs

fix(monitoring): eliminate hardcoded username in K8s manifests
  modules/monitoring/default.nix
  modules/monitoring/k8s/cribl-edge/deployment.yaml
  modules/monitoring/k8s/otel-collector/deployment.yaml
Due: nix-flake-check, file-size-check, update-flake-inputs

fix(monitoring): use replaceVars instead of removed substituteAll
  modules/monitoring/default.nix
Due: nix-flake-check, file-size-check, update-flake-inputs

docs(review): add footer instruction for Copilot reviews
  .github/instructions/code-review-general.instructions.md
Due: file-size-check

fix: resolve nix.gc.automatic conflict and ai-assistant-instructions parameter passing
  flake.lock
  modules/darwin/common.nix
  modules/home-manager/ai-cli/copilot.nix
  modules/home-manager/ai-cli/gemini.nix
  modules/home-manager/common.nix
  modules/home-manager/permissions/copilot-permissions-allow.nix
  modules/home-manager/permissions/copilot-permissions-deny.nix
  modules/home-manager/permissions/gemini-permissions-allow.nix
  modules/home-manager/permissions/gemini-permissions-deny.nix
Due: nix-flake-check, file-size-check, update-flake-inputs

fix: optimize JSON reading and improve comments
  modules/home-manager/ai-cli/common/formatters.nix
  modules/home-manager/ai-cli/common/permissions.nix
Due: nix-flake-check, file-size-check, update-flake-inputs

feat: add support for ask/ permission directory
  modules/home-manager/ai-cli/common/permissions.nix
Due: nix-flake-check, file-size-check, update-flake-inputs

Apply suggestion from Copilot
  modules/home-manager/ai-cli/common/permissions.nix
Due: nix-flake-check, file-size-check, update-flake-inputs

refactor: read permissions from unified ai-assistant-instructions structure (#209)
  flake.lock
  flake.nix
  modules/darwin/common.nix
  modules/home-manager/ai-cli/claude-config.nix
  modules/home-manager/ai-cli/common/allow.nix
  modules/home-manager/ai-cli/common/default.nix
  modules/home-manager/ai-cli/common/formatters.nix
  modules/home-manager/ai-cli/common/permissions.nix
  modules/home-manager/ai-cli/copilot.nix
  modules/home-manager/ai-cli/gemini.nix
  modules/home-manager/common.nix
  modules/home-manager/permissions/copilot-permissions-allow.nix
  modules/home-manager/permissions/copilot-permissions-deny.nix
  modules/home-manager/permissions/gemini-permissions-allow.nix
  modules/home-manager/permissions/gemini-permissions-deny.nix
Due: nix-flake-check, file-size-check, update-flake-inputs

fix: correct regex pattern in auto-claude-ctl.sh schedule command (#183)
  modules/home-manager/ai-cli/claude/auto-claude-ctl.sh
Due: validate-auto-claude-scripts

fix: address PR review feedback on TOML generation
  modules/home-manager/ai-cli/gemini-commands.nix
Due: nix-flake-check, file-size-check, update-flake-inputs

feat(gemini): add custom commands adapter
  .github/PULL_REQUEST_TEMPLATE.md
  .github/instructions/DO-NOT-REVIEW.md
  AGENTS.md
  ARCHITECTURE.md
  CHANGELOG.md
  PLANNING.md
  docs/README.md
  modules/home-manager/ai-cli/agent-os/default.nix
  modules/home-manager/ai-cli/gemini-commands.nix
  modules/home-manager/common.nix
Due: nix-flake-check, file-size-check, update-flake-inputs

feat(orchestrator): add issue hygiene step and mandatory PR-issue linking (#215)
  modules/home-manager/ai-cli/claude/orchestrator-prompt.txt
Due: validate-orchestrator-prompt

feat: add .spl and .crbl extension mappings for tar.gz archives (#199)
  docs/FILE-EXTENSIONS.md
  docs/README.md
  hosts/macbook-m4/default.nix
  modules/darwin/common.nix
  modules/darwin/file-extensions.nix
Due: nix-flake-check, file-size-check, update-flake-inputs

feat(ci): daily flake updates with auto-merge for claude-code freshness (#218)
  .github/workflows/deps-update-flake.yml
  .github/workflows/review-deps.yml
  docs/DEPENDENCY-MONITORING.md
Due: file-size-check

feat(gemini): add custom commands adapter (#211)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/instructions/DO-NOT-REVIEW.md
  AGENTS.md
  ARCHITECTURE.md
  CHANGELOG.md
  PLANNING.md
  docs/README.md
  modules/home-manager/ai-cli/agent-os/default.nix
  modules/home-manager/ai-cli/gemini-commands.nix
  modules/home-manager/common.nix
Due: nix-flake-check, file-size-check, update-flake-inputs

fix(nix): remove incompatible nix.gc configuration (#251)
  modules/darwin/common.nix
  modules/darwin/file-extensions.nix
Due: nix-flake-check, file-size-check, update-flake-inputs

feat(auto-claude): rewrite secrets handling in Python with external config
  .pre-commit-config.yaml
  modules/home-manager/ai-cli/claude-config.nix
  modules/home-manager/ai-cli/claude/auto-claude-notify.py
  modules/home-manager/ai-cli/claude/auto-claude.nix
  modules/home-manager/ai-cli/claude/auto-claude.sh
  modules/home-manager/ai-cli/claude/bws-env.example
  modules/home-manager/ai-cli/claude/bws_helper.py
  modules/home-manager/ai-cli/claude/default.nix
  modules/home-manager/ai-cli/claude/get-api-key.sh
  modules/home-manager/ai-cli/claude/options.nix
Due: nix-flake-check, file-size-check, validate-auto-claude-scripts, update-flake-inputs

fix(bws_helper): restore name-to-ID resolution for bws secret get
  modules/home-manager/ai-cli/claude/bws_helper.py
Due: none

fix: resolve PR comments
  flake.lock
  modules/home-manager/ai-cli/claude-config.nix
  modules/home-manager/ai-cli/claude/bws_helper.py
  modules/home-manager/ai-cli/claude/default.nix
  modules/home-manager/ai-cli/claude/get-api-key.py
  modules/home-manager/ai-cli/claude/plugins.nix
Due: nix-flake-check, file-size-check, update-flake-inputs

fix(auto-claude): remove broken BWS_ACCESS_TOKEN checks
  modules/home-manager/ai-cli/claude/auto-claude.sh
Due: validate-auto-claude-scripts

refactor(auto-claude): use update_last_run function instead of duplicate inline logic
  modules/home-manager/ai-cli/claude/auto-claude.sh
Due: validate-auto-claude-scripts

fix(bws_helper): add FileNotFoundError handling and clarify design choices
  modules/home-manager/ai-cli/claude/bws_helper.py
Due: none

fix(auto-claude): address PR review feedback on code quality
  modules/home-manager/ai-cli/claude/auto-claude.sh
  modules/home-manager/ai-cli/claude/bws_helper.py
Due: validate-auto-claude-scripts

fix(auto-claude): enforce PR-first lifecycle with worktree cleanup
  modules/home-manager/ai-cli/claude/orchestrator-prompt.txt
Due: validate-orchestrator-prompt

fix(auto-claude): address all PR review feedback
  modules/home-manager/ai-cli/claude/orchestrator-prompt.txt
Due: validate-orchestrator-prompt
