Repository JacobPEvans/nix-darwin: changes, and which pre-commit hooks are due for each by the changed paths.
All: nix-fmt-check, nix-statix, nix-deadnix, validate-claude-settings, validate-permission-wildcards, file-size-check, lychee, validate-auto-claude-scripts, validate-orchestrator-prompt, validate-npm-urls, validate-brew-before-npm, validate-nix-before-all, validate-package-freshness

nix-fmt-check:
  name: Nix formatting (nixfmt-rfc-style)
  entry: 'bash -c ''nixfmt --check "$@" || (echo "Run: nix fmt"; exit 1)'' --'
  language: system

nix-statix:
  name: Nix linting (statix)
  entry: statix check
  language: system
  pass_filenames: false

nix-deadnix:
  name: Nix dead code (deadnix)
  entry: deadnix -L --fail
  language: system
  pass_filenames: false

validate-claude-settings:
  name: Validate Claude settings
  entry: nix shell nixpkgs#check-jsonschema -c check-jsonschema --schemafile https://json.schemastore.org/claude-code-settings.json
  language: system

validate-permission-wildcards:
  name: Check for invalid :*:* permission patterns
  ...

file-size-check:
  name: File size check (6KB warn, 12KB fail)
  entry: scripts/workflows/check-file-sizes.sh
  language: system
  pass_filenames: false

lychee:
  name: Lychee link checker
  entry: lychee
  language: system
  pass_filenames: true

validate-auto-claude-scripts:
  name: Validate auto-claude shell scripts
  entry: bash -c 'find modules/home-manager/ai-cli/claude -name "auto-claude*.sh" -exec zsh -n {} \; || exit 1'
  language: system
  pass_filenames: false

validate-orchestrator-prompt:
  name: Validate orchestrator prompt
  entry: bash -c 'f="modules/home-manager/ai-cli/claude/orchestrator-prompt.txt"; test -s "$f" && grep -q "CORE LOOP" "$f" && grep -q "IDENTITY" "$f"'
  language: system
  pass_filenames: false

validate-npm-urls:
  name: Validate npm package URLs
  entry: scripts/validate-npm-urls.sh
  language: system
  pass_filenames: false

validate-brew-before-npm:
  name: Check homebrew before npm/bunx (hierarchy)
  entry: scripts/validate-brew-before-npm.sh
  language: system
  pass_filenames: false

validate-nix-before-all:
  name: Check nixpkgs before all others (hierarchy)
  entry: scripts/validate-nix-before-all.sh
  language: system
  pass_filenames: false

validate-package-freshness:
  name: Validate package freshness (staleness check)
  entry: scripts/validate-package-freshness.sh
  language: system
  pass_filenames: false

fix: address PR review feedback
  modules/common/git-flow-next.nix
  modules/common/packages.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix: remove deprecated SlashCommand permission (#646)
  modules/home-manager/ai-cli/common/permissions.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, validate-permission-wildcards, file-size-check

chore: use minimal attribution for git commits (#647)
  lib/claude-settings.nix
  modules/home-manager/ai-cli/claude/settings.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

refactor(claude): move stop hook to process-cleanup@jacobpevans-cc-plugins
  MANIFEST.md
  modules/home-manager/ai-cli/claude-config.nix
  modules/home-manager/ai-cli/claude/hooks/session-cleanup.sh
Due: nix-fmt-check, nix-statix, nix-deadnix, validate-permission-wildcards, file-size-check, lychee

feat: make all casks greedy, complete MS suite migration, move OrbStack to cask
  MANIFEST.md
  hosts/macbook-m4/default.nix
  modules/darwin/homebrew.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check, lychee, validate-nix-before-all

fix(ci): wrap long lines in MANIFEST.md to fix MD013 violations
  MANIFEST.md
Due: file-size-check, lychee

fix: address PR review feedback on process-cleanup.zsh and MANIFEST.md
  MANIFEST.md
  modules/home-manager/zsh/process-cleanup.zsh
Due: file-size-check, lychee

revert: restore Microsoft 365 apps to masApps, keep Teams as cask
  MANIFEST.md
  modules/darwin/homebrew.nix
  scripts/validate-nix-before-all.sh
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check, lychee, validate-nix-before-all

fix: remove greedy flag from microsoft-teams cask
  MANIFEST.md
  modules/darwin/homebrew.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check, lychee, validate-nix-before-all

feat: add event-based cleanup for orphaned MCP server processes (#652)
  MANIFEST.md
  modules/darwin/common.nix
  modules/home-manager/ai-cli/claude-config.nix
  modules/home-manager/common.nix
  modules/home-manager/zsh/process-cleanup.zsh
Due: nix-fmt-check, nix-statix, nix-deadnix, validate-permission-wildcards, file-size-check, lychee

feat: replace issue-triage with full issue pipeline (triage + resolve)
  .github/workflows/issue-pipeline.yml
  .github/workflows/issue-triage.yml
  .github/zizmor.yml
Due: none

feat: replace issue-triage with full issue pipeline (#658)
  .github/workflows/issue-pipeline.yml
  .github/workflows/issue-triage.yml
  .github/zizmor.yml
Due: none

test: add minimal reusable workflow test
  .github/workflows/test-reusable.yml
  .github/zizmor.yml
Due: none

test: add minimal reusable workflow test (#660)
  .github/workflows/test-reusable.yml
  .github/zizmor.yml
Due: none

test: try SHA ref for reusable workflow (#661)
  .github/workflows/test-reusable.yml
Due: none

test: try explicit read permissions for reusable workflow (#662)
  .github/workflows/test-reusable.yml
Due: none

fix: add bridge job for reusable workflow always() limitation
  .github/workflows/issue-pipeline.yml
Due: none

fix: update issue pipeline to ai-workflows v0.2.1 (#665)
  .github/workflows/issue-pipeline.yml
Due: none

fix: update issue pipeline to ai-workflows v0.2.2
  .github/workflows/issue-pipeline.yml
Due: none

fix: add explicit if condition on resolve job for skipped ancestors
  .github/workflows/issue-pipeline.yml
Due: none

fix: add explicit if condition on resolve job for skipped ancestors (#667)
  .github/workflows/issue-pipeline.yml
Due: none

fix: split resolve into auto and manual paths
  .github/workflows/issue-pipeline.yml
Due: none

fix: split issue pipeline and fix permissions/version on all callers (#669)
  .github/workflows/best-practices.yml
  .github/workflows/ci-fix.yml
  .github/workflows/claude-review.yml
  .github/workflows/code-simplifier.yml
  .github/workflows/final-pr-review.yml
  .github/workflows/issue-auto-resolve.yml
  .github/workflows/issue-hygiene.yml
  .github/workflows/issue-sweeper.yml
  .github/workflows/next-steps.yml
  .github/workflows/post-merge-docs-review.yml
  .github/workflows/post-merge-tests.yml
  .github/zizmor.yml
Due: none

fix: bump issue-resolver callers to v0.2.4
  .github/workflows/issue-auto-resolve.yml
  .github/workflows/issue-pipeline.yml
Due: none

fix: bump issue-resolver callers to v0.2.4 (#670)
  .github/workflows/issue-auto-resolve.yml
  .github/workflows/issue-pipeline.yml
Due: none

fix: rename caller job keys to avoid reusable workflow name collision
  .github/workflows/issue-auto-resolve.yml
  .github/workflows/issue-pipeline.yml
Due: none

fix: rename caller job keys to avoid reusable workflow name collision (#671)
  .github/workflows/issue-auto-resolve.yml
  .github/workflows/issue-pipeline.yml
Due: none

fix: bump issue resolver/triage callers to v0.2.5 (#673)
  .github/workflows/issue-auto-resolve.yml
  .github/workflows/issue-pipeline.yml
Due: none

fix: bump ai-workflows to v0.2.6 and add id-token:write (#674)
  .github/workflows/ci-fix.yml
  .github/workflows/claude-review.yml
  .github/workflows/final-pr-review.yml
  .github/workflows/issue-auto-resolve.yml
  .github/workflows/issue-pipeline.yml
Due: none

fix: change issue_number input type from number to string (#675)
  .github/workflows/issue-pipeline.yml
Due: none

fix: bump all ai-workflows callers to v0.2.7 (#677)
  .github/workflows/best-practices.yml
  .github/workflows/ci-fix.yml
  .github/workflows/claude-review.yml
  .github/workflows/code-simplifier.yml
  .github/workflows/final-pr-review.yml
  .github/workflows/issue-auto-resolve.yml
  .github/workflows/issue-hygiene.yml
  .github/workflows/issue-pipeline.yml
  .github/workflows/issue-sweeper.yml
  .github/workflows/next-steps.yml
  .github/workflows/post-merge-docs-review.yml
  .github/workflows/post-merge-tests.yml
Due: none

chore(deps): update all flake inputs
  flake.lock
  shells/image-building/flake.lock
Due: validate-package-freshness

fix: bump all ai-workflows callers to v0.2.8 (#681)
  .github/workflows/best-practices.yml
  .github/workflows/ci-fix.yml
  .github/workflows/claude-review.yml
  .github/workflows/code-simplifier.yml
  .github/workflows/final-pr-review.yml
  .github/workflows/issue-auto-resolve.yml
  .github/workflows/issue-hygiene.yml
  .github/workflows/issue-pipeline.yml
  .github/workflows/issue-sweeper.yml
  .github/workflows/next-steps.yml
  .github/workflows/post-merge-docs-review.yml
  .github/workflows/post-merge-tests.yml
Due: none

fix: bump all ai-workflows callers to v0.2.9 (#682)
  .github/workflows/best-practices.yml
  .github/workflows/ci-fix.yml
  .github/workflows/claude-review.yml
  .github/workflows/code-simplifier.yml
  .github/workflows/final-pr-review.yml
  .github/workflows/issue-auto-resolve.yml
  .github/workflows/issue-hygiene.yml
  .github/workflows/issue-pipeline.yml
  .github/workflows/issue-sweeper.yml
  .github/workflows/next-steps.yml
  .github/workflows/post-merge-docs-review.yml
  .github/workflows/post-merge-tests.yml
Due: none

feat: add git-bug as universally available system tool (#678)
  MANIFEST.md
  modules/common/packages.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check, lychee

fix: add antigravity to validation exclusions list
  scripts/validate-nix-before-all.sh
Due: none

fix: update nixos wiki URL and add to lychee exclusions
  .lycheeignore
  REFERENCES.md
Due: file-size-check, lychee

chore: update flake inputs to latest (2026-02-23)
  flake.lock
Due: validate-package-freshness

Path conditions:
  nix-fmt-check: any of: \.nix$, but not: ^worktrees/
  nix-statix: any of: \.nix$, but not: ^worktrees/
  nix-deadnix: any of: \.nix$, but not: ^worktrees/
  validate-claude-settings: any of: \.claude/settings(\.local)?\.json$ and \.json$
  validate-permission-wildcards: any of: modules/home-manager/ai-cli/(common/(formatters|permissions)|claude-config)\.nix$
  file-size-check: any of: \.(md|nix)$
  lychee: any of: \.(md|html)$
  validate-auto-claude-scripts: any of: ^modules/home-manager/ai-cli/claude/auto-claude.*\.sh$
  validate-orchestrator-prompt: any of: ^modules/home-manager/ai-cli/claude/orchestrator-prompt\.txt$
  validate-npm-urls: any of: ^modules/home-manager/ai-cli/ai-tools\.nix$
  validate-brew-before-npm: any of: ^modules/home-manager/ai-cli/ai-tools\.nix$
  validate-nix-before-all: any of: ^modules/darwin/homebrew\.nix$
  validate-package-freshness: any of: ^flake\.lock$
