Repository JacobPEvans/nix-darwin: changes, and which pre-commit hooks are due for each by the changed paths.
All: nix-fmt-check, nix-statix, nix-deadnix, validate-claude-settings, file-size-check, validate-auto-claude-scripts, validate-orchestrator-prompt

nix-fmt-check:
  name: Nix formatting (nixfmt-rfc-style)
  entry: 'bash -c ''nixfmt --check "$@" || (echo "Run: nix fmt"; exit 1)'' --'
  language: system

nix-statix:
  name: Nix linting (statix)
  entry: statix check
  language: system
  pass_filenames: false

nix-deadnix:
  name: Nix dead code (deadnix)
  entry: deadnix -L --fail
  language: system
  pass_filenames: false

validate-claude-settings:
  name: Validate Claude settings
  entry: check-jsonschema --schemafile https://json.schemastore.org/claude-code-settings.json
  language: system

file-size-check:
  name: File size check (6KB warn, 12KB fail)
  entry: scripts/workflows/check-file-sizes.sh
  language: system
  pass_filenames: false

validate-auto-claude-scripts:
  name: Validate auto-claude shell scripts
  entry: bash -c 'find modules/home-manager/ai-cli/claude -name "auto-claude*.sh" -exec zsh -n {} \; || exit 1'
  language: system
  pass_filenames: false

validate-orchestrator-prompt:
  name: Validate orchestrator prompt
  entry: bash -c 'f="modules/home-manager/ai-cli/claude/orchestrator-prompt.txt"; test -s "$f" && grep -q "CORE LOOP" "$f" && grep -q "IDENTITY" "$f"'
  language: system
  pass_filenames: false

docs(diagnostics): add log files and new diagnostic commands
  docs/boot-failure/diagnostics.md
Due: file-size-check

feat(macos): switch to copyApps for stable TCC permissions
  flake.nix
  hosts/macbook-m4/home.nix
  modules/common/packages.nix
  modules/darwin/apps/orbstack.nix
  modules/darwin/common.nix
  modules/darwin/dock/persistent-apps.nix
  modules/darwin/homebrew.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix(boot): address all PR review comments comprehensively
  TROUBLESHOOTING.md
  docs/boot-failure/root-cause.md
  modules/darwin/auto-recovery.nix
  modules/darwin/boot-activation.nix
  modules/darwin/common.nix
  modules/darwin/dock/persistent-apps.nix
  modules/darwin/launchd-bootstrap.nix
  modules/home-manager/git/hooks.nix
  modules/home-manager/nix-activation-recovery.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

docs: update references to renamed symlink-boot service
  docs/boot-failure/diagnostics.md
  docs/boot-failure/permanent-fix.md
Due: file-size-check

fix: address review feedback - useless cat, symlink-boot recovery, Gemini comment
  hosts/macbook-m4/home.nix
  modules/darwin/auto-recovery.nix
  modules/darwin/boot-activation.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix: Add Edit and Write tools to Claude auto-approved permissions
  modules/home-manager/ai-cli/common/permissions.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

docs: update for copyApps migration and add shell options comment
  docs/boot-failure/root-cause.md
  modules/darwin/boot-activation.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix(docs): remove extra space in marketplace.json path
  docs/TESTING-MARKETPLACES.md
Due: file-size-check

fix(auto-claude): add hard limits and content routing to prevent issue spam (#421)
  docs/AUTO-CLAUDE-WORKFLOW.md
  modules/home-manager/ai-cli/claude/auto-claude-notify.py
  modules/home-manager/ai-cli/claude/auto_claude_preflight.py
  modules/home-manager/ai-cli/claude/orchestrator-prompt.txt
Due: file-size-check, validate-orchestrator-prompt

fix: Resolve auto-claude permission and module import issues (#425)
  modules/home-manager/ai-cli/claude/auto-claude.nix
  modules/home-manager/ai-cli/claude/auto_claude_db.py
  modules/home-manager/ai-cli/common/permissions.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

feat(testing): add BATS testing framework with comprehensive shell tests (#404)
  CONTRIBUTING.md
  modules/common/packages.nix
  tests/run-shell-tests.sh
  tests/shell/test_auto_claude_args.bats
  tests/shell/test_bats_framework.bats
  tests/shell/test_check_file_sizes.bats
  tests/shell/test_verify_symlinks.bats
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix(claude): Fix marketplace keys and plugin references (#422)
  docs/CLAUDE-MARKETPLACE-ARCHITECTURE.md
  docs/README-MARKETPLACES.md
  docs/TESTING-MARKETPLACES.md
  flake.lock
  lib/claude-registry.nix
  modules/home-manager/ai-cli/claude/default.nix
  modules/home-manager/ai-cli/claude/plugins/development.nix
  modules/home-manager/ai-cli/claude/plugins/infrastructure.nix
  modules/home-manager/ai-cli/claude/plugins/marketplaces.nix
  modules/home-manager/ai-cli/claude/plugins/official.nix
  modules/home-manager/ai-cli/claude/registry.nix
  modules/home-manager/ai-cli/claude/settings.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

style: group twisted-dependent packages under shared comment
  modules/darwin/common.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix(darwin): disable packages with broken upstream dependencies (#427)
  modules/common/packages.nix
  modules/darwin/common.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

refactor(ai): reorganize AI tools into dedicated module with clear hierarchy
  hosts/macbook-m4/home.nix
  modules/common/packages.nix
  modules/darwin/common.nix
  modules/home-manager/ai-cli/ai-tools.nix
  overlays/npm-packages.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix: correct file references and terminology in AI tools configuration
  modules/darwin/homebrew.nix
  modules/home-manager/ai-cli/ai-tools.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix: pin bunx wrapper versions and clarify nixpkgs sourcing in ai-tools.nix
  modules/home-manager/ai-cli/ai-tools.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix(ai-cli): update comments and pin bunx wrapper versions for security
  modules/home-manager/ai-cli/ai-tools.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix(darwin): use nixpkgs for AI packages instead of llm-agents.nix (#428)
  hosts/macbook-m4/home.nix
  modules/common/packages.nix
  modules/darwin/common.nix
  modules/darwin/homebrew.nix
  modules/home-manager/ai-cli/ai-tools.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix(review): address PR #429 review feedback
  modules/darwin/energy.nix
  modules/darwin/system-ui.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix: apply official log format to activation script messages
  modules/darwin/energy.nix
  modules/darwin/system-ui.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

feat(darwin): add clock settings, energy module, and UI customizations
  AGENTS.md
  hosts/macbook-m4/default.nix
  modules/darwin/apps/raycast.nix
  modules/darwin/common.nix
  modules/darwin/energy.nix
  modules/darwin/system-ui.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix(review): address PR #429 review feedback
  modules/darwin/apps/raycast.nix
  modules/darwin/system-ui.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix: address PR review feedback on validation scripts and documentation
  .github/renovate.json5
  .github/workflows/ci-package-staleness.yml
  RUNBOOK.md
  agentsmd/rules/version-validation.md
  docs/DEPENDENCY-MONITORING.md
  scripts/validate-nix-before-all.sh
Due: file-size-check

refactor(validation): rename scripts to use 'before' instead of 'over'
  .pre-commit-config.yaml
  scripts/validate-brew-before-npm.sh
  scripts/validate-nix-before-all.sh
Due: none

feat(packages): enforce package hierarchy with validation hooks
  .pre-commit-config.yaml
  modules/common/packages.nix
  modules/darwin/homebrew.nix
  modules/home-manager/ai-cli/ai-tools.nix
  scripts/validate-brew-over-npm.sh
  scripts/validate-nix-over-brew.sh
  scripts/validate-npm-urls.sh
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix: use array expansion for safe flake inputs handling
  .github/workflows/deps-update-flake.yml
Due: none

fix: address all 12 remaining PR review thread issues
  .github/renovate.json5
  docs/DEPENDENCY-MONITORING.md
  flake.nix
  modules/home-manager/ai-cli/ai-tools.nix
  scripts/validate-brew-before-npm.sh
  scripts/validate-npm-urls.sh
  scripts/validate-package-freshness.sh
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix: resolve all review thread issues
  .github/renovate.json5
  .github/workflows/ci-package-staleness.yml
  .github/workflows/deps-update-flake.yml
  docs/DEPENDENCY-MONITORING.md
  modules/darwin/homebrew.nix
  scripts/validate-brew-before-npm.sh
  scripts/validate-nix-before-all.sh
  scripts/validate-npm-urls.sh
  scripts/validate-package-freshness.sh
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix: resolve all review thread issues
  .github/renovate.json5
  .github/workflows/deps-update-flake.yml
  RUNBOOK.md
  agentsmd/rules/version-validation.md
  scripts/validate-brew-before-npm.sh
  scripts/validate-nix-before-all.sh
  scripts/validate-npm-urls.sh
Due: file-size-check

feat(deps): implement comprehensive dependency monitoring system
  .github/renovate.json5
  .github/workflows/ci-package-staleness.yml
  .github/workflows/deps-update-flake.yml
  .pre-commit-config.yaml
  AGENTS.md
  RUNBOOK.md
  agentsmd/rules/version-validation.md
  docs/DEPENDENCY-MONITORING.md
  flake.nix
  modules/home-manager/ai-cli/ai-tools.nix
  scripts/validate-package-freshness.sh
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

Path conditions:
  nix-fmt-check: any of: \.nix$, but not: ^worktrees/
  nix-statix: any of: \.nix$, but not: ^worktrees/
  nix-deadnix: any of: \.nix$, but not: ^worktrees/
  validate-claude-settings: any of: \.claude/settings(\.local)?\.json$ and \.json$
  file-size-check: any of: \.(md|nix)$
  validate-auto-claude-scripts: any of: ^modules/home-manager/ai-cli/claude/auto-claude.*\.sh$
  validate-orchestrator-prompt: any of: ^modules/home-manager/ai-cli/claude/orchestrator-prompt\.txt$
