Repository JacobPEvans/nix-darwin: changes, and which pre-commit hooks are due for each by the changed paths.
All: nix-fmt-check, nix-statix, nix-deadnix, validate-claude-settings, validate-permission-wildcards, file-size-check, lychee, validate-auto-claude-scripts, validate-orchestrator-prompt, validate-npm-urls, validate-brew-before-npm, validate-nix-before-all, validate-package-freshness

nix-fmt-check:
  name: Nix formatting (nixfmt-rfc-style)
  entry: 'bash -c ''nixfmt --check "$@" || (echo "Run: nix fmt"; exit 1)'' --'
  language: system

nix-statix:
  name: Nix linting (statix)
  entry: statix check
  language: system
  pass_filenames: false

nix-deadnix:
  name: Nix dead code (deadnix)
  entry: deadnix -L --fail
  language: system
  pass_filenames: false

validate-claude-settings:
  name: Validate Claude settings
  entry: nix shell nixpkgs#check-jsonschema -c check-jsonschema --schemafile https://json.schemastore.org/claude-code-settings.json
  language: system

validate-permission-wildcards:
  name: Check for invalid :*:* permission patterns
  ...

file-size-check:
  name: File size check (6KB warn, 12KB fail)
  entry: scripts/workflows/check-file-sizes.sh
  language: system
  pass_filenames: false

lychee:
  name: Lychee link checker
  entry: lychee
  language: system
  pass_filenames: true

validate-auto-claude-scripts:
  name: Validate auto-claude shell scripts
  entry: bash -c 'find modules/home-manager/ai-cli/claude -name "auto-claude*.sh" -exec zsh -n {} \; || exit 1'
  language: system
  pass_filenames: false

validate-orchestrator-prompt:
  name: Validate orchestrator prompt
  entry: bash -c 'f="modules/home-manager/ai-cli/claude/orchestrator-prompt.txt"; test -s "$f" && grep -q "CORE LOOP" "$f" && grep -q "IDENTITY" "$f"'
  language: system
  pass_filenames: false

validate-npm-urls:
  name: Validate npm package URLs
  entry: scripts/validate-npm-urls.sh
  language: system
  pass_filenames: false

validate-brew-before-npm:
  name: Check homebrew before npm/bunx (hierarchy)
  entry: scripts/validate-brew-before-npm.sh
  language: system
  pass_filenames: false

validate-nix-before-all:
  name: Check nixpkgs before all others (hierarchy)
  entry: scripts/validate-nix-before-all.sh
  language: system
  pass_filenames: false

validate-package-freshness:
  name: Validate package freshness (staleness check)
  entry: scripts/validate-package-freshness.sh
  language: system
  pass_filenames: false

feat: move gemini-cli and antigravity to homebrew for Gemini 3.1 Pro support (#685)
  .lycheeignore
  MANIFEST.md
  REFERENCES.md
  flake.lock
  hosts/macbook-m4/home.nix
  modules/darwin/common.nix
  modules/darwin/dock/persistent-apps.nix
  modules/darwin/homebrew.nix
  modules/home-manager/ai-cli/ai-tools.nix
  scripts/validate-nix-before-all.sh
  scripts/workflows/check-package-versions.sh
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check, lychee, validate-npm-urls, validate-brew-before-npm, validate-nix-before-all, validate-package-freshness

fix(granola-migrate): restore homebrew PATH and skip budget on failure
  modules/home-manager/ai-cli/claude/granola-migrate.sh
Due: none

fix(granola-migrate): restore homebrew PATH and skip budget on failure (#687)
  modules/home-manager/ai-cli/claude/granola-migrate.sh
Due: none

fix(claude): use recursive=true for marketplace dirs, remove cleanup scripts
  modules/home-manager/ai-cli/claude/orphan-cleanup.nix
  modules/home-manager/ai-cli/claude/plugins.nix
  modules/home-manager/ai-cli/claude/registry.nix
  modules/home-manager/ai-cli/claude/settings.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix(claude): use recursive=true for marketplace dirs, remove cleanup scripts (#688)
  modules/home-manager/ai-cli/claude/orphan-cleanup.nix
  modules/home-manager/ai-cli/claude/plugins.nix
  modules/home-manager/ai-cli/claude/registry.nix
  modules/home-manager/ai-cli/claude/settings.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix(git): run pre-push hook on changed files only, not --all-files
  modules/home-manager/git/hooks.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix(git): run pre-push hook on changed files only, handle deletions and use read -r
  modules/home-manager/git/hooks.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix(git): use merge-base with remote default branch for new-branch pre-push
  modules/home-manager/git/hooks.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

feat(dock): add Microsoft Outlook to persistent Dock bar
  modules/darwin/dock/persistent-apps.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

chore: bump ai-workflows callers to v0.3.1
  .github/workflows/best-practices.yml
  .github/workflows/ci-fix.yml
  .github/workflows/claude-review.yml
  .github/workflows/code-simplifier.yml
  .github/workflows/final-pr-review.yml
  .github/workflows/issue-auto-resolve.yml
  .github/workflows/issue-hygiene.yml
  .github/workflows/issue-pipeline.yml
  .github/workflows/issue-sweeper.yml
  .github/workflows/next-steps.yml
  .github/workflows/post-merge-docs-review.yml
  .github/workflows/post-merge-tests.yml
Due: none

fix(claude): resolve marketplace symlink permission errors on darwin-rebuild
  modules/home-manager/ai-cli/claude/orphan-cleanup.nix
  modules/home-manager/ai-cli/claude/scripts/verify-cache-integrity.sh
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix(claude): resolve marketplace symlink permission errors on darwin-rebuild (#698)
  modules/home-manager/ai-cli/claude/orphan-cleanup.nix
  modules/home-manager/ai-cli/claude/scripts/verify-cache-integrity.sh
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix(ci): add dispatch pattern for post-merge workflows (#701)
  .github/workflows/post-merge-docs-review.yml
  .github/workflows/post-merge-tests.yml
  .github/zizmor.yml
Due: none

feat(claude): pin statusline to semver ^1, set effort medium, add 1M context disable (#700)
  .claude/rules/ai-cli-module.md
  modules/home-manager/ai-cli/claude-config.nix
  modules/home-manager/ai-cli/claude/statusline/powerline.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, validate-permission-wildcards, file-size-check, lychee

feat(darwin): add local whisper/voice/AI tooling
  MANIFEST.md
  modules/darwin/common.nix
  modules/darwin/homebrew.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check, lychee, validate-nix-before-all

fix(open-webui): install via uv tool since nixpkgs is broken on darwin
  .pre-commit-config.yaml
  MANIFEST.md
  modules/darwin/common.nix
  modules/home-manager/common.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check, lychee

feat(darwin): add local whisper/voice/AI tooling (#702)
  .pre-commit-config.yaml
  MANIFEST.md
  flake.lock
  modules/darwin/common.nix
  modules/darwin/homebrew.nix
  modules/home-manager/common.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check, lychee, validate-nix-before-all, validate-package-freshness

feat(packages): add cspell system-wide spell checker
  modules/common/packages.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

feat(ci): unified issue dispatch pattern with AI-created issue support
  .github/workflows/issue-auto-resolve.yml
Due: none

fix(terraform-shell): remove broken checkov and terrascan packages (#706)
  shells/terraform/flake.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

docs(CLAUDE.md): update build validation guidance to reflect CI enforcement
  AGENTS.md
Due: file-size-check, lychee

fix(pre-commit): remove darwin-rebuild from pre-push hook (#709)
  .pre-commit-config.yaml
  AGENTS.md
Due: file-size-check, lychee

feat(ci): unified issue dispatch pattern with AI-created issue support (#710)
  .github/workflows/issue-auto-resolve.yml
Due: none

feat(packages): add cspell system-wide spell checker (#707)
  cspell.json
  modules/common/packages.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix(claude): make attribution a proper Nix option, remove hardcoded Co-Authored-By (#711)
  .claude/commands/flake-rebuild.md
  lib/claude-settings.nix
  modules/home-manager/ai-cli/claude-config.nix
  modules/home-manager/ai-cli/claude/options.nix
  modules/home-manager/ai-cli/claude/settings.nix
  modules/home-manager/ai-cli/maestro/playbooks/issue-resolver/4_EXECUTE_FIX.md
Due: nix-fmt-check, nix-statix, nix-deadnix, validate-permission-wildcards, file-size-check, lychee

feat(claude): enable remoteControlAtStartup for all sessions
  modules/home-manager/ai-cli/claude-config.nix
  modules/home-manager/ai-cli/claude/options.nix
  modules/home-manager/ai-cli/claude/settings.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, validate-permission-wildcards, file-size-check

feat(claude): also write remoteControlAtStartup to settings.json
  modules/home-manager/ai-cli/claude/settings.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

feat(zsh): add brew update on startup, fix background tasks, clean initContent
  modules/home-manager/common.nix
  modules/home-manager/zsh/macos-setup.zsh
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

refactor(claude): extract inline shell scripts to dedicated .sh files
  modules/home-manager/ai-cli/claude/default.nix
  modules/home-manager/ai-cli/claude/orphan-cleanup.nix
  modules/home-manager/ai-cli/claude/registry.nix
  modules/home-manager/ai-cli/claude/scripts/cleanup-broken-symlinks.sh
  modules/home-manager/ai-cli/claude/scripts/cleanup-conflicting-symlinks.sh
  modules/home-manager/ai-cli/claude/scripts/cleanup-marketplaces-symlink.sh
  modules/home-manager/ai-cli/claude/scripts/cleanup-stale-symlinks.sh
  modules/home-manager/ai-cli/claude/scripts/remote-control-startup.sh
  modules/home-manager/ai-cli/claude/scripts/wakatime-config.sh
  modules/home-manager/ai-cli/claude/settings.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

chore: bump ai-workflows callers to v0.5.0
  .github/workflows/best-practices.yml
  .github/workflows/ci-fix.yml
  .github/workflows/claude-review.yml
  .github/workflows/code-simplifier.yml
  .github/workflows/final-pr-review.yml
  .github/workflows/issue-auto-resolve.yml
  .github/workflows/issue-hygiene.yml
  .github/workflows/issue-pipeline.yml
  .github/workflows/issue-sweeper.yml
  .github/workflows/next-steps.yml
  .github/workflows/post-merge-docs-review.yml
  .github/workflows/post-merge-tests.yml
Due: none

chore: bump ai-workflows callers to v0.5.0 (#719)
  .github/workflows/best-practices.yml
  .github/workflows/ci-fix.yml
  .github/workflows/claude-review.yml
  .github/workflows/code-simplifier.yml
  .github/workflows/final-pr-review.yml
  .github/workflows/issue-auto-resolve.yml
  .github/workflows/issue-hygiene.yml
  .github/workflows/issue-pipeline.yml
  .github/workflows/issue-sweeper.yml
  .github/workflows/next-steps.yml
  .github/workflows/post-merge-docs-review.yml
  .github/workflows/post-merge-tests.yml
Due: none

feat: migrate granola-watcher to vault, remove from public repo (#724)
  modules/home-manager/ai-cli/claude-config.nix
  modules/home-manager/ai-cli/claude/default.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, validate-permission-wildcards, file-size-check

feat: add SOPS-encrypted pre-commit hook for keyword scanning
  .pre-commit-config.yaml
  .sops.yaml
  private-patterns.sops.json
  scripts/check-private-identifiers.sh
Due: none

fix: scrub hint language from pre-commit comment
  .pre-commit-config.yaml
Due: none

refactor: remove duplicated transformation in mcp/default.nix
  modules/home-manager/ai-cli/mcp/default.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

refactor: simplify MCP server catalog to idiomatic Nix
  modules/home-manager/ai-cli/claude-config.nix
  modules/home-manager/ai-cli/mcp/README.md
  modules/home-manager/ai-cli/mcp/default.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, validate-permission-wildcards, file-size-check, lychee

fix: address PR review feedback
  modules/home-manager/ai-cli/claude-config.nix
  modules/home-manager/ai-cli/mcp/README.md
  modules/home-manager/ai-cli/mcp/default.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, validate-permission-wildcards, file-size-check, lychee

Path conditions:
  nix-fmt-check: any of: \.nix$, but not: ^worktrees/
  nix-statix: any of: \.nix$, but not: ^worktrees/
  nix-deadnix: any of: \.nix$, but not: ^worktrees/
  validate-claude-settings: any of: \.claude/settings(\.local)?\.json$ and \.json$
  validate-permission-wildcards: any of: modules/home-manager/ai-cli/(common/(formatters|permissions)|claude-config)\.nix$
  file-size-check: any of: \.(md|nix)$
  lychee: any of: \.(md|html)$
  validate-auto-claude-scripts: any of: ^modules/home-manager/ai-cli/claude/auto-claude.*\.sh$
  validate-orchestrator-prompt: any of: ^modules/home-manager/ai-cli/claude/orchestrator-prompt\.txt$
  validate-npm-urls: any of: ^modules/home-manager/ai-cli/ai-tools\.nix$
  validate-brew-before-npm: any of: ^modules/home-manager/ai-cli/ai-tools\.nix$
  validate-nix-before-all: any of: ^modules/darwin/homebrew\.nix$
  validate-package-freshness: any of: ^flake\.lock$
