Repository JacobPEvans/nix-darwin: changes, and which pre-commit hooks are due for each by the changed paths.
All: nix-fmt-check, nix-statix, nix-deadnix, validate-claude-settings, validate-permission-wildcards, file-size-check, lychee, validate-auto-claude-scripts, validate-orchestrator-prompt, validate-npm-urls, validate-brew-before-npm, validate-nix-before-all, validate-package-freshness

Path conditions:
  nix-fmt-check: any of: \.nix$, but not: ^worktrees/
  nix-statix: any of: \.nix$, but not: ^worktrees/
  nix-deadnix: any of: \.nix$, but not: ^worktrees/
  validate-claude-settings: any of: \.claude/settings(\.local)?\.json$ and \.json$
  validate-permission-wildcards: any of: modules/home-manager/ai-cli/(common/(formatters|permissions)|claude-config)\.nix$
  file-size-check: any of: \.(md|nix)$
  lychee: any of: \.(md|html)$
  validate-auto-claude-scripts: any of: ^modules/home-manager/ai-cli/claude/auto-claude.*\.sh$
  validate-orchestrator-prompt: any of: ^modules/home-manager/ai-cli/claude/orchestrator-prompt\.txt$
  validate-npm-urls: any of: ^modules/home-manager/ai-cli/ai-tools\.nix$
  validate-brew-before-npm: any of: ^modules/home-manager/ai-cli/ai-tools\.nix$
  validate-nix-before-all: any of: ^modules/darwin/homebrew\.nix$
  validate-package-freshness: any of: ^flake\.lock$

feat(claude): enable agent teams and use default model
  modules/home-manager/ai-cli/claude-config.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, validate-permission-wildcards, file-size-check

feat(claude): enable agent teams and use default model (#551)
  modules/common/packages.nix
  modules/home-manager/ai-cli/claude-config.nix
  modules/home-manager/ai-cli/claude/options.nix
  modules/home-manager/ai-cli/claude/settings.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, validate-permission-wildcards, file-size-check

chore: enable missing JacobPEvans Claude Code plugins
  modules/home-manager/ai-cli/claude/plugins/development.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

chore: sort JacobPEvans plugins alphabetically
  modules/home-manager/ai-cli/claude/plugins/development.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

docs: clarify that nix testing is required before push
  AGENTS.md
Due: file-size-check, lychee

chore: enable missing JacobPEvans Claude Code plugins (#553)
  AGENTS.md
  modules/home-manager/ai-cli/claude/plugins/development.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check, lychee

refactor: remove command wiring, enable 6 new skill plugins
  modules/home-manager/ai-cli/claude-config.nix
  modules/home-manager/ai-cli/claude/plugins/development.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, validate-permission-wildcards, file-size-check

refactor: simplify discovery variables in claude-config.nix
  modules/home-manager/ai-cli/claude-config.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, validate-permission-wildcards, file-size-check

refactor: remove command wiring, enable 6 new skill plugins (#555)
  modules/home-manager/ai-cli/claude-config.nix
  modules/home-manager/ai-cli/claude/plugins/development.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, validate-permission-wildcards, file-size-check

chore: enable pr-review-toolkit plugin for /resolve-pr-threads skill
  modules/home-manager/ai-cli/claude/plugins/development.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix(ci): pass jacobpevans-cc-plugins to CI settings path, add eval check
  flake.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

feat: auto-discover JacobPEvans plugins from flake input (#557)
  AGENTS.md
  flake.nix
  modules/home-manager/ai-cli/claude-config.nix
  modules/home-manager/ai-cli/claude-plugins.nix
  modules/home-manager/ai-cli/claude/plugins/default.nix
  modules/home-manager/ai-cli/claude/plugins/development.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, validate-permission-wildcards, file-size-check, lychee

fix(workflow): add input validation to prevent injection
  .github/workflows/deps-update-flake.yml
Due: none

feat: add upstream-repo-updated dispatch for cross-repo triggers (#560)
  .github/workflows/deps-update-flake.yml
Due: none

feat: add cryptography to system Python environment
  modules/common/packages.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

feat: add cryptography to system Python environment (#563)
  .gitignore
  modules/common/packages.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix: add cryptography to home-manager Python environments (#565)
  modules/home-manager/ai-cli/claude/auto-claude-reporting.nix
  modules/home-manager/ai-cli/claude/auto-claude.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

feat: add plugin auto-update support and stable update channel (#566)
  modules/home-manager/ai-cli/claude-config.nix
  modules/home-manager/ai-cli/claude/default.nix
  modules/home-manager/ai-cli/claude/options.nix
  modules/home-manager/ai-cli/claude/registry.nix
  modules/home-manager/ai-cli/claude/settings.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, validate-permission-wildcards, file-size-check

feat(ai): install codex cli and official gemini vscode extension
  modules/home-manager/ai-cli/ai-tools.nix
  modules/home-manager/ai-cli/codex.nix
  modules/home-manager/common.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check, validate-npm-urls, validate-brew-before-npm

fix(vscode): remove extensions ref; update flake.lock
  flake.lock
  modules/home-manager/common.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check, validate-package-freshness

fix(vscode): remove extensions ref
  modules/home-manager/common.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

feature(xslx): add official Anthropic xlsx skill
  modules/home-manager/ai-cli/claude/plugins/external.nix
  modules/home-manager/ai-cli/claude/plugins/official.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix(plugins): correct document-skills plugin reference
  flake.lock
  modules/home-manager/ai-cli/claude/plugins/official.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check, validate-package-freshness

feat(ollama): upgrade to unstable channel for newer models
  modules/darwin/common.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

chore(plans): clean up completed implementation details
  .claude/plans/darwin-rebuild-fixes.md
  .claude/plans/deep-hopping-bonbon.md
  .claude/plans/replicated-napping-pixel.md
Due: file-size-check, lychee

chore: update flake.lock from pre-commit hooks
  flake.lock
Due: validate-package-freshness

fix: correct document-skills plugin reference (#572)
  flake.lock
  modules/home-manager/ai-cli/claude/plugins/external.nix
  modules/home-manager/ai-cli/claude/plugins/official.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check, validate-package-freshness

chore(review): address PR feedback on comments and placeholders
  .claude/plans/darwin-rebuild-fixes.md
  modules/darwin/common.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check, lychee

fix: remove commented code with hardcoded API key pattern
  modules/home-manager/ai-cli/mcp/default.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

feat: add Obsidian skills plugins (#574)
  modules/home-manager/ai-cli/claude/plugins/community.nix
  modules/home-manager/ai-cli/claude/plugins/marketplaces.nix
  modules/home-manager/ai-cli/mcp/default.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

feat(ai): install codex cli and official gemini vscode extension (#570)
  flake.lock
  modules/home-manager/ai-cli/ai-tools.nix
  modules/home-manager/ai-cli/codex.nix
  modules/home-manager/common.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check, validate-npm-urls, validate-brew-before-npm, validate-package-freshness

feat(shells): add PowerShell development shell
  shells/README.md
  shells/powershell/flake.lock
  shells/powershell/flake.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check, lychee

feat(shells): add PowerShell development shell (#575)
  shells/README.md
  shells/powershell/flake.lock
  shells/powershell/flake.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check, lychee

feat(settings): add effortLevel option with medium default
  modules/home-manager/ai-cli/claude-config.nix
  modules/home-manager/ai-cli/claude/options.nix
  modules/home-manager/ai-cli/claude/settings.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, validate-permission-wildcards, file-size-check

feat: update to claude-code-plugins v2.0.0 (8 consolidated plugins)
  flake.lock
Due: validate-package-freshness

refactor(plugins): remove redundant plugin list comment
  modules/home-manager/ai-cli/claude/plugins/development.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check
