Repository JacobPEvans/nix-darwin: changes, and which pre-commit hooks are due for each by the changed paths.
All: nix-fmt-check, nix-statix, nix-deadnix, validate-claude-settings, file-size-check, validate-auto-claude-scripts, validate-orchestrator-prompt

Path conditions:
  nix-fmt-check: any of: \.nix$, but not: ^worktrees/
  nix-statix: any of: \.nix$, but not: ^worktrees/
  nix-deadnix: any of: \.nix$, but not: ^worktrees/
  validate-claude-settings: any of: \.claude/settings(\.local)?\.json$ and \.json$
  file-size-check: any of: \.(md|nix)$
  validate-auto-claude-scripts: any of: ^modules/home-manager/ai-cli/claude/auto-claude.*\.sh$
  validate-orchestrator-prompt: any of: ^modules/home-manager/ai-cli/claude/orchestrator-prompt\.txt$

feat(aliases): add d-claude for Doppler secrets injection
  modules/home-manager/zsh/aliases.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix: remove mcpServers from settings.json (wrong location)
  lib/claude-settings.nix
  modules/home-manager/ai-cli/claude-config.nix
  modules/home-manager/ai-cli/claude/settings.nix
  modules/home-manager/common.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

feat: add MCP server packages and fix CLI registration docs
  modules/home-manager/ai-cli/ai-tools.nix
  modules/home-manager/ai-cli/claude-config.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

feat: include claude-code in daily AI dependency updates (#511)
  .github/workflows/deps-update-flake.yml
  docs/FLAKE_UPDATE_STRATEGY.md
  flake.nix
  modules/home-manager/ai-cli/maestro/default.nix
  modules/home-manager/ai-cli/maestro/maestro-cli-wrapper.sh
  modules/home-manager/ai-cli/maestro/options.nix
  modules/home-manager/ai-cli/maestro/playbooks/issue-resolver/1_SURVEY_ISSUES.md
  modules/home-manager/ai-cli/maestro/playbooks/issue-resolver/2_EVALUATE_FIXABILITY.md
  modules/home-manager/ai-cli/maestro/playbooks/issue-resolver/3_CREATE_PLAN.md
  modules/home-manager/ai-cli/maestro/playbooks/issue-resolver/4_EXECUTE_FIX.md
  modules/home-manager/ai-cli/maestro/playbooks/issue-resolver/5_CHECK_PROGRESS.md
  modules/home-manager/common.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

feat(darwin): add syslog forwarding to remote server (#514)
  lib/user-config.nix
  modules/darwin/common.nix
  modules/darwin/logging.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix: configure markdownlint MD013 line length to 160 characters
  .markdownlint-cli2.jsonc
  .markdownlint-cli2.yaml
  modules/home-manager/common.nix
  modules/home-manager/linters/markdownlint.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix: add gitignore: true to markdownlint configs
  .markdownlint-cli2.jsonc
  .markdownlint-cli2.yaml
Due: none

fix: configure markdownlint MD013 line length to 160 characters (#517)
  .markdownlint-cli2.jsonc
  .markdownlint-cli2.yaml
  modules/home-manager/common.nix
  modules/home-manager/linters/markdownlint.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix: add explicit baseBranches to Renovate config
  .github/renovate.json5
Due: none

feat: optimize CI workflow performance
  .github/workflows/_claude-settings.yml
  .github/workflows/_file-size.yml
  .github/workflows/_markdown-lint.yml
  .github/workflows/_nix-build.yml
  .github/workflows/_nix-validate.yml
  .github/workflows/ci-gate.yml
Due: none

feat: implement Claude Code hooks with notifications
  modules/home-manager/ai-cli/claude-config.nix
  modules/home-manager/ai-cli/claude/auto-claude-notify.py
  modules/home-manager/ai-cli/claude/hooks/ask-user-notify.sh
  modules/home-manager/ai-cli/claude/hooks/last-output.sh
  modules/home-manager/ai-cli/claude/settings.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix: reorder dock apps, document Quotio install, and trampoline permissions
  .lycheeignore
  docs/QUOTIO-INSTALLATION.md
  docs/TRAMPOLINE-PERMISSIONS.md
  modules/darwin/dock/persistent-apps.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

refactor: improve error handling and comment quality
  modules/darwin/auto-recovery.nix
  modules/darwin/boot-activation.nix
  modules/darwin/energy.nix
  modules/darwin/file-extensions.nix
  modules/darwin/launchd-bootstrap.nix
  modules/darwin/terminal.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix: correct matchDatasources from github-tags to git-refs for critical-infrastructure group
  .github/renovate.json5
Due: none

fix: remove unused static wrapper script file
  modules/home-manager/ai-cli/maestro/maestro-cli-wrapper.sh
Due: none

chore: remove agent-os integration
  .github/renovate.json5
  .github/workflows/deps-update-flake.yml
  .pre-commit-config.yaml
  RUNBOOK.md
  agent-os/specs/auto-claude-enhancement/orchestration.yml
  agent-os/specs/auto-claude-enhancement/spec.md
  agent-os/specs/auto-claude-enhancement/tasks.md
  agent-os/specs/claude-plugin-migration/orchestration.yml
  agent-os/specs/claude-plugin-migration/spec.md
  agent-os/specs/claude-plugin-migration/tasks.md
  agent-os/specs/directory-based-shell-profiles/spec.md
  docs/AGENT-OS.md
  docs/ANTHROPIC-ECOSYSTEM.md
  docs/DEPENDENCY-MONITORING.md
  docs/FLAKE_UPDATE_STRATEGY.md
  flake.lock
  flake.nix
  modules/home-manager/ai-cli/agent-os/default.nix
  modules/home-manager/common.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

feat: add nixpkgs-unstable overlay for GUI apps (#524)
  flake.lock
  flake.nix
  modules/darwin/common.nix
  scripts/workflows/check-package-versions.sh
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

feat: optimize CI workflow performance (#519)
  .github/workflows/_claude-settings.yml
  .github/workflows/_file-size.yml
  .github/workflows/_markdown-lint.yml
  .github/workflows/_nix-build.yml
  .github/workflows/_nix-validate.yml
  .github/workflows/ci-gate.yml
Due: none

feat: add maestro auto run integration for automated issue resolution (#513)
  flake.nix
  modules/home-manager/ai-cli/maestro/default.nix
  modules/home-manager/ai-cli/maestro/options.nix
  modules/home-manager/ai-cli/maestro/playbooks/issue-resolver/1_SURVEY_ISSUES.md
  modules/home-manager/ai-cli/maestro/playbooks/issue-resolver/2_EVALUATE_FIXABILITY.md
  modules/home-manager/ai-cli/maestro/playbooks/issue-resolver/3_CREATE_PLAN.md
  modules/home-manager/ai-cli/maestro/playbooks/issue-resolver/4_EXECUTE_FIX.md
  modules/home-manager/ai-cli/maestro/playbooks/issue-resolver/5_CHECK_PROGRESS.md
  modules/home-manager/common.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix: address PR review feedback - remove terminal.nix, fix temp file cleanup
  modules/darwin/file-extensions.nix
  modules/darwin/terminal.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

refactor: improve error handling and comment quality (#522)
  modules/darwin/auto-recovery.nix
  modules/darwin/boot-activation.nix
  modules/darwin/common.nix
  modules/darwin/energy.nix
  modules/darwin/file-extensions.nix
  modules/darwin/launchd-bootstrap.nix
  modules/darwin/terminal.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

chore: remove agent-os integration (#525)
  .github/renovate.json5
  .github/workflows/deps-update-flake.yml
  .pre-commit-config.yaml
  RUNBOOK.md
  agent-os/specs/auto-claude-enhancement/orchestration.yml
  agent-os/specs/auto-claude-enhancement/spec.md
  agent-os/specs/auto-claude-enhancement/tasks.md
  agent-os/specs/claude-plugin-migration/orchestration.yml
  agent-os/specs/claude-plugin-migration/spec.md
  agent-os/specs/claude-plugin-migration/tasks.md
  agent-os/specs/directory-based-shell-profiles/spec.md
  docs/AGENT-OS.md
  docs/ANTHROPIC-ECOSYSTEM.md
  docs/DEPENDENCY-MONITORING.md
  docs/FLAKE_UPDATE_STRATEGY.md
  flake.lock
  flake.nix
  modules/home-manager/ai-cli/agent-os/default.nix
  modules/home-manager/common.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

feat: add ansible Python package set with paramiko and jsondiff (#531)
  lib/python-environments.nix
  shells/image-building/flake.lock
  shells/image-building/flake.nix
  shells/infrastructure-automation/flake.nix
  shells/splunk-dev/flake.lock
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

style: apply nixfmt formatting
  modules/darwin/file-associations.nix
  modules/home-manager/ai-cli/claude/registry.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

feat: add ffmpeg media encoding tool
  hosts/macbook-m4/home.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

refactor: reorganize ffmpeg and fix claude exclusion
  hosts/macbook-m4/home.nix
  scripts/validate-nix-before-all.sh
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

feat: add ffmpeg media encoding tool (#534)
  hosts/macbook-m4/home.nix
  modules/darwin/logging.nix
  scripts/validate-nix-before-all.sh
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

Apply suggestion from @gemini-code-assist[bot]
  scripts/validate-nix-before-all.sh
Due: none

fix: address PR review feedback on hook scripts
  modules/home-manager/ai-cli/claude/hooks/last-output.sh
  modules/home-manager/ai-cli/claude/settings.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix: add claude to package hierarchy exclusions
  scripts/validate-nix-before-all.sh
Due: none

style: fix nix formatting
  modules/darwin/file-associations.nix
  modules/home-manager/ai-cli/claude/registry.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

feat: update ollama to latest nixpkgs, add claude-flow
  modules/home-manager/ai-cli/ai-tools.nix
  modules/home-manager/ollama.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

feat(homebrew): add Microsoft 365 apps via Mac App Store
  modules/darwin/homebrew.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix(lychee): fix config format and hook to accept rate-limited responses
  .lychee.toml
  .pre-commit-config.yaml
  shells/terraform/DEPENDENCIES.md
  shells/terraform/README.md
Due: file-size-check

docs(homebrew): add first-time install note for Microsoft 365 apps
  modules/darwin/homebrew.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

chore: exempt darwin from freshness check, add install note
  scripts/validate-package-freshness.sh
Due: none

feat(homebrew): add Microsoft 365 apps via Mac App Store (#548)
  .lychee.toml
  .pre-commit-config.yaml
  modules/darwin/homebrew.nix
  scripts/validate-package-freshness.sh
  shells/terraform/DEPENDENCIES.md
  shells/terraform/README.md
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check
