Repository JacobPEvans/nix-darwin: changes, and which pre-commit hooks are due for each by the changed paths.
All: nix-flake-check, validate-claude-settings, file-size-check, validate-auto-claude-scripts, validate-orchestrator-prompt, update-flake-inputs

nix-flake-check:
  name: Nix quality checks (format + lint + deadnix)
  entry: nix flake check --no-build --print-build-logs
  language: system
  pass_filenames: false

validate-claude-settings:
  name: Validate Claude settings
  entry: check-jsonschema --schemafile https://json.schemastore.org/claude-code-settings.json
  language: system

file-size-check:
  name: File size check (6KB warn, 12KB fail)
  entry: scripts/workflows/check-file-sizes.sh
  args:
  - CLAUDE ANTHROPIC-ECOSYSTEM TROUBLESHOOTING
  - RUNBOOK copilot-permissions-allow copilot-permissions-ask copilot-permissions-deny gemini-permissions-allow gemini-permissions-deny
  language: system
  ...

validate-auto-claude-scripts:
  name: Validate auto-claude shell scripts
  entry: bash -c 'shopt -s nullglob; rc=0; for f in modules/home-manager/ai-cli/claude/auto-claude*.sh; do zsh -n "$f" || rc=1; done; exit $rc'
  language: system
  pass_filenames: false

validate-orchestrator-prompt:
  name: Validate orchestrator prompt
  entry: bash -c 'f="modules/home-manager/ai-cli/claude/orchestrator-prompt.txt"; test -s "$f" && grep -q "CORE LOOP" "$f" && grep -q "IDENTITY" "$f"'
  language: system
  pass_filenames: false

update-flake-inputs:
  name: Update flake inputs (nixpkgs, ai-assistant-instructions, agent-os, nix-config-main)
  entry: nix flake lock --update-input nixpkgs --update-input ai-assistant-instructions --update-input agent-os --update-input nix-config-main
  language: system
  pass_filenames: false

fix(auto-claude): address PR review feedback on code quality
  modules/home-manager/ai-cli/claude/auto-claude.sh
  modules/home-manager/ai-cli/claude/bws_helper.py
Due: validate-auto-claude-scripts

fix(auto-claude): address additional PR review feedback
  modules/home-manager/ai-cli/claude/auto-claude-notify.py
  modules/home-manager/ai-cli/claude/bws_helper.py
Due: none

fix(auto-claude): address remaining PR #252 review feedback
  modules/home-manager/ai-cli/claude/bws-env.example
  modules/home-manager/ai-cli/claude/get-api-key.sh
Due: none

fix(auto-claude): remove broken BWS_ACCESS_TOKEN checks
  modules/home-manager/ai-cli/claude/auto-claude.sh
Due: validate-auto-claude-scripts

fix(bws_helper): add FileNotFoundError handling and clarify design choices
  modules/home-manager/ai-cli/claude/bws_helper.py
Due: none

refactor(auto-claude): use update_last_run function instead of duplicate inline logic
  modules/home-manager/ai-cli/claude/auto-claude.sh
Due: validate-auto-claude-scripts

docs(bws): improve setup documentation and remove outdated comments
  modules/home-manager/ai-cli/claude/auto-claude.sh
  modules/home-manager/ai-cli/claude/bws-env.example
Due: validate-auto-claude-scripts

feat(monitoring): add twice-daily utilization reports and real-time anomaly alerts
  modules/home-manager/ai-cli/claude-config.nix
  modules/home-manager/ai-cli/claude/auto-claude-db.py
  modules/home-manager/ai-cli/claude/auto-claude-digest.py
  modules/home-manager/ai-cli/claude/auto-claude-monitor.py
  modules/home-manager/ai-cli/claude/auto-claude-reporting.nix
  modules/home-manager/ai-cli/claude/auto-claude.sh
  modules/home-manager/ai-cli/claude/default.nix
Due: nix-flake-check, file-size-check, validate-auto-claude-scripts, update-flake-inputs

fix(splunk): resolve OrbStack high CPU and Splunk startup failures (#260)
  modules/darwin/apps/scripts/ensure-apfs-volume.sh
  modules/monitoring/k8s/splunk/configmap.yaml
  modules/monitoring/k8s/splunk/statefulset.yaml
Due: none

fix(auto-claude): enforce PR-first lifecycle with worktree cleanup (#261)
  modules/home-manager/ai-cli/claude/orchestrator-prompt.txt
Due: validate-orchestrator-prompt

fix(bws_helper): restore name-to-ID resolution for bws secret get
  modules/home-manager/ai-cli/claude/bws_helper.py
Due: none

fix: address PR review feedback
  .pre-commit-config.yaml
  modules/home-manager/ai-cli/claude-config.nix
  modules/home-manager/ai-cli/claude/auto-claude-db.py
  modules/home-manager/ai-cli/claude/auto-claude-digest.py
  modules/home-manager/ai-cli/claude/auto-claude-monitor.py
  modules/home-manager/ai-cli/claude/auto-claude-reporting.nix
  modules/home-manager/ai-cli/claude/bws_helper.py
  modules/home-manager/ai-cli/claude/options.nix
Due: nix-flake-check, file-size-check, update-flake-inputs

fix(monitoring): address all PR review feedback
  modules/home-manager/ai-cli/claude-config.nix
  modules/home-manager/ai-cli/claude/auto-claude-db.py
  modules/home-manager/ai-cli/claude/auto-claude-digest.py
  modules/home-manager/ai-cli/claude/auto-claude-monitor.py
  modules/home-manager/ai-cli/claude/auto-claude-reporting.nix
  modules/home-manager/ai-cli/claude/auto-claude.sh
Due: nix-flake-check, file-size-check, validate-auto-claude-scripts, update-flake-inputs

fix: resolve PR comments
  flake.lock
  modules/home-manager/ai-cli/claude-config.nix
  modules/home-manager/ai-cli/claude/bws_helper.py
  modules/home-manager/ai-cli/claude/default.nix
  modules/home-manager/ai-cli/claude/get-api-key.py
  modules/home-manager/ai-cli/claude/plugins.nix
Due: nix-flake-check, file-size-check, update-flake-inputs

refactor(auto-claude): split into modular Python components
  modules/home-manager/ai-cli/claude/auto-claude.nix
  modules/home-manager/ai-cli/claude/auto-claude.sh
  modules/home-manager/ai-cli/claude/auto_claude_postrun.py
  modules/home-manager/ai-cli/claude/auto_claude_preflight.py
  modules/home-manager/ai-cli/claude/auto_claude_utils.py
  modules/home-manager/ai-cli/claude/test-slack-notifications.py
Due: nix-flake-check, file-size-check, validate-auto-claude-scripts, update-flake-inputs

fix(auto-claude): address PR review feedback from gemini and copilot
  modules/home-manager/ai-cli/claude/auto-claude.sh
  modules/home-manager/ai-cli/claude/auto_claude_postrun.py
  modules/home-manager/ai-cli/claude/auto_claude_utils.py
  modules/home-manager/ai-cli/claude/test-slack-notifications.py
Due: validate-auto-claude-scripts

chore(deps): update flake.lock
  flake.lock
Due: none

feat(auto-claude): retrieve Slack channel and BWS token from macOS keychain
  modules/home-manager/ai-cli/claude/auto-claude.sh
Due: validate-auto-claude-scripts

fix(auto-claude): use per-user profile path for Python in launchd
  modules/home-manager/ai-cli/claude/auto-claude.nix
Due: nix-flake-check, file-size-check, update-flake-inputs

docs(auto-claude): update TESTING.md with Slack notification procedures
  modules/home-manager/ai-cli/claude/TESTING.md
Due: file-size-check

fix(auto-claude): address PR review feedback and critical bug
  modules/home-manager/ai-cli/claude/TESTING.md
  modules/home-manager/ai-cli/claude/auto-claude-notify.py
  modules/home-manager/ai-cli/claude/auto-claude.nix
  modules/home-manager/ai-cli/claude/auto-claude.sh
Due: nix-flake-check, file-size-check, validate-auto-claude-scripts, update-flake-inputs

fix(auto-claude): fix launchd environment and emit_run_event bug
  modules/home-manager/ai-cli/claude/auto-claude.sh
  modules/home-manager/ai-cli/claude/auto_claude_postrun.py
Due: validate-auto-claude-scripts

fix(auto-claude): add PYTHONPATH for launchd environment
  modules/home-manager/ai-cli/claude/auto-claude.nix
Due: nix-flake-check, file-size-check, update-flake-inputs

feat(deps): add Doppler for GPG-signed flake updates
  .github/workflows/deps-update-flake.yml
  flake.nix
  modules/common/packages.nix
Due: nix-flake-check, file-size-check, update-flake-inputs

feat(ci): GitHub App bot with GPG-signed commits
  .github/workflows/deps-update-flake.yml
  .github/workflows/review-code.yml
  flake.lock
Due: none

fix(dock): remove Terminal, add Ghostty, fix OrbStack icon
  modules/darwin/dock/persistent-apps.nix
Due: nix-flake-check, file-size-check, update-flake-inputs

docs: update TCC-sensitive apps comment to reflect current config
  modules/darwin/dock/persistent-apps.nix
Due: nix-flake-check, file-size-check, update-flake-inputs

fix(auto-claude): permanently disable autonomous maintenance
  modules/home-manager/ai-cli/claude-config.nix
Due: nix-flake-check, file-size-check, update-flake-inputs

fix: disable Claude Code Review workflow
  .github/workflows/review-code.yml
Due: none

Path conditions:
  nix-flake-check: any of: \.nix$, but not: ^worktrees/
  validate-claude-settings: any of: \.claude/settings(\.local)?\.json$ and \.json$
  file-size-check: any of: \.(md|nix)$
  validate-auto-claude-scripts: any of: ^modules/home-manager/ai-cli/claude/auto-claude.*\.sh$
  validate-orchestrator-prompt: any of: ^modules/home-manager/ai-cli/claude/orchestrator-prompt\.txt$
  update-flake-inputs: any of: \.nix$
