Repository JacobPEvans/nix-darwin: changes, and which pre-commit hooks are due for each by the changed paths.
All: nix-fmt-check, nix-statix, nix-deadnix, validate-claude-settings, file-size-check, validate-auto-claude-scripts, validate-orchestrator-prompt

Path conditions:
  nix-fmt-check: any of: \.nix$, but not: ^worktrees/
  nix-statix: any of: \.nix$, but not: ^worktrees/
  nix-deadnix: any of: \.nix$, but not: ^worktrees/
  validate-claude-settings: any of: \.claude/settings(\.local)?\.json$ and \.json$
  file-size-check: any of: \.(md|nix)$
  validate-auto-claude-scripts: any of: ^modules/home-manager/ai-cli/claude/auto-claude.*\.sh$
  validate-orchestrator-prompt: any of: ^modules/home-manager/ai-cli/claude/orchestrator-prompt\.txt$

fix(ci): use REST API for verified commits
  .github/workflows/deps-update-flake.yml
Due: none

docs: update for consolidated flake workflow
  .github/dependabot.yml
  docs/DEPENDENCY-MONITORING.md
  docs/ai-instructions-trigger-workflow.yml
Due: file-size-check

fix: disable Claude Code Review workflow
  .github/workflows/review-code.yml
Due: none

fix(auto-claude): permanently disable autonomous maintenance
  modules/home-manager/ai-cli/claude-config.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

feat(opencode): address PR review comments
  modules/home-manager/ai-cli/opencode.nix
  modules/home-manager/common.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix(opencode): remove duplicate opencode package entry
  modules/darwin/common.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

feat(ai-cli): add basic OpenCode support (#194)
  modules/darwin/common.nix
  modules/home-manager/ai-cli/opencode.nix
  modules/home-manager/common.nix
  modules/home-manager/permissions/opencode-permissions-allow.nix
  modules/home-manager/permissions/opencode-permissions-deny.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

feat(ai-orchestration): set Sonnet as default coding model
  AGENTS.md
  modules/ai-orchestration/default.nix
  modules/ai-orchestration/litellm/default.nix
  modules/ai-orchestration/skills/default.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix(ai-orchestration): add planning model and consolidate docs
  modules/ai-orchestration/skills/default.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix(cribl-edge): use full URL format for CRIBL_DIST_MASTER_URL
  docs/MONITORING.md
  docs/monitoring/KUBERNETES.md
  modules/monitoring/k8s/README.md
  modules/monitoring/k8s/cribl-edge/README.md
  modules/monitoring/k8s/cribl-edge/deployment.yaml
Due: file-size-check

fix(cribl-edge): remove data volume mount causing EBUSY errors
  modules/monitoring/k8s/cribl-edge/deployment.yaml
Due: none

feat(ai-orchestration): set Sonnet as default coding model (#289)
  AGENTS.md
  modules/ai-orchestration/default.nix
  modules/ai-orchestration/litellm/default.nix
  modules/ai-orchestration/skills/default.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

feat(terraform): expand development shell with ansible & cloud tools
  shells/terraform/DEPENDENCIES.md
  shells/terraform/README.md
  shells/terraform/flake.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix(ci): use GitHub App token for flake update automation (#292)
  .github/workflows/deps-update-flake.yml
  flake.lock
Due: none

feat(activation): prevent silent darwin-rebuild activation failures
  RUNBOOK.md
  TROUBLESHOOTING.md
  modules/darwin/common.nix
  scripts/workflows/file-size-config.sh
  scripts/workflows/monitor-system-drift.sh
  scripts/workflows/verify-activation.sh
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix(scripts): address PR review feedback for shell script robustness
  modules/darwin/common.nix
  scripts/workflows/monitor-system-drift.sh
  scripts/workflows/verify-activation.sh
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

simplify(activation): remove over-engineered scripts and unnecessary checks
  RUNBOOK.md
  TROUBLESHOOTING.md
  modules/darwin/common.nix
  scripts/workflows/monitor-system-drift.sh
  scripts/workflows/verify-activation.sh
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix(claude): use repo instead of url for github marketplaces
  lib/claude-settings.nix
  modules/home-manager/ai-cli/claude.nix
  modules/home-manager/ai-cli/claude/settings.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

docs(testing): add fresh rebuild and duplicate code debugging sections
  TESTING.md
  flake.lock
Due: file-size-check

refactor(claude): consolidate marketplace transformation into single source of truth
  lib/claude-registry.nix
  lib/claude-settings.nix
  modules/home-manager/ai-cli/claude/settings.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix(ci): require lib parameter for pure evaluation mode
  lib/claude-registry.nix
  lib/claude-settings.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix(ci): pass lib to claude-settings.nix import in flake.nix
  flake.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix(claude-plugins): align marketplace schema with options.nix
  modules/home-manager/ai-cli/claude-plugins.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

feat(packages): add pipx for Python CLI tool installation
  modules/common/packages.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

docs: standardize marketplace URL format and document transformation
  lib/claude-registry.nix
  modules/home-manager/ai-cli/claude-plugins.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

feat(packages): add uv Python package installer
  modules/common/packages.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

style: remove blank line before uv for consistency
  modules/common/packages.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix: prevent marketplace symlink conflicts and activation blocking
  modules/darwin/common.nix
  modules/home-manager/ai-cli/claude/plugins.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

debug: add finalDebug activation script to trace symlink update
  docs/investigations/research-findings.md
  modules/darwin/common.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix: add error handling to lsregister command to prevent activation failure
  modules/darwin/file-extensions.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

docs: document lsregister root cause and resolution
  TROUBLESHOOTING.md
  docs/investigations/current-system-symlink-issue.md
Due: file-size-check

feat: switch from default pull rebase to pull.ff only to hard error on non-linear pulls
  modules/home-manager/git/config.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

docs: fix misleading comment about backup cleanup behavior
  modules/home-manager/ai-cli/claude/plugins.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix: prevent marketplace symlink conflicts and activation blocking (#298)
  TROUBLESHOOTING.md
  docs/investigations/current-system-symlink-issue.md
  docs/investigations/research-findings.md
  modules/darwin/common.nix
  modules/darwin/file-extensions.nix
  modules/home-manager/ai-cli/claude/plugins.nix
  scripts/analyze-rebuild-logs.sh
  scripts/debug-activation.sh
  scripts/test-rebuild-with-logging.sh
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check
