Repository JacobPEvans/nix-darwin: changes, and which pre-commit hooks are due for each by the changed paths.
All: nix-fmt-check, nix-statix, nix-deadnix, validate-claude-settings, file-size-check, validate-auto-claude-scripts, validate-orchestrator-prompt

Path conditions:
  nix-fmt-check: any of: \.nix$, but not: ^worktrees/
  nix-statix: any of: \.nix$, but not: ^worktrees/
  nix-deadnix: any of: \.nix$, but not: ^worktrees/
  validate-claude-settings: any of: \.claude/settings(\.local)?\.json$ and \.json$
  file-size-check: any of: \.(md|nix)$
  validate-auto-claude-scripts: any of: ^modules/home-manager/ai-cli/claude/auto-claude.*\.sh$
  validate-orchestrator-prompt: any of: ^modules/home-manager/ai-cli/claude/orchestrator-prompt\.txt$

fix(openhands): rename label to 'ai:openhands' for better organization
  .github/workflows/ai-openhands.yml
  docs/AUTONOMOUS-AGENTS.md
Due: file-size-check

fix(menu-bar): handle edge cases in log parsing and exit status display
  modules/home-manager/ai-cli/claude/auto-claude-status.py
Due: none

fix(menu-bar): read exit_code from events.jsonl instead of run logs
  modules/home-manager/ai-cli/claude/auto-claude-status.py
Due: none

fix: remove terraform-proxmox repo to resolve CI failure
  modules/home-manager/ai-cli/claude-config.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix(menu-bar): restore full menu structure with status, last run, and controls (#319)
  modules/home-manager/ai-cli/claude-config.nix
  modules/home-manager/ai-cli/claude/auto-claude-status.py
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix: resolve CI failures - unused variable and duplicate headings
  docs/AUTONOMOUS-AGENTS.md
  modules/home-manager/ai-cli/crush.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

feat(keychain): add comprehensive keychain error handler and event tracking
  modules/home-manager/ai-cli/claude/keychain_error_handler.py
  modules/home-manager/ai-cli/claude/test_keychain_handler.py
Due: none

feat(auto-claude): Add terraform-proxmox repo, update schedule to 4-hour intervals, implement worktree workflow
  modules/home-manager/ai-cli/claude-config.nix
  modules/home-manager/ai-cli/claude/auto-claude.sh
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check, validate-auto-claude-scripts

fix(auto-claude): address code review feedback
  modules/home-manager/ai-cli/claude/auto-claude.sh
Due: validate-auto-claude-scripts

feat(auto-claude): autonomous continuation, stale instance cleanup, and haiku-only budget increase
  modules/home-manager/ai-cli/claude/auto-claude.nix
  modules/home-manager/ai-cli/claude/auto-claude.sh
  modules/home-manager/ai-cli/claude/auto_claude_preflight.py
  modules/home-manager/ai-cli/claude/orchestrator-prompt.txt
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check, validate-auto-claude-scripts, validate-orchestrator-prompt

fix(auto-claude): change recent activity threshold from 4 hours to 1 hour
  modules/home-manager/ai-cli/claude/auto_claude_preflight.py
Due: none

fix(auto-claude): remove all git -C usage, use cwd parameter instead
  modules/home-manager/ai-cli/claude/auto_claude_preflight.py
  modules/home-manager/ai-cli/claude/auto_claude_utils.py
Due: none

fix(auto-claude): address review comments - improve PID detection and exception logging
  modules/home-manager/ai-cli/claude/auto_claude_preflight.py
Due: none

No changes needed - user already addressed review feedback (#216)
  .github/PULL_REQUEST_TEMPLATE.md
Due: file-size-check

feat(contributing): restore personality and humor to CONTRIBUTING.md
  .lycheeignore
  CONTRIBUTING.md
Due: file-size-check

security(pii): remove hardcoded username from documentation and examples
  .github/instructions/documentation.instructions.md
  GEMINI.md
  TROUBLESHOOTING.md
  modules/monitoring/docs/cribl-edge-macos-fda-attempts.md
  modules/monitoring/docs/cribl-edge-macos.md
Due: file-size-check

feat(precommit): add lychee and comprehensive pre-commit tooling module
  .pre-commit-config.yaml
  CONTRIBUTING.md
  docs/PRECOMMIT.md
  modules/common/packages.nix
  modules/precommit-tools/default.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

config(lychee): add configuration and ignore patterns for link checking
  .lychee.toml
  .lycheeignore
Due: none

docs(pii): update documentation guidance to require placeholder paths
  .github/instructions/documentation.instructions.md
Due: file-size-check

fix(wakatime): use source.url for marketplace repo field
  lib/claude-registry.nix
  modules/home-manager/ai-cli/claude/plugins/marketplaces.nix
  modules/home-manager/ai-cli/claude/plugins/monitoring.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix(wakatime): use config.home.homeDirectory instead of $HOME
  modules/home-manager/ai-cli/claude/default.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix(darwin): ensure LaunchDaemons are bootstrapped at activation
  TROUBLESHOOTING.md
  docs/NIX-BOOT-FAILURE.md
  modules/darwin/common.nix
  modules/darwin/launchd-bootstrap.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

refactor(darwin): standardize launchd-bootstrap output format
  modules/darwin/launchd-bootstrap.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

refactor(docs): split NIX-BOOT-FAILURE.md into focused directory + fix upstream link
  TROUBLESHOOTING.md
  docs/NIX-BOOT-FAILURE.md
  docs/boot-failure/README.md
  docs/boot-failure/diagnostics.md
  docs/boot-failure/incident-log.md
  docs/boot-failure/permanent-fix.md
  docs/boot-failure/root-cause.md
  modules/darwin/launchd-bootstrap.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

feat(darwin): add automatic boot failure detection with recovery helper
  modules/darwin/auto-recovery.nix
  modules/darwin/common.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

docs: fix typo in Homebrew error section header
  docs/boot-failure/README.md
Due: file-size-check

refactor: fix stderr usage across activation scripts
  modules/darwin/activation-error-tracking.nix
  modules/darwin/common.nix
  modules/darwin/file-extensions.nix
  modules/darwin/launchd-bootstrap.nix
  modules/darwin/terminal.nix
  modules/home-manager/git/hooks.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix(darwin): add boot-activation for reliable symlink creation
  docs/boot-failure/permanent-fix.md
  docs/boot-failure/root-cause.md
  hosts/macbook-m4/home.nix
  modules/darwin/boot-activation.nix
  modules/darwin/common.nix
  modules/home-manager/nix-activation-recovery.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix(boot): add wait4path to fix race condition with /nix/store mount
  docs/boot-failure/permanent-fix.md
  docs/boot-failure/root-cause.md
  modules/darwin/boot-activation.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

docs(boot): clarify TWO bash scripts that trigger App Management
  docs/boot-failure/root-cause.md
Due: file-size-check

docs(diagnostics): add log files and new diagnostic commands
  docs/boot-failure/diagnostics.md
Due: file-size-check
