Repository JacobPEvans/nix-darwin: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, validate-claude-settings

.pre-commit-config.yaml:

# Pre-commit hooks for nix-darwin configuration
#
# Hooks run automatically via core.hooksPath (set in common.nix)
# Run manually: pre-commit run --all-files

repos:
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: check-merge-conflict
      - id: detect-private-key

  # Markdown linting (using markdownlint-cli2 which reads .markdownlint-cli2.jsonc)
  # Config file has "fix: true" to auto-fix issues
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.18.1
    hooks:
      - id: markdownlint-cli2
        files: \.md$

  # Local hooks using system-installed tools (from nix)
  - repo: local
    hooks:
      # Nix formatting with nixfmt (installed via nix)
      - id: nixfmt
        name: Format Nix files
        entry: nixfmt
        language: system
        files: \.nix$
        types: [file]

      # Claude Code settings validation - check-jsonschema installed via nix
      - id: validate-claude-settings
        name: Validate Claude settings
        entry: check-jsonschema --schemafile https://json.schemastore.org/claude-code-settings.json
        language: system
        files: '\.claude/settings(\.local)?\.json$'
        types: [json]

refactor(ci): use reusable workflows in ci-gate and standalone
  .github/workflows/README.md
  .github/workflows/ci-file-length.yml
  .github/workflows/ci-gate.yml
  .github/workflows/ci-markdownlint.yml
  .github/workflows/ci-nix.yml
  .github/workflows/ci-validate-settings.yml
  .github/workflows/ci-validate.yml
Due: none

fix(ci): use deadnix -L flag to ignore lambda patterns
  .github/workflows/ci-nix.yml
Due: none

fix(script): add explicit exit 0 after volume creation
  modules/darwin/apps/scripts/ensure-apfs-volume.sh
Due: none

fix(orbstack): add migration docs and explicit default
  modules/darwin/apps/orbstack.nix
Due: nixfmt

feat(packages): add claude-monitor to development tools
  modules/darwin/common.nix
Due: nixfmt

docs(commands): update quick-add-package for proper workflow
  .claude/commands/quick-add-package.md
Due: none

fix(commands): address review feedback for quick-add-package
  .claude/commands/quick-add-package.md
Due: none

docs(commands): update quick-add-package for proper workflow (#101)
  .claude/commands/quick-add-package.md
Due: none

fix(ci): remove duplicate flake-checker from build workflow
  .github/workflows/_nix-build.yml
Due: none

fix(claude): configure Claude Code review workflow and refactor auto-claude (#99)
  .github/workflows/README.md
  .github/workflows/_claude-settings.yml
  .github/workflows/_file-size.yml
  .github/workflows/_markdown-lint.yml
  .github/workflows/_nix-build.yml
  .github/workflows/_nix-validate.yml
  .github/workflows/ci-file-length.yml
  .github/workflows/ci-gate.yml
  .github/workflows/ci-markdownlint.yml
  .github/workflows/ci-nix.yml
  .github/workflows/ci-validate-settings.yml
  .github/workflows/ci-validate.yml
  .github/workflows/review-code.yml
  .pre-commit-config.yaml
  flake.nix
  lib/checks.nix
  modules/home-manager/ai-cli/claude/auto-claude.nix
  modules/home-manager/ai-cli/claude/auto-claude.sh
Due: nixfmt

refactor(common): extract validateClaudeSettings script (#94)
  modules/home-manager/common.nix
  modules/home-manager/scripts/validate-claude-settings.sh
Due: nixfmt

docs: address review feedback on quick-add-package
  .claude/commands/quick-add-package.md
Due: none

feat(packages): add ccusage via homebrew + update quick-add-package docs (#102)
  .claude/commands/quick-add-package.md
  hosts/proxmox/default.nix
  hosts/proxmox/home.nix
  hosts/ubuntu-server/default.nix
  hosts/ubuntu-server/home.nix
  lib/checks.nix
  modules/darwin/common.nix
  modules/darwin/finder.nix
  modules/darwin/system-ui.nix
  modules/home-manager/ai-cli/claude/registry.nix
  treefmt.toml
Due: nixfmt

fix(lint): resolve all statix and deadnix warnings across codebase
  flake.nix
  hosts/proxmox/default.nix
  hosts/proxmox/home.nix
  hosts/ubuntu-server/default.nix
  hosts/ubuntu-server/home.nix
  lib/checks.nix
  lib/claude-registry.nix
  lib/claude-settings.nix
  modules/darwin/common.nix
  modules/darwin/dock/persistent-apps.nix
  modules/darwin/finder.nix
  modules/darwin/keyboard.nix
  modules/darwin/security.nix
  modules/darwin/system-ui.nix
  modules/darwin/trackpad.nix
  modules/home-manager/ai-cli/agent-os/default.nix
  modules/home-manager/ai-cli/claude/components.nix
  modules/home-manager/ai-cli/claude/default.nix
  modules/home-manager/ai-cli/claude/registry.nix
  modules/home-manager/ai-cli/claude/settings.nix
  modules/home-manager/ai-cli/copilot.nix
  modules/home-manager/common.nix
  modules/home-manager/permissions/copilot-permissions-ask.nix
  modules/home-manager/permissions/copilot-permissions-deny.nix
  modules/home-manager/permissions/gemini-permissions-allow.nix
  modules/home-manager/permissions/gemini-permissions-ask.nix
  modules/home-manager/permissions/gemini-permissions-deny.nix
  modules/home-manager/vscode/copilot-settings.nix
Due: nixfmt

fix: restore name variable in mapAttrs callback
  lib/claude-registry.nix
Due: nixfmt

feat(hooks): add pre-git-push hook requiring darwin-rebuild
  .claude/hooks/pre-git-push.sh
  .claude/settings.json
Due: validate-claude-settings

style: collapse empty attribute sets to single line
  hosts/proxmox/default.nix
  hosts/ubuntu-server/default.nix
Due: nixfmt

fix(hooks): rewrite pre-git-push hook in Python, fix matcher
  .claude/hooks/pre-git-push.py
  .claude/hooks/pre-git-push.sh
  .claude/settings.json
Due: validate-claude-settings

docs(hooks): add input/output documentation to pre-git-push hook
  .claude/hooks/pre-git-push.py
Due: none

perf(ci): skip cache upload on PRs for faster Merge Gate
  .github/workflows/_nix-build.yml
  .github/workflows/ci-gate.yml
Due: none

fix: use past tense for NixOS release date comment
  lib/user-config.nix
Due: nixfmt

fix(lint): resolve all statix and deadnix warnings across codebase (#105)
  .claude/hooks/pre-git-push.py
  .claude/settings.json
  .github/workflows/_nix-build.yml
  .github/workflows/ci-gate.yml
  .github/workflows/review-code.yml
  .github/workflows/review-deps.yml
  flake.nix
  hosts/proxmox/home.nix
  hosts/ubuntu-server/home.nix
  hosts/windows-workstation/home.nix
  lib/checks.nix
  lib/claude-registry.nix
  lib/claude-settings.nix
  lib/user-config.nix
  modules/darwin/common.nix
  modules/darwin/dock/persistent-apps.nix
  modules/darwin/finder.nix
  modules/darwin/keyboard.nix
  modules/darwin/security.nix
  modules/darwin/system-ui.nix
  modules/darwin/trackpad.nix
  modules/home-manager/ai-cli/agent-os/default.nix
  modules/home-manager/ai-cli/claude/components.nix
  modules/home-manager/ai-cli/claude/default.nix
  modules/home-manager/ai-cli/claude/registry.nix
  modules/home-manager/ai-cli/claude/settings.nix
  modules/home-manager/ai-cli/copilot.nix
  modules/home-manager/common.nix
  modules/home-manager/permissions/copilot-permissions-ask.nix
  modules/home-manager/permissions/copilot-permissions-deny.nix
  modules/home-manager/permissions/gemini-permissions-allow.nix
  modules/home-manager/permissions/gemini-permissions-ask.nix
  modules/home-manager/permissions/gemini-permissions-deny.nix
  modules/home-manager/vscode/copilot-settings.nix
Due: nixfmt, validate-claude-settings

feat(claude): add obra/superpowers plugin marketplace integration
  flake.lock
  flake.nix
  modules/home-manager/ai-cli/claude-config.nix
Due: nixfmt

feat(ai-orchestration): Add keychain as default secrets backend
  modules/ai-orchestration/default.nix
Due: nixfmt

fix(ai-orchestration): Address PR review feedback
  modules/ai-orchestration/benchmark/default.nix
  modules/ai-orchestration/pal-mcp/default.nix
Due: nixfmt

feat(ai-cli): pretty-print JSON configs + add ghostty
  hosts/proxmox/default.nix
  hosts/ubuntu-server/default.nix
  modules/darwin/common.nix
  modules/home-manager/ai-cli/claude/registry.nix
  modules/home-manager/ai-cli/copilot.nix
  modules/home-manager/ai-cli/gemini.nix
Due: nixfmt

fix: use plutil for plist creation instead of dummy key workaround
  modules/darwin/terminal.nix
Due: nixfmt

fix: configure Terminal.app to open at 180x80 instead of 80x24 (#109)
  modules/darwin/common.nix
  modules/darwin/terminal.nix
Due: nixfmt

Update modules/home-manager/ai-cli/claude/orchestrator-prompt.txt
  modules/home-manager/ai-cli/claude/orchestrator-prompt.txt
Due: none

Update modules/home-manager/ai-cli/claude/auto-claude.sh
  modules/home-manager/ai-cli/claude/auto-claude.sh
Due: none

fix(claude): change CLAUDE_CODE_SUBAGENT_MODEL from invalid 'opus' to 'sonnet'
  modules/home-manager/ai-cli/claude-config.nix
Due: nixfmt

style: format ai-orchestration modules with nixfmt
  modules/ai-orchestration/agents/default.nix
  modules/ai-orchestration/benchmark/default.nix
  modules/ai-orchestration/default.nix
  modules/ai-orchestration/litellm/default.nix
  modules/ai-orchestration/pal-mcp/default.nix
  modules/ai-orchestration/skills/default.nix
Due: nixfmt

feat: enforce file size limits at pre-commit and CI
  .github/workflows/_file-size.yml
  .pre-commit-config.yaml
  agent-os/specs/claude-plugin-migration/tasks.md
  agent-os/specs/directory-based-shell-profiles/spec.md
  scripts/workflows/check-file-sizes.sh
Due: none

docs: add secure flake update workflow and version management (#43)
  CLAUDE.md
  RUNBOOK.md
Due: none

feat: add NixOS stable release notification workflow (#39)
  .github/workflows/nixos-release-check.yml
  lib/versions.nix
Due: nixfmt

feat(auto-claude): add orchestrator and Slack notifications
  modules/home-manager/ai-cli/claude/auto-claude-notify.py
  modules/home-manager/ai-cli/claude/auto-claude.nix
  modules/home-manager/ai-cli/claude/auto-claude.sh
  modules/home-manager/ai-cli/claude/orchestrator-prompt.txt
Due: nixfmt
