Repository JacobPEvans/nix-darwin: changes, and which pre-commit hooks are due for each by the changed paths.
All: nix-fmt-check, nix-statix, nix-deadnix, validate-claude-settings, validate-permission-wildcards, file-size-check, lychee, validate-auto-claude-scripts, validate-orchestrator-prompt, validate-npm-urls, validate-brew-before-npm, validate-nix-before-all, validate-package-freshness

Path conditions:
  nix-fmt-check: any of: \.nix$, but not: ^worktrees/
  nix-statix: any of: \.nix$, but not: ^worktrees/
  nix-deadnix: any of: \.nix$, but not: ^worktrees/
  validate-claude-settings: any of: \.claude/settings(\.local)?\.json$ and \.json$
  validate-permission-wildcards: any of: modules/home-manager/ai-cli/(common/(formatters|permissions)|claude-config)\.nix$
  file-size-check: any of: \.(md|nix)$
  lychee: any of: \.(md|html)$
  validate-auto-claude-scripts: any of: ^modules/home-manager/ai-cli/claude/auto-claude.*\.sh$
  validate-orchestrator-prompt: any of: ^modules/home-manager/ai-cli/claude/orchestrator-prompt\.txt$
  validate-npm-urls: any of: ^modules/home-manager/ai-cli/ai-tools\.nix$
  validate-brew-before-npm: any of: ^modules/home-manager/ai-cli/ai-tools\.nix$
  validate-nix-before-all: any of: ^modules/darwin/homebrew\.nix$
  validate-package-freshness: any of: ^flake\.lock$

docs(rules): update namespace resolution examples to use pr-review-toolkit
  agentsmd/rules/skill-namespace-resolution.md
Due: file-size-check, lychee

docs(rules): update namespace resolution examples to use pr-review-toolkit (#773)
  agentsmd/rules/skill-namespace-resolution.md
Due: file-size-check, lychee

refactor: remove duplicates and dead code from monorepo split
  AGENTS.md
  README.md
  flake.nix
  hosts/macbook-m4/home.nix
  hosts/proxmox/default.nix
  hosts/proxmox/flake.lock
  hosts/proxmox/flake.nix
  hosts/proxmox/home.nix
  hosts/ubuntu-server/default.nix
  hosts/ubuntu-server/flake.lock
  hosts/ubuntu-server/flake.nix
  hosts/ubuntu-server/home.nix
  hosts/windows-workstation/README.md
  hosts/windows-workstation/default.nix
  hosts/windows-workstation/flake.lock
  hosts/windows-workstation/flake.nix
  hosts/windows-workstation/home.nix
  modules/common/git-flow-next.nix
  modules/common/packages.nix
  modules/darwin/common.nix
  modules/home-manager/nix-activation-recovery.nix
  modules/home-manager/raycast-scripts.nix
  modules/linux/common.nix
  overlays/python-packages.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check, lychee

fix: remove nix-activation-recovery and raycast-scripts modules (moved to nix-home)
  hosts/macbook-m4/home.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix: add schedule→dispatch workaround for OIDC bug (claude-code-action#814) (#779)
  .github/workflows/best-practices.yml
  .github/workflows/code-simplifier.yml
  .github/workflows/next-steps.yml
  .github/zizmor.yml
Due: none

refactor: remove duplicates and dead code from monorepo split (#775)
  .claude/commands/quick-add-package.md
  .claude/plans/darwin-rebuild-fixes.md
  .claude/plans/replicated-napping-pixel.md
  .claude/rules/ai-cli-module.md
  .github/renovate.json5
  AGENTS.md
  ARCHITECTURE.md
  MANIFEST.md
  README.md
  RUNBOOK.md
  TROUBLESHOOTING.md
  docs/boot-failure/permanent-fix.md
  flake.nix
  hosts/macbook-m4/home.nix
  hosts/proxmox/default.nix
  hosts/proxmox/flake.lock
  hosts/proxmox/flake.nix
  hosts/proxmox/home.nix
  hosts/ubuntu-server/default.nix
  hosts/ubuntu-server/flake.lock
  hosts/ubuntu-server/flake.nix
  hosts/ubuntu-server/home.nix
  hosts/windows-workstation/README.md
  hosts/windows-workstation/default.nix
  hosts/windows-workstation/flake.lock
  hosts/windows-workstation/flake.nix
  hosts/windows-workstation/home.nix
  lib/checks.nix
  modules/common/git-flow-next.nix
  modules/common/packages.nix
  modules/darwin/common.nix
  modules/home-manager/nix-activation-recovery.nix
  modules/home-manager/raycast-scripts.nix
  modules/linux/common.nix
  overlays/python-packages.nix
  scripts/validate-nix-before-all.sh
  tests/shell/test_auto_claude_args.bats
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check, lychee

chore: bump ai-workflows to v0.8.0
  .github/workflows/best-practices.yml
  .github/workflows/ci-fail-issue.yml
  .github/workflows/ci-fix.yml
  .github/workflows/claude-review.yml
  .github/workflows/code-simplifier.yml
  .github/workflows/final-pr-review.yml
  .github/workflows/issue-auto-resolve.yml
  .github/workflows/issue-hygiene.yml
  .github/workflows/issue-sweeper.yml
  .github/workflows/next-steps.yml
  .github/workflows/post-merge-docs-review.yml
  .github/workflows/post-merge-tests.yml
Due: none

fix(ci): remove jacobpevans-cc-plugins from AI_INPUTS
  .github/workflows/deps-update-flake.yml
Due: none

chore: stagger AI workflow schedules
  .github/workflows/best-practices.yml
  .github/workflows/code-simplifier.yml
  .github/workflows/next-steps.yml
Due: none

fix: remove blanket auto-merge workflow
  .github/workflows/auto-merge.yml
Due: none

fix: disable hash pinning for trusted actions, use version tags
  .github/zizmor.yml
Due: none

fix: remove blanket auto-merge workflow (#789)
  .github/workflows/auto-merge.yml
Due: none

docs(open-webui): update comment with accurate darwin breakage details
  modules/darwin/common.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

chore(deps): update nix-ai and nix-home flake inputs
  flake.lock
Due: validate-package-freshness

docs(open-webui): update comment with accurate darwin breakage details (#785)
  modules/darwin/common.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix(validate-package-freshness): move jq guard before first usage, add nix/nixpkgs_2 exemptions
  scripts/validate-package-freshness.sh
Due: none

chore(deps): update nix-ai and nix-home flake inputs (#791)
  flake.lock
Due: validate-package-freshness

feat(nix): migrate to official determinateNix module with automatic GC (#792)
  flake.lock
  flake.nix
  lib/user-config.nix
  modules/darwin/common.nix
  modules/darwin/nix-storage.nix
  scripts/validate-package-freshness.sh
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check, validate-package-freshness

fix: restore CLAUDE.md symlink and apply determinateNix fix to AGENTS.md
  AGENTS.md
  CLAUDE.md
Due: file-size-check, lychee

fix(renovate): add shared preset, remove global automerge, fix deprecated matchers (#796)
  .github/renovate.json5
Due: none

feat: disable automatic triggers on Claude-executing workflows
  .github/workflows/ai-openhands.yml
  .github/workflows/best-practices.yml
  .github/workflows/ci-fix.yml
  .github/workflows/claude-review.yml
  .github/workflows/code-simplifier.yml
  .github/workflows/final-pr-review.yml
  .github/workflows/issue-auto-resolve.yml
  .github/workflows/issue-hygiene.yml
  .github/workflows/issue-sweeper.yml
  .github/workflows/next-steps.yml
  .github/workflows/post-merge-docs-review.yml
  .github/workflows/post-merge-tests.yml
  .github/workflows/review-deps.yml
Due: none

chore: remove check-package-versions.sh and its workflow (#801)
  .github/.readme-validator.yaml
  .github/workflows/README.md
  .github/workflows/deps-monitor-packages.yml
  .github/zizmor.yml
  scripts/workflows/check-package-versions.sh
Due: file-size-check, lychee

fix(update-claudebar): add input validation guards and escape version dots in sed pattern
  scripts/update-claudebar.sh
Due: none

feat: add Docker daemon log rotation and builder GC config (#803)
  hosts/macbook-m4/home.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix: remove unused lambda parameters flagged by deadnix
  hosts/macbook-m4/default.nix
  modules/darwin/activation-error-tracking.nix
  modules/darwin/auto-recovery.nix
  modules/darwin/boot-activation.nix
  modules/darwin/launchd-bootstrap.nix
  modules/darwin/logging.nix
  modules/darwin/system-ui.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix: update stale comments to reference Sparkle only (not Squirrel/ShipIt)
  hosts/macbook-m4/home.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix: remove unused lambda parameters flagged by deadnix (#808)
  hosts/macbook-m4/default.nix
  modules/darwin/activation-error-tracking.nix
  modules/darwin/auto-recovery.nix
  modules/darwin/boot-activation.nix
  modules/darwin/launchd-bootstrap.nix
  modules/darwin/logging.nix
  modules/darwin/system-ui.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix(rules): clarify magic-nix-cache version pinning and permission scoping
  .claude/rules/ci-workflows.md
Due: file-size-check, lychee

fix: guard timing steps against empty start output on early failure
  .github/workflows/_claude-settings.yml
  .github/workflows/_nix-build.yml
Due: none

ci: trigger nix-build to validate magic-nix-cache-action timing
  flake.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

feat: extract claudebar package and fold nix-update into flake update workflow
  .github/renovate.json5
  .github/workflows/deps-update-flake.yml
  flake.nix
  overlays/macos-apps.nix
  packages/claudebar.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix: add --system aarch64-darwin to nix-update for claudebar
  .github/workflows/deps-update-flake.yml
Due: none

chore: remove CI trigger comment from flake.nix
  flake.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

chore(deps): update flake inputs for second cache timing test
  flake.lock
Due: validate-package-freshness

fix: add --paginate and use :owner/:repo placeholder in Renovate check (claude)
  RUNBOOK.md
Due: file-size-check, lychee

feat: extract claudebar package and add nix-update to flake workflow (#811)
  .github/renovate.json5
  .github/workflows/deps-update-flake.yml
  flake.nix
  overlays/macos-apps.nix
  packages/claudebar.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix: correct broken nix repo reference in Renovate troubleshooting docs (#813)
  RUNBOOK.md
Due: file-size-check, lychee

fix(ci): replace magic-nix-cache-action with nix-community/cache-nix-action
  .claude/rules/ci-workflows.md
  .github/workflows/_claude-settings.yml
  .github/workflows/_nix-build.yml
  .github/workflows/ci-gate.yml
Due: file-size-check, lychee

fix: rename GH_APP_ID secret to GH_ACTION_JACOBPEVANS_APP_ID
  .github/workflows/deps-update-flake.yml
Due: none

chore(ci): add environment: automation to secret-using workflows
  .github/workflows/ai-openhands.yml
  .github/workflows/review-deps.yml
Due: none
