Repository JacobPEvans/nix-darwin: changes, and which pre-commit hooks are due for each by the changed paths.
All: nix-fmt-check, nix-statix, nix-deadnix, validate-claude-settings, validate-permission-wildcards, file-size-check, lychee, validate-auto-claude-scripts, validate-orchestrator-prompt, validate-npm-urls, validate-brew-before-npm, validate-nix-before-all, validate-package-freshness

nix-fmt-check:
  name: Nix formatting (nixfmt-rfc-style)
  entry: 'bash -c ''nixfmt --check "$@" || (echo "Run: nix fmt"; exit 1)'' --'
  language: system

nix-statix:
  name: Nix linting (statix)
  entry: statix check
  language: system
  pass_filenames: false

nix-deadnix:
  name: Nix dead code (deadnix)
  entry: deadnix -L --fail
  language: system
  pass_filenames: false

validate-claude-settings:
  name: Validate Claude settings
  entry: nix shell nixpkgs#check-jsonschema -c check-jsonschema --schemafile https://json.schemastore.org/claude-code-settings.json
  language: system

validate-permission-wildcards:
  name: Check for invalid :*:* permission patterns
  ...

file-size-check:
  name: File size check (6KB warn, 12KB fail)
  entry: scripts/workflows/check-file-sizes.sh
  language: system
  pass_filenames: false

lychee:
  name: Lychee link checker
  entry: lychee
  language: system
  pass_filenames: true

validate-auto-claude-scripts:
  name: Validate auto-claude shell scripts
  entry: bash -c 'find modules/home-manager/ai-cli/claude -name "auto-claude*.sh" -exec zsh -n {} \; || exit 1'
  language: system
  pass_filenames: false

validate-orchestrator-prompt:
  name: Validate orchestrator prompt
  entry: bash -c 'f="modules/home-manager/ai-cli/claude/orchestrator-prompt.txt"; test -s "$f" && grep -q "CORE LOOP" "$f" && grep -q "IDENTITY" "$f"'
  language: system
  pass_filenames: false

validate-npm-urls:
  name: Validate npm package URLs
  entry: scripts/validate-npm-urls.sh
  language: system
  pass_filenames: false

validate-brew-before-npm:
  name: Check homebrew before npm/bunx (hierarchy)
  entry: scripts/validate-brew-before-npm.sh
  language: system
  pass_filenames: false

validate-nix-before-all:
  name: Check nixpkgs before all others (hierarchy)
  entry: scripts/validate-nix-before-all.sh
  language: system
  pass_filenames: false

validate-package-freshness:
  name: Validate package freshness (staleness check)
  entry: scripts/validate-package-freshness.sh
  language: system
  pass_filenames: false

fix(plugins): exclude schemas dir from plugin auto-discovery
  modules/home-manager/ai-cli/claude/plugins/development.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

refactor(plugins): remove redundant plugin list comment
  modules/home-manager/ai-cli/claude/plugins/development.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

refactor(plugins): remove redundant REMOVED comment block
  modules/home-manager/ai-cli/claude/plugins/official.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

feat: update to claude-code-plugins v2.0.0 (8 consolidated plugins) (#579)
  flake.lock
  modules/home-manager/ai-cli/claude/plugins/development.nix
  scripts/validate-package-freshness.sh
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check, validate-package-freshness

feat(claude): set default startup model to opusplan
  modules/home-manager/ai-cli/claude-config.nix
  modules/home-manager/ai-cli/claude/options.nix
  modules/home-manager/ai-cli/claude/settings.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, validate-permission-wildcards, file-size-check

style(claude): group conditional model merge with other conditionals
  modules/home-manager/ai-cli/claude/settings.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

feat: add gh-aw CLI extension via Home Manager (#597)
  modules/darwin/common.nix
  modules/home-manager/ai-cli/gh-extensions/default.nix
  modules/home-manager/ai-cli/gh-extensions/gh-aw.nix
  modules/home-manager/common.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

feat(claude): set default startup model to opusplan (#599)
  modules/home-manager/ai-cli/claude-config.nix
  modules/home-manager/ai-cli/claude/options.nix
  modules/home-manager/ai-cli/claude/settings.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, validate-permission-wildcards, file-size-check

fix: update terraform shell nixpkgs pin to match other shells
  shells/terraform/flake.lock
Due: none

docs: add ansible and infrastructure-automation shells to README
  shells/README.md
Due: file-size-check, lychee

refactor: extract bash scripts from Nix files (repository rule)
  modules/home-manager/ai-cli/claude/plugins.nix
  modules/home-manager/ai-cli/claude/scripts/cleanup-marketplace-directories.sh
  modules/home-manager/ai-cli/claude/scripts/report-marketplace-diffs.sh
  modules/home-manager/ai-cli/claude/scripts/verify-cache-integrity.sh
  modules/home-manager/ai-cli/gemini.nix
  modules/home-manager/ai-cli/scripts/merge-gemini-settings.sh
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix: improve security and robustness of activation scripts
  modules/home-manager/ai-cli/claude/plugins.nix
  modules/home-manager/ai-cli/gemini.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

chore(deps): update flake inputs, move Obsidian to homebrew
  flake.lock
  modules/darwin/common.nix
  modules/darwin/dock/persistent-apps.nix
  modules/darwin/homebrew.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check, validate-nix-before-all, validate-package-freshness

chore: clean up LaunchAgents and disable auto-claude
  hosts/macbook-m4/home.nix
  modules/home-manager/ai-cli/claude-config.nix
  modules/home-manager/raycast-scripts.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, validate-permission-wildcards, file-size-check

fix: address PR review feedback on raycast-scripts module
  modules/home-manager/raycast-scripts.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

feat: disable auto-updaters for Nix-managed macOS apps
  hosts/macbook-m4/home.nix
  modules/darwin/apps/auto-update-prevention.nix
  modules/darwin/apps/default.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

feat: disable auto-updaters for Nix-managed macOS apps (#605)
  hosts/macbook-m4/home.nix
  modules/darwin/apps/auto-update-prevention.nix
  modules/darwin/apps/default.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

feat(shells): add sops/age, split ansible shell, fix direnv performance (#595)
  shells/README.md
  shells/ansible/flake.lock
  shells/ansible/flake.nix
  shells/infrastructure-automation/flake.nix
  shells/terraform/flake.lock
  shells/terraform/flake.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check, lychee

fix: address PR review comments for shell scripts and activation
  modules/home-manager/ai-cli/claude/plugins.nix
  modules/home-manager/ai-cli/claude/scripts/cleanup-marketplace-directories.sh
  modules/home-manager/ai-cli/claude/scripts/report-marketplace-diffs.sh
  modules/home-manager/ai-cli/claude/scripts/verify-cache-integrity.sh
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

refactor: thread marketplaceInputs as single attrset through module chain
  .github/workflows/deps-update-flake.yml
  docs/ANTHROPIC-ECOSYSTEM.md
  docs/DEPENDENCY-MONITORING.md
  docs/FLAKE_UPDATE_STRATEGY.md
  flake.lock
  flake.nix
  modules/home-manager/ai-cli/claude-config.nix
  modules/home-manager/ai-cli/claude-plugins.nix
  modules/home-manager/ai-cli/claude/plugins/default.nix
  modules/home-manager/ai-cli/claude/plugins/marketplaces.nix
  modules/home-manager/common.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, validate-permission-wildcards, file-size-check, lychee, validate-package-freshness

fix(claude): add marketplace cache integrity verification
  modules/home-manager/ai-cli/claude/orphan-cleanup.nix
  modules/home-manager/ai-cli/claude/scripts/verify-cache-integrity.sh
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix: restore claude-code-plugins in extraSpecialArgs
  flake.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix: address PR review feedback and close #420
  GEMINI.md
  modules/home-manager/ai-cli/scripts/merge-gemini-settings.sh
Due: file-size-check, lychee

refactor: thread marketplaceInputs as single attrset (#609)
  .github/workflows/deps-update-flake.yml
  docs/ANTHROPIC-ECOSYSTEM.md
  docs/DEPENDENCY-MONITORING.md
  docs/FLAKE_UPDATE_STRATEGY.md
  flake.lock
  flake.nix
  modules/home-manager/ai-cli/claude-config.nix
  modules/home-manager/ai-cli/claude-plugins.nix
  modules/home-manager/ai-cli/claude/plugins/default.nix
  modules/home-manager/ai-cli/claude/plugins/marketplaces.nix
  modules/home-manager/common.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, validate-permission-wildcards, file-size-check, lychee, validate-package-freshness

fix(claude): add marketplace cache integrity verification (#611)
  modules/home-manager/ai-cli/claude/orphan-cleanup.nix
  modules/home-manager/ai-cli/claude/scripts/verify-cache-integrity.sh
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix(gemini): use activation script for writable settings (#613)
  GEMINI.md
  modules/home-manager/ai-cli/gemini.nix
  modules/home-manager/ai-cli/scripts/merge-gemini-settings.sh
  modules/home-manager/common.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check, lychee

refactor: extract workflow inline scripts to standalone files
  .github/workflows/deps-update-flake.yml
  scripts/update-all-flakes.sh
  scripts/workflows/check-renovate-pr.sh
  scripts/workflows/determine-flake-inputs.sh
Due: none

chore(deps): update all shell flake inputs (#616)
  .claude/commands/flake-rebuild.md
  .github/workflows/deps-update-flake.yml
  scripts/update-all-flakes.sh
  scripts/workflows/check-renovate-pr.sh
  scripts/workflows/determine-flake-inputs.sh
  shells/containers/flake.lock
  shells/go/flake.lock
  shells/image-building/flake.lock
  shells/infrastructure-automation/flake.lock
  shells/js/flake.lock
  shells/powershell/flake.lock
  shells/python-data/flake.lock
  shells/python/flake.lock
  shells/python310/flake.lock
  shells/python312/flake.lock
  shells/python314/flake.lock
  shells/splunk-dev/flake.lock
  shells/terraform/flake.lock
Due: file-size-check, lychee

fix: update comments to reflect account-tier Opus as default model
  modules/home-manager/ai-cli/claude-config.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, validate-permission-wildcards, file-size-check

refactor(claude): use upstream defaults for model and effort, fix tgz portability (#617)
  modules/home-manager/ai-cli/claude-config.nix
  modules/home-manager/zsh/aliases.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, validate-permission-wildcards, file-size-check

fix(tmux): address PR review feedback
  modules/home-manager/tmux.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix(ai-cli): source AI CLI tools from unstable overlay for version currency
  flake.nix
  modules/darwin/common.nix
  modules/home-manager/ai-cli/ai-tools.nix
  modules/home-manager/ai-cli/codex.nix
  scripts/workflows/check-package-versions.sh
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check, validate-npm-urls, validate-brew-before-npm

feat(vscode): use activation script for writable settings
  modules/home-manager/ai-cli/gemini.nix
  modules/home-manager/ai-cli/scripts/merge-gemini-settings.sh
  modules/home-manager/common.nix
  modules/home-manager/scripts/merge-json-settings.sh
  modules/home-manager/vscode/mcp.nix
  modules/home-manager/vscode/settings.nix
  modules/home-manager/vscode/writable-config.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

Path conditions:
  nix-fmt-check: any of: \.nix$, but not: ^worktrees/
  nix-statix: any of: \.nix$, but not: ^worktrees/
  nix-deadnix: any of: \.nix$, but not: ^worktrees/
  validate-claude-settings: any of: \.claude/settings(\.local)?\.json$ and \.json$
  validate-permission-wildcards: any of: modules/home-manager/ai-cli/(common/(formatters|permissions)|claude-config)\.nix$
  file-size-check: any of: \.(md|nix)$
  lychee: any of: \.(md|html)$
  validate-auto-claude-scripts: any of: ^modules/home-manager/ai-cli/claude/auto-claude.*\.sh$
  validate-orchestrator-prompt: any of: ^modules/home-manager/ai-cli/claude/orchestrator-prompt\.txt$
  validate-npm-urls: any of: ^modules/home-manager/ai-cli/ai-tools\.nix$
  validate-brew-before-npm: any of: ^modules/home-manager/ai-cli/ai-tools\.nix$
  validate-nix-before-all: any of: ^modules/darwin/homebrew\.nix$
  validate-package-freshness: any of: ^flake\.lock$
