Repository JacobPEvans/nix-darwin: changes, and which pre-commit hooks are due for each by the changed paths.
All: nix-flake-check, validate-claude-settings, file-size-check, validate-auto-claude-scripts, validate-orchestrator-prompt, update-flake-inputs

.pre-commit-config.yaml:

# Pre-commit hooks for nix-darwin configuration
#
# Hooks run automatically via core.hooksPath (set in common.nix)
# Run manually: pre-commit run --all-files

repos:
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: check-merge-conflict
      - id: detect-private-key

  # Markdown linting (using markdownlint-cli2 which reads .markdownlint-cli2.jsonc)
  # Config file has "fix: true" to auto-fix issues
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.18.1
    hooks:
      - id: markdownlint-cli2
        files: \.md$

  # Local hooks using system-installed tools (from nix)
  - repo: local
    hooks:
      # Nix quality checks - DRY with GitHub Actions via flake checks
      # Single source of truth: checks defined in flake.nix
      # Runs: formatting (nixfmt-rfc-style), linting (statix), dead code (deadnix)
      - id: nix-flake-check
        name: Nix quality checks (format + lint + deadnix)
        entry: nix flake check --no-build --print-build-logs
        language: system
        files: \.nix$
        types: [file]
        exclude: ^worktrees/
        pass_filenames: false

      # Claude Code settings validation - check-jsonschema installed via nix
      - id: validate-claude-settings
        name: Validate Claude settings
        entry: check-jsonschema --schemafile https://json.schemastore.org/claude-code-settings.json
        language: system
        files: '\.claude/settings(\.local)?\.json$'
        types: [json]

      # File size check - DRY with GitHub Actions via shared script
      # Blocks at 12KB hard limit, warns at 6KB recommended
      # Extended (32KB): CLAUDE, ANTHROPIC-ECOSYSTEM, TROUBLESHOOTING
      # Exempt (no limit): RUNBOOK, *-permissions-*.nix files
      - id: file-size-check
        name: File size check (6KB warn, 12KB fail)
        entry: scripts/workflows/check-file-sizes.sh
        args:
          - "CLAUDE ANTHROPIC-ECOSYSTEM TROUBLESHOOTING"
          - "RUNBOOK copilot-permissions-allow copilot-permissions-ask copilot-permissions-deny gemini-permissions-allow gemini-permissions-deny"
        language: system
        files: \.(md|nix)$
        types: [file]
        pass_filenames: false

      # Auto-Claude shell script validation
      # Validates syntax of all auto-claude shell scripts
      - id: validate-auto-claude-scripts
        name: Validate auto-claude shell scripts
        entry: bash -c 'shopt -s nullglob; rc=0; for f in modules/home-manager/ai-cli/claude/auto-claude*.sh; do zsh -n "$f" || rc=1; done; exit $rc'
        language: system
        files: '^modules/home-manager/ai-cli/claude/auto-claude.*\.sh$'
        types: [file]
        pass_filenames: false

      # Orchestrator prompt validation
      # Ensures prompt file exists and contains required sections
      - id: validate-orchestrator-prompt
        name: Validate orchestrator prompt
        entry: bash -c 'f="modules/home-manager/ai-cli/claude/orchestrator-prompt.txt"; test -s "$f" && grep -q "CORE LOOP" "$f" && grep -q "IDENTITY" "$f"'
        language: system
        files: '^modules/home-manager/ai-cli/claude/orchestrator-prompt\.txt$'
        types: [file]
        pass_filenames: false

      # Flake input updates - run on .nix file changes
      # Updates critical inputs to stay current with upstream
      - id: update-flake-inputs
        name: Update flake inputs (nixpkgs, ai-assistant-instructions, agent-os, nix-config-main)
        entry: nix flake lock --update-input nixpkgs --update-input ai-assistant-instructions --update-input agent-os --update-input nix-config-main
        language: system
        files: \.nix$
        types: [file]
        pass_filenames: false

fix(ci): create single source of truth for file size config
  .github/workflows/_file-size.yml
  .pre-commit-config.yaml
  scripts/workflows/check-file-sizes.sh
  scripts/workflows/file-size-config.sh
Due: none

feat(ai-cli): unify AI agent instructions under AGENTS.md (#163)
  .github/copilot-instructions.md
  .github/workflows/_file-size.yml
  .pre-commit-config.yaml
  AGENTS.md
  CLAUDE.md
  flake.lock
  modules/home-manager/ai-cli/gemini.nix
  scripts/workflows/check-file-sizes.sh
  scripts/workflows/file-size-config.sh
Due: nix-flake-check, file-size-check, update-flake-inputs

fix: simplify ~/.config/nix symlink to point to local main worktree (#165)
  flake.lock
  flake.nix
  modules/home-manager/nix-config-symlink.nix
Due: nix-flake-check, file-size-check, update-flake-inputs

fix(statusline): prevent fork bomb by using single file creation mechanism
  modules/home-manager/ai-cli/claude/statusline/powerline.nix
Due: nix-flake-check, file-size-check, update-flake-inputs

fix(plugins): disable unused local/experimental marketplace
  flake.lock
  modules/home-manager/ai-cli/claude-config.nix
Due: nix-flake-check, file-size-check, update-flake-inputs

fix(auto-claude): retrieve BWS_ACCESS_TOKEN from keychain for Slack
  modules/home-manager/ai-cli/claude/auto-claude.sh
Due: validate-auto-claude-scripts

fix(statusline): resolve fork bomb and enable rich multi-line display (#166)
  flake.lock
  flake.nix
  modules/home-manager/ai-cli/claude/statusline/advanced.nix
  modules/home-manager/ai-cli/claude/statusline/default.nix
  modules/home-manager/ai-cli/claude/statusline/options.nix
  modules/home-manager/ai-cli/claude/statusline/powerline.nix
  modules/home-manager/ai-cli/claude/statusline/robbyrussell.nix
  modules/home-manager/common.nix
Due: nix-flake-check, file-size-check, update-flake-inputs

chore: update flake.lock
  flake.lock
Due: none

fix: correct regex matching in auto-claude-ctl.sh schedule command
  flake.lock
  modules/home-manager/ai-cli/claude/auto-claude-ctl.sh
Due: validate-auto-claude-scripts

feat(menubar): add SwiftBar status indicator for auto-claude
  flake.lock
  modules/darwin/common.nix
  modules/home-manager/ai-cli/claude-config.nix
  modules/home-manager/ai-cli/claude/default.nix
  modules/home-manager/ai-cli/claude/menubar.nix
Due: nix-flake-check, file-size-check, update-flake-inputs

fix(pre-commit): remove auto flake update hook, add .gitattributes
  .gitattributes
  .pre-commit-config.yaml
Due: none

fix(menubar): remove unused homeDir variable
  modules/home-manager/ai-cli/claude/menubar.nix
Due: nix-flake-check, file-size-check, update-flake-inputs

chore(menubar): apply nixfmt formatting
  modules/home-manager/ai-cli/claude/menubar.nix
Due: nix-flake-check, file-size-check, update-flake-inputs

fix(ci): improve flake update workflow and remove pre-commit auto-update (#176)
  .github/workflows/deps-update-flake.yml
  .pre-commit-config.yaml
Due: none

fix(hooks): only run darwin-rebuild on push if .nix files changed
  .claude/hooks/pre-git-push.py
Due: none

fix(hooks): improve exception handling and git diff parsing
  .claude/hooks/pre-git-push.py
Due: none

fix: address PR review feedback
  modules/home-manager/zsh/aliases.nix
  modules/home-manager/zsh/git-functions.zsh
Due: nix-flake-check, file-size-check, update-flake-inputs

fix(menubar): extract Python script to separate file
  modules/home-manager/ai-cli/claude/auto-claude-status.py
  modules/home-manager/ai-cli/claude/menubar.nix
Due: nix-flake-check, file-size-check, update-flake-inputs

fix(plugins): consolidate and fix Claude Code plugin system (#167)
  lib/claude-registry.nix
  modules/home-manager/ai-cli/claude-config.nix
  modules/home-manager/ai-cli/claude/plugins.nix
Due: nix-flake-check, file-size-check, update-flake-inputs

feat(zsh): add gw-a function and make d-r/nf-u require path (#177)
  flake.lock
  modules/home-manager/zsh/aliases.nix
  modules/home-manager/zsh/git-functions.zsh
Due: nix-flake-check, file-size-check, update-flake-inputs

fix(hooks): only run darwin-rebuild on push if .nix files changed (#178)
  .claude/hooks/pre-git-push.py
Due: none

fix(menubar): add type annotations and improve robustness
  modules/home-manager/ai-cli/claude/__pycache__/auto-claude-status.cpython-313.pyc
  modules/home-manager/ai-cli/claude/auto-claude-status.py
  modules/home-manager/ai-cli/claude/menubar.nix
Due: nix-flake-check, file-size-check, update-flake-inputs

Update scripts/workflows/check-file-sizes.sh
  scripts/workflows/check-file-sizes.sh
Due: none

feat(monitoring): deploy K8s stack to OrbStack with fixes
  modules/monitoring/README.md
  modules/monitoring/k8s/README.md
  modules/monitoring/k8s/cribl-edge/README.md
  modules/monitoring/k8s/cribl-edge/deployment.yaml
  modules/monitoring/k8s/otel-collector/README.md
  modules/monitoring/k8s/otel-collector/configmap.yaml
  modules/monitoring/k8s/splunk/statefulset.yaml
Due: file-size-check

fix: remove unreachable symlink check
  scripts/workflows/check-file-sizes.sh
Due: none

feat(git): add flake.lock merge driver for auto-regeneration
  .gitattributes
  modules/home-manager/common.nix
  modules/home-manager/git/config.nix
  modules/home-manager/git/merge-flakelock.sh
Due: nix-flake-check, file-size-check, update-flake-inputs

feat(claude): add missing sync and pr commands
  modules/home-manager/ai-cli/claude-config.nix
Due: nix-flake-check, file-size-check, update-flake-inputs

feat(monitoring): add Cribl Stream and connect Edge to Cribl Cloud
  modules/monitoring/k8s/cribl-edge/deployment.yaml
  modules/monitoring/k8s/cribl-stream/README.md
  modules/monitoring/k8s/cribl-stream/deployment.yaml
  modules/monitoring/k8s/cribl-stream/service-ui.yaml
  modules/monitoring/k8s/cribl-stream/service.yaml
  modules/monitoring/k8s/kustomization.yaml
Due: file-size-check

fix(menubar): correct pgrep pattern and add path escaping
  modules/home-manager/ai-cli/claude/auto-claude-status.py
Due: none

docs(monitoring): update status after Cribl Edge running as root
  PLANNING-monitoring.md
  modules/monitoring/docs/cribl-edge-macos-fda-attempts.md
Due: file-size-check

feat(menubar): add SwiftBar status indicator for auto-claude (#174)
  .gitattributes
  modules/darwin/common.nix
  modules/home-manager/ai-cli/claude-config.nix
  modules/home-manager/ai-cli/claude/__pycache__/auto-claude-status.cpython-313.pyc
  modules/home-manager/ai-cli/claude/auto-claude-status.py
  modules/home-manager/ai-cli/claude/default.nix
  modules/home-manager/ai-cli/claude/menubar.nix
  modules/home-manager/common.nix
  modules/home-manager/git/config.nix
  modules/home-manager/git/merge-flakelock.sh
Due: nix-flake-check, file-size-check, update-flake-inputs

fix: update flake.lock and improve git utility functions for worktree management
  flake.lock
  modules/home-manager/zsh/aliases.nix
  modules/home-manager/zsh/git-functions.zsh
Due: nix-flake-check, file-size-check, update-flake-inputs

fix(aliases): update ll@ alias to include detailed output format for extended attributes
  modules/home-manager/zsh/aliases.nix
Due: nix-flake-check, file-size-check, update-flake-inputs

feat: add ll@ alias for viewing extended attributes (#171)
  modules/home-manager/zsh/aliases.nix
Due: nix-flake-check, file-size-check, update-flake-inputs

fix: address critical bugs from PR review
  docs/monitoring/OLLAMA.md
  flake.nix
  modules/home-manager/ai-cli/claude/auto-claude.sh
  modules/monitoring/default.nix
  modules/monitoring/k8s/cribl-edge/service-ui.yaml
Due: nix-flake-check, file-size-check, validate-auto-claude-scripts, update-flake-inputs

fix(gemini): use tools.allowed instead of tools.core for auto-approval
  AGENTS.md
  docs/PERMISSIONS.md
  modules/home-manager/ai-cli/claude-config.nix
  modules/home-manager/ai-cli/common/default.nix
  modules/home-manager/ai-cli/common/formatters.nix
  modules/home-manager/ai-cli/gemini.nix
  modules/home-manager/common.nix
  modules/home-manager/git/config.nix
  modules/home-manager/permissions/gemini-permissions-allow.nix
  modules/home-manager/permissions/gemini-permissions-ask.nix
Due: nix-flake-check, file-size-check, update-flake-inputs
