Repository JacobPEvans/nix-darwin: changes, and which pre-commit hooks are due for each by the changed paths.
All: nix-fmt-check, nix-statix, nix-deadnix, validate-claude-settings, validate-permission-wildcards, file-size-check, lychee, validate-auto-claude-scripts, validate-orchestrator-prompt, validate-npm-urls, validate-brew-before-npm, validate-nix-before-all, validate-package-freshness

Path conditions:
  nix-fmt-check: any of: \.nix$, but not: ^worktrees/
  nix-statix: any of: \.nix$, but not: ^worktrees/
  nix-deadnix: any of: \.nix$, but not: ^worktrees/
  validate-claude-settings: any of: \.claude/settings(\.local)?\.json$ and \.json$
  validate-permission-wildcards: any of: modules/home-manager/ai-cli/(common/(formatters|permissions)|claude-config)\.nix$
  file-size-check: any of: \.(md|nix)$
  lychee: any of: \.(md|html)$
  validate-auto-claude-scripts: any of: ^modules/home-manager/ai-cli/claude/auto-claude.*\.sh$
  validate-orchestrator-prompt: any of: ^modules/home-manager/ai-cli/claude/orchestrator-prompt\.txt$
  validate-npm-urls: any of: ^modules/home-manager/ai-cli/ai-tools\.nix$
  validate-brew-before-npm: any of: ^modules/home-manager/ai-cli/ai-tools\.nix$
  validate-nix-before-all: any of: ^modules/darwin/homebrew\.nix$
  validate-package-freshness: any of: ^flake\.lock$

chore(ci): add environment: automation to secret-using workflows (#816)
  .github/workflows/ai-openhands.yml
  .github/workflows/review-deps.yml
Due: none

chore(deps): update all flake inputs
  flake.lock
Due: validate-package-freshness

fix: update ClaudeBar to v0.4.43 (#818)
  packages/claudebar.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

chore(ci): standardize release-please to central template
  .github/workflows/release-please.yml
  release-please-config.json
Due: none

feat: add daily repo health audit agentic workflow
  .github/workflows/repo-health-audit.md
Due: file-size-check, lychee

fix(repo-health-audit): add engine: copilot and use schedule: daily
  .github/workflows/repo-health-audit.md
Due: file-size-check, lychee

feat: add daily repo health audit agentic workflow (#822)
  .github/workflows/repo-health-audit.md
Due: file-size-check, lychee

feat: add LM Studio and update nix-ai/nix-home inputs for Python 3.14 + MLX
  flake.lock
  modules/darwin/homebrew.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check, validate-nix-before-all, validate-package-freshness

fix: update nix-home to include grip pygments/tabulate fix
  flake.lock
Due: validate-package-freshness

style: move LM Studio comment above attrset per reviewer suggestion
  modules/darwin/homebrew.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check, validate-nix-before-all

chore(ci): standardize release-please to central template (#823)
  .github/workflows/release-please.yml
  release-please-config.json
Due: none

feat: add HF_TOKEN to macOS Keychain exports for HuggingFace MCP
  hosts/macbook-m4/home.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

refactor: extract keychain identity constants to avoid repetition
  hosts/macbook-m4/home.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

feat: add HF_TOKEN to macOS Keychain exports for HuggingFace MCP (#827)
  hosts/macbook-m4/home.nix
  lib/user-config.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix(ci): use GitHub App token for release-please to trigger CI Gate
  .github/workflows/release-please.yml
  scripts/check-private-identifiers.sh
Due: none

fix: skip empty patterns in check-private-identifiers.sh
  scripts/check-private-identifiers.sh
Due: none

fix(ci): reduce GITHUB_TOKEN permissions to least-privilege
  .github/workflows/release-please.yml
Due: none

feat: add Splunk MCP server to Claude Code mcpServers
  hosts/macbook-m4/home.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix: address PR review feedback for splunk MCP server
  MANIFEST.md
  hosts/macbook-m4/home.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check, lychee

feat: add Splunk MCP server to Claude Code mcpServers (#829)
  MANIFEST.md
  hosts/macbook-m4/home.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check, lychee

fix: resolve quota idempotency, DRY violations, and validation in APFS volumes
  modules/darwin/apps/ai-volumes.nix
  modules/darwin/apps/scripts/ensure-apfs-volume.sh
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix: validate orbstack quota type and remove unbounded log paths
  modules/darwin/apps/ai-volumes.nix
  modules/darwin/apps/orbstack.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

feat: migrate flake.lock updates to Renovate nix manager
  .github/workflows/deps-update-flake.yml
  renovate.json
Due: none

feat: migrate flake.lock updates to Renovate nix manager (#835)
  .github/workflows/deps-update-flake.yml
  renovate.json
Due: none

feat(nix): add trusted-users and devenv cachix binary cache
  modules/darwin/nix-storage.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix: replace hardcoded username with userConfig reference in nix-storage
  modules/darwin/nix-storage.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

feat(nix): add trusted-users and devenv cachix binary cache (#837)
  modules/darwin/nix-storage.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix(nix): use list type for determinateNix.customSettings (#840)
  modules/darwin/nix-storage.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check

fix(ci): migrate copilot-setup-steps to determinate-nix-action@v3 (#842)
  .github/workflows/copilot-setup-steps.yml
Due: none

fix(ci): add pull-requests: write for release-please auto-approval
  .github/workflows/release-please.yml
Due: none

fix(homebrew): add greedy flag to microsoft-teams cask
  modules/darwin/homebrew.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check, validate-nix-before-all

fix(deps): update nix-ai to include /ship command plugin
  flake.lock
  scripts/validate-package-freshness.sh
Due: validate-package-freshness

fix(freshness): narrow git-hooks exemption to avoid matching git-hooks-nix
  scripts/validate-package-freshness.sh
Due: none

chore(deps): update flake inputs and add nixpkgs-unstable follows
  flake.lock
  flake.nix
Due: nix-fmt-check, nix-statix, nix-deadnix, file-size-check, validate-package-freshness

fix: update nix-ai flake input to latest
  flake.lock
Due: validate-package-freshness

chore: update flake inputs (picks up devenv-free nix-ai) (#861)
  flake.lock
Due: validate-package-freshness

docs: update Trio to Quartet (add nix-devenv)
  AGENTS.md
Due: file-size-check, lychee

fix: update nix-ai flake input to latest (#860)
  flake.lock
Due: validate-package-freshness

docs: fix review feedback - revert companion count, fix column header
  AGENTS.md
Due: file-size-check, lychee
